@using WebApp
@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
    var fieldModel = ViewData["fieldModel"] as WebApp.Models.FasSpekHydrantModel.ViewModel;
    ViewData["Title"] = ViewData["TitleHeader"];
    ViewData["PageName"] = "fasspekhydrant";
    ViewData["Heading"] = ViewData["TitleHeader"];
    ViewData["Category1"] = "";
    ViewData["Category2"] = "";
}

<form id="form_edit" method="post" class="panel-form">
    <div class="panel">
        <div class="panel-heading">
            <div class="title-header">@ViewData["TitleHeader"]</div>
        </div>
		<div class="panel-container">
			<div class="panel-content">
				<div class="row">
					<div class="col-lg-12">
                        <div id="form_item_id" class="form-group-none">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_hydrant", "id")<span id="label_req_id" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_id" class="form-item-field">
                               <input type="number" id="id" name="id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_hydrant","id"))" style ="width:200px;" />
                               <span class="k-invalid-msg" data-for="id"></span>
                               <input type="hidden" id="id_old" name="id_old" value="@fieldModel.id" />
                               <script>
                                   $("#id").kendoNumericTextBox({ format: "{0:N0}", decimals: 0 });
                                   $(document).ready(function () {$("#id").data('kendoNumericTextBox').value('@fieldModel.id');})
                               </script>
                           </div>
                       </div>

                       <div id="form_item_fasilitas_id" class="form-group-none">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_hydrant", "fasilitas_id")<span id="label_req_fasilitas_id" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_fasilitas_id" class="form-item-field">
                               <input type="text" id="fasilitas_id" name="fasilitas_id" class="k-textbox" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_hydrant","fasilitas_id"))"   style="width:350px;" value="@Html.Raw(fieldModel.fasilitas_id)" title="@ResxHelper.GetValue("ta_fas_spek_hydrant", "fasilitas_id") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                               <span class="k-invalid-msg" data-for="fasilitas_id"></span>
                           </div>
                       </div>

                       <div id="form_item_nomor_aset" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_hydrant", "nomor_aset")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_nomor_aset" class="form-item-field">
                               <input type="text" id="nomor_aset" name="nomor_aset" class="k-textbox"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_hydrant","nomor_aset"))"  maxlength="50" style="width:350px;" value="@Html.Raw(fieldModel.nomor_aset)" title="@ResxHelper.GetValue("ta_fas_spek_hydrant", "nomor_aset") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                               <span class="k-invalid-msg" data-for="nomor_aset"></span>
                           </div>
                       </div>

                       <div id="form_item_tipe_hydrant_id" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_hydrant", "tipe_hydrant_id")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_tipe_hydrant_id" class="form-item-field">
                               <input id="tipe_hydrant_id" name="tipe_hydrant_id"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_hydrant","tipe_hydrant_id"))" style="width:350px;" />
                               <span class="k-invalid-msg" data-for="tipe_hydrant_id"></span>
                               <script>
                                   var tipe_hydrant_id_param = {item : {value:"id",text:"nama"},parent:[{ field: 'cat_id',opr:'=', value: '64' }], order:[]};
                                   var tipe_hydrant_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: tipe_hydrant_id_param, type: "POST" } } });
                                   var tipe_hydrant_id = $("#tipe_hydrant_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: tipe_hydrant_id_ds, change:onChange_tipe_hydrant_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#tipe_hydrant_id").data("kendoComboBox").value('@fieldModel.tipe_hydrant_id'); });
                                   function onChange_tipe_hydrant_id() {if ($("#tipe_hydrant_id").data("kendoComboBox").value() != '' && $("#tipe_hydrant_id").data("kendoComboBox")._oldIndex == -1) {$("#tipe_hydrant_id").data("kendoComboBox").value('');}
                                       display_by_type();
                                   }
                               </script>
                           </div>
                       </div>

                       <div id="form_item_jenis_pompa_id" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_hydrant", "jenis_pompa_id")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_jenis_pompa_id" class="form-item-field">
                               <input id="jenis_pompa_id_select" name="jenis_pompa_id_select" style="width:350px;" />
                               <span class="k-invalid-msg" data-for="jenis_pompa_id"></span>
                               <input type="hidden" id="jenis_pompa_id" name="jenis_pompa_id" value="@fieldModel.jenis_pompa_id"   data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_hydrant","jenis_pompa_id"))" />
                               <script>
                                   var jenis_pompa_id_param = {item : {value:"id",text:"nama"},parent:[{ field: 'cat_id',opr:'=', value: '158' }], order:[]};
                                   var jenis_pompa_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: jenis_pompa_id_param, type: "POST" } } });
                                   var jenis_pompa_id = $("#jenis_pompa_id_select").kendoMultiSelect({ placeholder: "", autoClose: true, filter: 'contains', height: 200, autoBind: false, dataValueField: "value", dataTextField: "text", change: jenis_pompa_id_onChange, autoBind: false, dataSource: jenis_pompa_id_ds });
                                   $(document).ready(function () { $("#jenis_pompa_id_select").data("kendoMultiSelect").value([@fieldModel.jenis_pompa_id]); });
                                   function jenis_pompa_id_onChange() {
                                       var dataItem = $("#jenis_pompa_id_select").data("kendoMultiSelect").dataItems();
                                       var cb_val = '';
                                       var cb_text = '';
                                       for (i = 0; i < dataItem.length; i++) {
                                           cb_val += cb_val != '' ? ',' : ''; cb_val += dataItem[i].value;
                                           cb_text += cb_text != '' ? ',' : ''; cb_text += dataItem[i].text;
                                       }
                                       $("#jenis_pompa_id").val(cb_val);
                                       $("#jenis_pompa_nama").val(cb_text);
                                   }
                               </script>
                           </div>
                       </div>

                       <div id="form_item_jenis_pompa_nama" class="form-group-none">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_hydrant", "jenis_pompa_nama")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_jenis_pompa_nama" class="form-item-field">
                               <textarea type="text" id="jenis_pompa_nama" name="jenis_pompa_nama" class="k-textbox"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_hydrant","jenis_pompa_nama"))" maxlength="500" style="width:350px;" title="@ResxHelper.GetValue("ta_fas_spek_hydrant", "jenis_pompa_nama") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")">@Html.Raw(fieldModel.jenis_pompa_nama)</textarea>
                               <span class="k-invalid-msg" data-for="jenis_pompa_nama"></span>
                           </div>
                       </div>

                        <div id="form_item_jumlah_pompa" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_hydrant", "jumlah_pompa")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_jumlah_pompa" class="form-item-field">
                               <input type="number" id="jumlah_pompa" name="jumlah_pompa"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_hydrant","jumlah_pompa"))" style ="width:200px;" />
                               <span class="k-invalid-msg" data-for="jumlah_pompa"></span>
                               <script>
                                   $("#jumlah_pompa").kendoNumericTextBox({ format: "{0:N0}", decimals: 0 });
                                   $(document).ready(function () {$("#jumlah_pompa").data('kendoNumericTextBox').value('@fieldModel.jumlah_pompa');})
                               </script>
                           </div>
                       </div>

                       <div id="form_item_sistem_kerja_pompa_id" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_hydrant", "sistem_kerja_pompa_id")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_sistem_kerja_pompa_id" class="form-item-field">
                               <input id="sistem_kerja_pompa_id" name="sistem_kerja_pompa_id"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_hydrant","sistem_kerja_pompa_id"))" style="width:350px;" />
                               <span class="k-invalid-msg" data-for="sistem_kerja_pompa_id"></span>
                               <script>
                                   var sistem_kerja_pompa_id_param = {item : {value:"id",text:"nama"},parent:[{ field: 'cat_id',opr:'=', value: '78' }], order:[]};
                                   var sistem_kerja_pompa_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: sistem_kerja_pompa_id_param, type: "POST" } } });
                                   var sistem_kerja_pompa_id = $("#sistem_kerja_pompa_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: sistem_kerja_pompa_id_ds, change:onChange_sistem_kerja_pompa_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#sistem_kerja_pompa_id").data("kendoComboBox").value('@fieldModel.sistem_kerja_pompa_id'); });
                                   function onChange_sistem_kerja_pompa_id() {if ($("#sistem_kerja_pompa_id").data("kendoComboBox").value() != '' && $("#sistem_kerja_pompa_id").data("kendoComboBox")._oldIndex == -1) {$("#sistem_kerja_pompa_id").data("kendoComboBox").value('');}
                                   }
                               </script>
                           </div>
                       </div>

                       <div id="form_item_merk" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_hydrant", "merk")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_merk" class="form-item-field">
                               <input type="text" id="merk" name="merk" class="k-textbox"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_hydrant","merk"))"  maxlength="50" style="width:350px;" value="@Html.Raw(fieldModel.merk)" title="@ResxHelper.GetValue("ta_fas_spek_hydrant", "merk") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                               <span class="k-invalid-msg" data-for="merk"></span>
                           </div>
                       </div>

                        <div id="form_item_tekanan" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_hydrant", "tekanan")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_tekanan" class="form-item-field">
                               <input type="number" id="tekanan" name="tekanan"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_hydrant","tekanan"))" style ="width:200px;" />
                               <span class="k-invalid-msg" data-for="tekanan"></span>
                               <script>
                                   $("#tekanan").kendoNumericTextBox({ format: "{0:N2}", decimals: 2 });
                                   $(document).ready(function () {$("#tekanan").data('kendoNumericTextBox').value('@fieldModel.tekanan');})
                               </script>
                           </div>
                       </div>

                    <div id="form_item_photo" class="form-group">
                        <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_hydrant", "photo")<span id="label_req_photo" class="required"> *</span></div>
                        <div class="form-item-separator">:</div>
                        <div id="field_item_photo" class="form-item-field">
                            <input name="photo_file" id="photo_file" type="file" />
                            <input name="photo" id="photo" type="hidden" value="@fieldModel.photo" required data-required-msg="@ResxHelper.GetValue("Message", "RequiredTextFormat").Replace("{0}", @ResxHelper.GetValue("ta_fas_spek_hydrant", "photo"))" />
                            <script>
                                var photo_init = @Html.Raw(fieldModel.photo_init);
                                $("#photo_file").kendoUpload({multiple:true,
                                    async: {
                                        saveUrl: "@ViewBag.BaseUrl/FasSpekHydrant/save_photo",
                                        removeUrl: "@ViewBag.BaseUrl/FasSpekHydrant/remove_photo",
                                        autoUpload: true
                                    },
                                    validation: {allowedExtensions: [".jpg", ".jpeg", ".png"], maxFileSize: 256000},
                                    files: photo_init,
                                    success: onSuccessUpload,
                                    select: OnselectUpload_photo
                                });
                                function OnselectUpload_photo(e) {OnselectUpload(e, 2);}
                            </script>
                            <span class="k-label k-text-info">Allowed Extensions: ".jpg", ".jpeg", ".png"</span>
                            <br /><span class="k-label k-text-info">Maximum FileSize: @String.Format("{0:N0}", (256000 / 1024)) KB</span>
                        </div>
                    </div>

                       <div id="form_item_tgl_periksa_akhir" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_hydrant", "tgl_periksa_akhir")<span id="label_req_tgl_periksa_akhir" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_tgl_periksa_akhir" class="form-item-field">
                               <input id="dt_tgl_periksa_akhir" name="dt_tgl_periksa_akhir" data-role="datepicker" data-type="date" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_hydrant","tgl_periksa_akhir"))" style ="width:130px;" title="@ResxHelper.GetValue("ta_fas_spek_hydrant", "tgl_periksa_akhir") @ResxHelper.GetValue("Message", "IsNotValidDate")." />
                               <span class="k-invalid-msg" data-for="dt_tgl_periksa_akhir"></span>
                               <input type="hidden" id="tgl_periksa_akhir" name="tgl_periksa_akhir" value="@fieldModel.tgl_periksa_akhir" />
                               <script>
                                   $("#dt_tgl_periksa_akhir").kendoDatePicker({change:on_chage_tgl_periksa_akhir, value: "@fieldModel.dt_tgl_periksa_akhir", format: "{0:dd/MM/yyyy}" });
                                   function on_chage_tgl_periksa_akhir() {
                                       $("#tgl_periksa_akhir").val(kendo.toString($("#dt_tgl_periksa_akhir").data("kendoDatePicker").value(), "yyyy-MM-dd"));
                                   }
                               </script>
                           </div>
                       </div>

                       <div id="form_item_hasil_periksa_akhir" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_hydrant", "hasil_periksa_akhir")<span id="label_req_hasil_periksa_akhir" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_hasil_periksa_akhir" class="form-item-field">
                               <input id="hasil_periksa_akhir" name="hasil_periksa_akhir" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_hydrant","hasil_periksa_akhir"))" style="width:350px;" />
                               <span class="k-invalid-msg" data-for="hasil_periksa_akhir"></span>
                               <script>
                                   var hasil_periksa_akhir_param = {item : {value:"id",text:"nama"},parent:[{ field: 'cat_id',opr:'=', value: '155' }], order:[]};
                                   var hasil_periksa_akhir_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: hasil_periksa_akhir_param, type: "POST" } } });
                                   var hasil_periksa_akhir = $("#hasil_periksa_akhir").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: hasil_periksa_akhir_ds, change:onChange_hasil_periksa_akhir }).data("kendoComboBox");
                                   $(document).ready(function () { $("#hasil_periksa_akhir").data("kendoComboBox").value('@fieldModel.hasil_periksa_akhir'); });
                                   function onChange_hasil_periksa_akhir() {if ($("#hasil_periksa_akhir").data("kendoComboBox").value() != '' && $("#hasil_periksa_akhir").data("kendoComboBox")._oldIndex == -1) {$("#hasil_periksa_akhir").data("kendoComboBox").value('');}
                                   }
                               </script>
                           </div>
                       </div>
                  <div class="form-group"></div>
                    
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<a id="cancel" class="k-button k-button-icontext" href="#"><i class="far fa-times-circle"></i>&nbsp;<span id="btnCancelText">@ResxHelper.GetValue("Message", "Cancel")</span></a>
				<a id="save" class="k-button k-button-icontext" href="#"><i class="fas fa-save"></i>&nbsp;<span id="btnSaveText">@ResxHelper.GetValue("Message", "Save")</span></a>
			</div>
		</div>
    </div>
</form>

<script>
    var form_type = '@ViewData["form_type"]';
    function ShowHideColumn(form_type)
    {
        if(form_type=='Add')
        {
            var hiden_column = [];
            for (i = 0; i < hiden_column.length; i++) {
                $("#form_item_"+hiden_column[i]).hide();
            }
        }
        else if(form_type=='Edit')
        {
            var hiden_column = [];
            for (i = 0; i < hiden_column.length; i++) {
                $("#form_item_"+hiden_column[i]).hide();
            }
        }
    }
    function setReadOnly(form_type,opt)
    {
        if(opt==true)
        {
            if(form_type=='Add')
            {

            }
            else if(form_type=='Edit')
            {

            }
        }
        else
        {
            if(form_type=='Add')
            {

            }
            else if(form_type=='Edit')
            {

            }
        }
    }
    function display_by_type() {
        /*
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.search);
            return (results !== null) ? results[1] || 0 : false;
        }
        var ski = $.urlParam('status_kepemilikan_id');
        if (ski == '2') { //customer
            $('#label_req_serial_number').hide();
            $("#serial_number").removeAttr('required');
        } else {
            $('#label_req_serial_number').show();
            $("#serial_number").attr('required', 'required');
        }
        */
        var v = $("#tipe_hydrant_id").data("kendoComboBox").value();
        if (v == '1') { //permanen
            $('#form_item_jenis_pompa_id').show();
            $('#form_item_jumlah_pompa').show();
            $('#form_item_sistem_kerja_pompa_id').show();
        } else {
            $('#form_item_jenis_pompa_id').hide();
            $('#form_item_jumlah_pompa').hide();
            $('#form_item_sistem_kerja_pompa_id').hide();
            //
            $("#jenis_pompa_id_select").data("kendoMultiSelect").value('');
            $('#jenis_pompa_nama').val('');
            $("#jumlah_pompa").data('kendoNumericTextBox').value('');
            $("#sistem_kerja_pompa_id").data("kendoComboBox").value('');

        }
    }
    $(document).ready(function () {
        ShowHideColumn(form_type);
        setReadOnly(form_type, true);
        display_by_type();
    });
    var validatable = $("#form_edit").kendoValidator().data("kendoValidator");
    $("#save").click(function (e) {
        getListFileUpload("photo");
		setReadOnly(form_type, false);
        if (validatable.validate() === true) {
            kendo.ui.progress($("#form_edit"), true);
            $.ajax({
                url: '@ViewData["UrlAction"]', data: $('#form_edit').serialize(), type: 'POST',
                success: function (data) {
                    kendo.ui.progress($("#form_edit"), false);
                    if (data.status == 1) {
                        window.parent.notification.show({title: data.title, message: kendo.toString(data.message) }, "success");
                        if (window.parent.Reload_list_ta_fas_spek_hydrant) {
                            window.parent.Reload_list_ta_fas_spek_hydrant();
                        }else if (window.parent.reload_ta_fas_spek_hydrant) {
                            window.parent.reload_ta_fas_spek_hydrant(data.pk);
                        }
                        close_self();
                    } else if (data.status == 3) {
                        windows.parent.notification.show({ title: data.title, message: data.message }, "error");
                        setReadOnly(form_type, true);
						close_self();
                    } else {
						setReadOnly(form_type, true);
                        notification.show({ title: data.title, message: data.message }, "error");
                    }
                }
            });
        } else {
            kendo.ui.progress($("#form_edit"), false);
        }
		setReadOnly(form_type, true);
    });
    $("#cancel").kendoButton();
    $("#cancel").click(function (e) {
        close_self();
    });
    function close_self() { if (window.parent.$("#dialog_ta_fas_spek_hydrant").data("kendoWindow")) { window.parent.$("#dialog_ta_fas_spek_hydrant").data("kendoWindow").close(); } else { window.parent.$("#dialog").data("kendoWindow").close(); } }
</script>