@using WebApp
@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
    var fieldModel = ViewData["fieldModel"] as WebApp.Areas.Ref.Models.HariLiburTetapModel.ViewModel;
}
<div class="card">
    <div class="card-header">
        <div class="title-header">@ViewData["TitleHeader"]</div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">

                <div id="form_item_bulan_tanggal" class="form-item-none">
                    <div class="form-item-label">@ResxHelper.GetValue("ref_hari_libur_tetap", "bulan_tanggal")</div>
                    <div class="form-item-separator">:</div>
                    <div id="view_item_bulan_tanggal" class="form-item-view">@Html.Raw(fieldModel.bulan_tanggal)</div>
                </div>

                <div id="form_item_bulan_id" class="form-item">
                    <div class="form-item-label">@ResxHelper.GetValue("ref_hari_libur_tetap", "bulan_id")</div>
                    <div class="form-item-separator">:</div>
                    <div id="view_item_bulan_id" class="form-item-view">@Html.Raw(fieldModel.bulan_id_text)</div>
                </div>

                <div id="form_item_tanggal" class="form-item">
                    <div class="form-item-label">@ResxHelper.GetValue("ref_hari_libur_tetap", "tanggal")</div>
                    <div class="form-item-separator">:</div>
                    <div id="view_item_tanggal" class="form-item-view">@Html.Raw(fieldModel.tanggal)</div>
                </div>

                <div id="form_item_keterangan" class="form-item">
                    <div class="form-item-label">@ResxHelper.GetValue("ref_hari_libur_tetap", "keterangan")</div>
                    <div class="form-item-separator">:</div>
                    <div id="view_item_keterangan" class="form-item-view">@Html.Raw(fieldModel.keterangan)</div>
                </div>

            </div>
        </div>
    </div>
    <div class="card-footer" style="text-align:center">
        <a id="close" class="k-button k-button-icontext" href="#"><i class="far fa-times-circle"></i>&nbsp;<span id="btnCloseText">@ResxHelper.GetValue("Message", "Close", "Tutup")</span></a>
    </div>
</div>
<script>
    $("#close").kendoButton();
    $("#close").click(function (e) {
        close_self();
    });
    function onCloseDialog(e) { $('#dialog').html(''); }
    function closeDialog() { $("#dialog").data("kendoWindow").close(); }
    function close_self() { if (window.parent.$("#dialog_ref_hari_libur_tetap").data("kendoWindow")) { window.parent.$("#dialog_ref_hari_libur_tetap").data("kendoWindow").close(); } else { window.parent.$("#dialog").data("kendoWindow").close(); } }
</script>