@using WebApp
@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
    var fieldModel = ViewData["fieldModel"] as WebApp.Models.SdaAirModel.ViewModel;
	ViewData["Title"] = ViewData["TitleHeader"];
    ViewData["PageName"] = "sdaair";
    ViewData["Heading"] = ViewData["TitleHeader"];
    ViewData["Category1"] = "";
    ViewData["Category2"] = "";
}
<div class="panel panel-form">
	<div class="panel-container">
		<div class="panel-heading">
			<div class="title-header">@ViewData["TitleHeader"]</div>
		</div>
		<div class="panel-content">
			<div class="row">
				<div class="col-lg-12">

                    <div id="form_item_id" class="form-group-none">
                      <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_air", "id")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_id" class="form-item-view">@Html.Raw(fieldModel.id)</div>
                  </div>

                    <div id="form_item_ehs_area_id" class="form-group">
                      <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_air", "ehs_area_id")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_ehs_area_id" class="form-item-view">@Html.Raw(fieldModel.ehs_area_id_text)</div>
                  </div>

                    <div id="form_item_ba_id" class="form-group">
                      <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_air", "ba_id")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_ba_id" class="form-item-view">@Html.Raw(fieldModel.ba_id_text)</div>
                  </div>

                    <div id="form_item_pa_id" class="form-group">
                      <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_air", "pa_id")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_pa_id" class="form-item-view">@Html.Raw(fieldModel.pa_id_text)</div>
                  </div>

                    <div id="form_item_psa_id" class="form-group">
                      <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_air", "psa_id")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_psa_id" class="form-item-view">@Html.Raw(fieldModel.psa_id_text)</div>
                  </div>

                    <div id="form_item_bulan" class="form-group">
                      <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_air", "bulan")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_bulan" class="form-item-view">@Html.Raw(fieldModel.bulan_text)</div>
                  </div>

                    <div id="form_item_tahun" class="form-group">
                      <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_air", "tahun")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_tahun" class="form-item-view">@Html.Raw(fieldModel.tahun_text)</div>
                  </div>

                    <div id="form_item_sumber_air_id" class="form-group">
                      <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_air", "sumber_air_id")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_sumber_air_id" class="form-item-view">@Html.Raw(fieldModel.sumber_air_id_text)</div>
                  </div>

                    <div id="form_item_no_rek_air" class="form-group-none">
                      <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_air", "no_rek_air")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_no_rek_air" class="form-item-view">@Html.Raw(fieldModel.no_rek_air)</div>
                  </div>

                    <div id="form_item_konsumsi_air" class="form-group">
                      <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_air", "konsumsi_air")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_konsumsi_air" class="form-item-view">@Html.Raw(fieldModel.konsumsi_air)</div>
                  </div>

                    <div id="form_item_tagihan_air" class="form-group">
                      <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_air", "tagihan_air")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_tagihan_air" class="form-item-view">@Html.Raw(fieldModel.tagihan_air)</div>
                  </div>

                    <div id="form_item_usaha_pengurangan_air_id" class="form-group">
                      <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_air", "usaha_pengurangan_air_id")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_usaha_pengurangan_air_id" class="form-item-view">@Html.Raw(fieldModel.usaha_pengurangan_air_id_text)</div>
                  </div>

                    <div id="form_item_usaha_pengurangan_air_desc" class="form-group">
                      <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_air", "usaha_pengurangan_air_desc")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_usaha_pengurangan_air_desc" class="form-item-view">@Html.Raw(fieldModel.usaha_pengurangan_air_desc)</div>
                  </div>

                    <div id="form_item_usaha_pengurangan_air_desc_file_path" class="form-group">
                      <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_air", "usaha_pengurangan_air_desc_file_path")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_usaha_pengurangan_air_desc_file_path" class="form-item-view">@Html.Raw(fieldModel.usaha_pengurangan_air_desc_file_path)</div>
                  </div>

                    <div id="form_item_usaha_pengurangan_air_jumlah" class="form-group">
                      <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_air", "usaha_pengurangan_air_jumlah")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_usaha_pengurangan_air_jumlah" class="form-item-view">@Html.Raw(fieldModel.usaha_pengurangan_air_jumlah)</div>
                  </div>

				</div>
			</div>
		</div>
		<div class="panel-footer">
			<a id="close" class="k-button k-button-icontext" href="#"><i class="far fa-times-circle"></i>&nbsp;<span id="btnCloseText">@ResxHelper.GetValue("Message", "Close", "Tutup")</span></a>
		</div>
	</div>
</div>
<script>
    $("#close").kendoButton();
    $("#close").click(function (e) {
        close_self();
    });
    function onCloseDialog(e) { $('#dialog').html(''); }
    function closeDialog() { $("#dialog").data("kendoWindow").close(); }
    function close_self() { if (window.parent.$("#dialog_ta_sda_air").data("kendoWindow")) { window.parent.$("#dialog_ta_sda_air").data("kendoWindow").close(); } else { window.parent.$("#dialog").data("kendoWindow").close(); } }

    function display_by_type() {
        var isUseIDRekening = 0;
        var dataItem = '@Html.Raw(fieldModel.sumber_air_id)';
        if (dataItem == '1') { isUseIDRekening = 1; }
        if (isUseIDRekening == 1) {
            $('#form_item_no_rek_air').show();
        } else {
            $('#form_item_no_rek_air').hide();
        }
    }	
    $(document).ready(function () {
        display_by_type();
    });		
</script>