@using WebApp
@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
    var fieldModel = ViewData["fieldModel"] as WebApp.Models.SdaSolarModel.ViewModel;
    ViewData["Title"] = ViewData["TitleHeader"];
    ViewData["PageName"] = "sdasolar";
    ViewData["Heading"] = ViewData["TitleHeader"];
    ViewData["Category1"] = "";
    ViewData["Category2"] = "";
}

<form id="form_edit" method="post" class="panel-form">
    <div class="panel">
        <div class="panel-heading">
            <div class="title-header">@ViewData["TitleHeader"]</div>
        </div>
		<div class="panel-container">
			<div class="panel-content">
				<div class="row">
                    <div class="col-lg-12">
                        <div id="form_item_id" class="form-group-none">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_solar", "id")<span id="label_req_id" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_id" class="form-item-field">
                                <input type="number" id="id" name="id" min="0" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_sda_solar","id"))" style="width:200px;" />
                                <span class="k-invalid-msg" data-for="id"></span>
                                <input type="hidden" id="id_old" name="id_old" value="@fieldModel.id" />
                                <script>
                                   $("#id").kendoNumericTextBox({ format: "{0:N0}", decimals: 0 });
                                   $(document).ready(function () {$("#id").data('kendoNumericTextBox').value('@fieldModel.id');})
                                </script>
                            </div>
                        </div>

                        <div id="form_item_ehs_area_id" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_solar", "ehs_area_id")<span id="label_req_ehs_area_id" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_ehs_area_id" class="form-item-field">
                                <input id="ehs_area_id" name="ehs_area_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_sda_solar","ehs_area_id"))" style="width:350px;" />
                                <span class="k-invalid-msg" data-for="ehs_area_id"></span>
                                <script>
                                   var ehs_area_id_param = {item : {value:"id",text:"kode,nama"},parent:[{field:"obj_data",value:"Environment"}], order:[]};
                                   var ehs_area_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/EHSArea/LookupDataEA", dataType: "json", data: ehs_area_id_param, type: "POST" } } });
                                   var ehs_area_id = $("#ehs_area_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: ehs_area_id_ds, change:onChange_ehs_area_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#ehs_area_id").data("kendoComboBox").value('@fieldModel.ehs_area_id'); });
                                   function onChange_ehs_area_id() {if ($("#ehs_area_id").data("kendoComboBox").value() != '' && $("#ehs_area_id").data("kendoComboBox")._oldIndex == -1) {$("#ehs_area_id").data("kendoComboBox").value('');}
                                       reload_ba_id();
                                       reload_pa_id();
                                       reload_psa_id();
                                   }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_ba_id" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_solar", "ba_id")<span id="label_req_ba_id" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_ba_id" class="form-item-field">
                                <input id="ba_id" name="ba_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_sda_solar","ba_id"))" style="width:350px;" />
                                <span class="k-invalid-msg" data-for="ba_id"></span>
                                <script>
                                   var ba_id_param = {item : {value:"id",text:"kode,nama"},parent:[{ field: 'ehs_area_id',opr:'=', value: '@fieldModel.ehs_area_id' },{field:"obj_data",value:"Environment"}], order:[]};
                                   var ba_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/BusinessArea/LookupDataBA", dataType: "json", data: ba_id_param, type: "POST" } } });
                                   var ba_id = $("#ba_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: ba_id_ds, change:onChange_ba_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#ba_id").data("kendoComboBox").value('@fieldModel.ba_id'); });
                                   function onChange_ba_id() {if ($("#ba_id").data("kendoComboBox").value() != '' && $("#ba_id").data("kendoComboBox")._oldIndex == -1) {$("#ba_id").data("kendoComboBox").value('');}
                                       reload_pa_id();
                                       reload_psa_id();
                                   }
                                  function reload_ba_id(){
                                      $("#ba_id").data("kendoComboBox").value('');
                                      var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
                                      var ba_id_param = { item: { value: 'id', text: 'kode,nama' }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }], order: [] };
                                      $("#ba_id").data("kendoComboBox").dataSource.read(ba_id_param);
                                  }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_pa_id" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_solar", "pa_id")<span id="label_req_pa_id" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_pa_id" class="form-item-field">
                                <input id="pa_id" name="pa_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_sda_solar","pa_id"))" style="width:350px;" />
                                <span class="k-invalid-msg" data-for="pa_id"></span>
                                <script>
                                   var pa_id_param = {item : {value:"id",text:"kode,nama"},parent:[{ field: 'ehs_area_id',opr:'=', value: '@fieldModel.ehs_area_id' }, { field: 'ba_id',opr:'=', value: '@fieldModel.ba_id' },{field:"obj_data",value:"Environment"}], order:[]};
                                   var pa_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/PersonalArea/LookupDataPA", dataType: "json", data: pa_id_param, type: "POST" } } });
                                   var pa_id = $("#pa_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: pa_id_ds, change:onChange_pa_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#pa_id").data("kendoComboBox").value('@fieldModel.pa_id'); });
                                   function onChange_pa_id() {if ($("#pa_id").data("kendoComboBox").value() != '' && $("#pa_id").data("kendoComboBox")._oldIndex == -1) {$("#pa_id").data("kendoComboBox").value('');}
                                       reload_psa_id();
                                   }
                                  function reload_pa_id(){
                                      $("#pa_id").data("kendoComboBox").value('');
                                      var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
                                      var ba_id = $("#ba_id").data("kendoComboBox").value();
                                      var pa_id_param = { item: { value: 'id', text: 'kode,nama' }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }, { field: 'ba_id',opr:'=', value: ba_id }], order: [] };
                                      $("#pa_id").data("kendoComboBox").dataSource.read(pa_id_param);
                                  }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_psa_id" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_solar", "psa_id")<span id="label_req_psa_id" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_psa_id" class="form-item-field">
                                <input id="psa_id" name="psa_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_sda_solar","psa_id"))" style="width:350px;" />
                                <span class="k-invalid-msg" data-for="psa_id"></span>
                                <script>
                                   var psa_id_param = {item : {value:"id",text:"kode,nama"},parent:[{ field: 'ehs_area_id',opr:'=', value: '@fieldModel.ehs_area_id' }, { field: 'ba_id',opr:'=', value: '@fieldModel.ba_id' }, { field: 'pa_id',opr:'=', value: '@fieldModel.pa_id' },{field:"obj_data",value:"Environment"}], order:[]};
                                   var psa_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/PersonalSubArea/LookupDataPSA", dataType: "json", data: psa_id_param, type: "POST" } } });
                                   var psa_id = $("#psa_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: psa_id_ds, change:onChange_psa_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#psa_id").data("kendoComboBox").value('@fieldModel.psa_id'); });
                                   function onChange_psa_id() {if ($("#psa_id").data("kendoComboBox").value() != '' && $("#psa_id").data("kendoComboBox")._oldIndex == -1) {$("#psa_id").data("kendoComboBox").value('');}
                                   }
                                  function reload_psa_id(){
                                      $("#psa_id").data("kendoComboBox").value('');
                                      var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
                                      var ba_id = $("#ba_id").data("kendoComboBox").value();
                                      var pa_id = $("#pa_id").data("kendoComboBox").value();
                                      var psa_id_param = { item: { value: 'id', text: 'kode,nama' }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }, { field: 'ba_id',opr:'=', value: ba_id }, { field: 'pa_id',opr:'=', value: pa_id }], order: [] };
                                      $("#psa_id").data("kendoComboBox").dataSource.read(psa_id_param);
                                  }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_bulan" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_solar", "bulan")<span id="label_req_bulan" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_bulan" class="form-item-field">
                                <input id="bulan" name="bulan" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_sda_solar","bulan"))" style="width:250px;" />
                                <span class="k-invalid-msg" data-for="bulan"></span>
                                <script>
                                   var bulan_param = {item : {value:"id",text:"nama"},parent:[{ field: 'cat_id',opr:'=', value: '150' }], order:[{ field: 'ordinal', dir: 'asc' }]};
                                   var bulan_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: bulan_param, type: "POST" } } });
                                   var bulan = $("#bulan").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: bulan_ds, change:onChange_bulan }).data("kendoComboBox");
                                   $(document).ready(function () { $("#bulan").data("kendoComboBox").value('@fieldModel.bulan'); });
                                   function onChange_bulan() {if ($("#bulan").data("kendoComboBox").value() != '' && $("#bulan").data("kendoComboBox")._oldIndex == -1) {$("#bulan").data("kendoComboBox").value('');}
                                   }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_tahun" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_solar", "tahun")<span id="label_req_tahun" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_tahun" class="form-item-field">
                                <input id="tahun" name="tahun" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_sda_solar","tahun"))" style="width:250px;" />
                                <span class="k-invalid-msg" data-for="tahun"></span>
                                <script>
                                   var tahun_param = {item : {value:"id",text:"nama"},parent:[{ field: 'cat_id',opr:'=', value: '151' }], order:[{ field: 'ordinal', dir: 'asc' }]};
                                   var tahun_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: tahun_param, type: "POST" } } });
                                   var tahun = $("#tahun").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: tahun_ds, change:onChange_tahun }).data("kendoComboBox");
                                   $(document).ready(function () { $("#tahun").data("kendoComboBox").value('@fieldModel.tahun'); });
                                   function onChange_tahun() {if ($("#tahun").data("kendoComboBox").value() != '' && $("#tahun").data("kendoComboBox")._oldIndex == -1) {$("#tahun").data("kendoComboBox").value('');}
                                   }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_jenis_bahan_bakar_id" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_solar", "jenis_bahan_bakar")<span id="label_req_jenis_bahan_bakar_id" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_jenis_bahan_bakar_id" class="form-item-field">
                                <input id="jenis_bahan_bakar_id" name="jenis_bahan_bakar_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_sda_solar","jenis_bahan_bakar"))" style="width:350px;" />
                                <span class="k-invalid-msg" data-for="jenis_bahan_bakar_id"></span>
                                <script>
                                   var jenis_bahan_bakar_id_param = {item : {value:"id",text:"nama"},parent:[{ field: 'cat_id',opr:'=', value: '168' }], order:[]};
                                   var jenis_bahan_bakar_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: jenis_bahan_bakar_id_param, type: "POST" } } });
                                   var jenis_bahan_bakar_id = $("#jenis_bahan_bakar_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: jenis_bahan_bakar_id_ds, change:onChange_jenis_bahan_bakar_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#jenis_bahan_bakar_id").data("kendoComboBox").value('@fieldModel.jenis_bahan_bakar_id'); });
                                   function onChange_jenis_bahan_bakar_id() {if ($("#jenis_bahan_bakar_id").data("kendoComboBox").value() != '' && $("#jenis_bahan_bakar_id").data("kendoComboBox")._oldIndex == -1) {$("#jenis_bahan_bakar_id").data("kendoComboBox").value('');}
                                       var dataItem = $("#jenis_bahan_bakar_id").data("kendoComboBox").value();
                                       var satuan = '';
                                       if (dataItem != null && dataItem != undefined) {
                                            satuan = dataItem.satuan != null && dataItem.satuan != undefined ? dataItem.satuan : '';
                                       }
                                       $("#konsumsi_solar_satuan").text(satuan);
                                       $("#usaha_pengurangan_solar_jumlah_satuan").text(satuan);
                                   }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_peruntukan_solar_id" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_solar", "peruntukan_solar_id")<span id="label_req_peruntukan_solar_id" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_peruntukan_solar_id" class="form-item-field">
                                <input id="peruntukan_solar_id" name="peruntukan_solar_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_sda_solar","peruntukan_solar_id"))" style="width:350px;" />
                                <span class="k-invalid-msg" data-for="peruntukan_solar_id"></span>
                                <script>
                                   var peruntukan_solar_id_param = {item : {value:"id",text:"nama"},parent:[{ field: 'cat_id',opr:'=', value: '123' }], order:[]};
                                   var peruntukan_solar_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: peruntukan_solar_id_param, type: "POST" } } });
                                   var peruntukan_solar_id = $("#peruntukan_solar_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: peruntukan_solar_id_ds, change:onChange_peruntukan_solar_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#peruntukan_solar_id").data("kendoComboBox").value('@fieldModel.peruntukan_solar_id'); });
                                   function onChange_peruntukan_solar_id() {if ($("#peruntukan_solar_id").data("kendoComboBox").value() != '' && $("#peruntukan_solar_id").data("kendoComboBox")._oldIndex == -1) {$("#peruntukan_solar_id").data("kendoComboBox").value('');}
                                   }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_sumber_solar_id" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_solar", "sumber_solar_id")<span id="label_req_sumber_solar_id" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_sumber_solar_id" class="form-item-field">
                                <input id="sumber_solar_id" name="sumber_solar_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_sda_solar","sumber_solar_id"))" style="width:350px;" />
                                <span class="k-invalid-msg" data-for="sumber_solar_id"></span>
                                <script>
                                   var sumber_solar_id_param = {item : {value:"id",text:"nama"},parent:[{ field: 'cat_id',opr:'=', value: '126' }], order:[]};
                                   var sumber_solar_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: sumber_solar_id_param, type: "POST" } } });
                                   var sumber_solar_id = $("#sumber_solar_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: sumber_solar_id_ds, change:onChange_sumber_solar_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#sumber_solar_id").data("kendoComboBox").value('@fieldModel.sumber_solar_id'); });
                                   function onChange_sumber_solar_id() {if ($("#sumber_solar_id").data("kendoComboBox").value() != '' && $("#sumber_solar_id").data("kendoComboBox")._oldIndex == -1) {$("#sumber_solar_id").data("kendoComboBox").value('');}
                                   }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_konsumsi_solar" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_solar", "konsumsi_solar")<span id="label_req_konsumsi_solar" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_konsumsi_solar" class="form-item-field">
                                <input type="number" id="konsumsi_solar" name="konsumsi_solar" min="0" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_sda_solar","konsumsi_solar"))" style="width:200px;" />
                                <span class="k-invalid-msg" data-for="konsumsi_solar"></span>
                                <script>
                                   $("#konsumsi_solar").kendoNumericTextBox({ format: "{0:N2}", decimals: 2 });
                                   $(document).ready(function () {$("#konsumsi_solar").data('kendoNumericTextBox').value('@fieldModel.konsumsi_solar');})
                                </script>
                                <b><span id="konsumsi_solar_satuan"></span></b>
                            </div>
                        </div>

                        <div id="form_item_tagihan_solar" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_solar", "tagihan_solar")</div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_tagihan_solar" class="form-item-field">
                                <input name="tagihan_solar_file" id="tagihan_solar_file" type="file" />
                                <input name="tagihan_solar" id="tagihan_solar" type="hidden" value="@fieldModel.tagihan_solar" data-required-msg="@ResxHelper.GetValue("Message", "RequiredTextFormat").Replace("{0}", @ResxHelper.GetValue("ta_sda_solar", "tagihan_solar"))" />
                                <script>
                                var tagihan_solar_init = @Html.Raw(fieldModel.tagihan_solar_init);
                                $("#tagihan_solar_file").kendoUpload({multiple:true,
                                    async: {
                                        saveUrl: "@ViewBag.BaseUrl/SdaSolar/save_tagihan_solar",
                                        removeUrl: "@ViewBag.BaseUrl/SdaSolar/remove_tagihan_solar",
                                        autoUpload: true
                                    },
                                    validation: {allowedExtensions: [".jpg", ".jpeg", ".png", ".pdf", ".xls", ".xlsx"], maxFileSize: 2097152},
                                    files: tagihan_solar_init,
                                    success: onSuccessUpload,
                                    select: OnselectUpload_tagihan_solar
                                });
                                function OnselectUpload_tagihan_solar(e) {OnselectUpload(e, 0);}
                                </script>
                                <span class="k-label k-text-info">Allowed Extensions: ".jpg", ".jpeg", ".png", ".pdf", ".xls", ".xlsx"</span>
                                <br /><span class="k-label k-text-info">Maximum FileSize: @String.Format("{0:N0}", (2097152 / 1024)) KB</span>
                            </div>
                        </div>

                        <div id="form_item_usaha_pengurangan_solar_id" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_solar", "usaha_pengurangan_solar_id")<span id="label_req_usaha_pengurangan_solar_id" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_usaha_pengurangan_solar_id" class="form-item-field">
                                <input id="usaha_pengurangan_solar_id" name="usaha_pengurangan_solar_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_sda_solar","usaha_pengurangan_solar_id"))" style="width:350px;" />
                                <span class="k-invalid-msg" data-for="usaha_pengurangan_solar_id"></span>
                                <script>
                                   var usaha_pengurangan_solar_id_param = {item : {value:"id",text:"nama"},parent:[{ field: 'cat_id',opr:'=', value: '131' }], order:[]};
                                   var usaha_pengurangan_solar_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: usaha_pengurangan_solar_id_param, type: "POST" } } });
                                   var usaha_pengurangan_solar_id = $("#usaha_pengurangan_solar_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: usaha_pengurangan_solar_id_ds, change:onChange_usaha_pengurangan_solar_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#usaha_pengurangan_solar_id").data("kendoComboBox").value('@fieldModel.usaha_pengurangan_solar_id'); });
                                   function onChange_usaha_pengurangan_solar_id() {if ($("#usaha_pengurangan_solar_id").data("kendoComboBox").value() != '' && $("#usaha_pengurangan_solar_id").data("kendoComboBox")._oldIndex == -1) {$("#usaha_pengurangan_solar_id").data("kendoComboBox").value('');}
                                   }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_usaha_pengurangan_solar_desc" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_solar", "usaha_pengurangan_solar_desc")<span id="label_req_usaha_pengurangan_solar_desc" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_usaha_pengurangan_solar_desc" class="form-item-field">
                                <textarea type="text" id="usaha_pengurangan_solar_desc" name="usaha_pengurangan_solar_desc" class="k-textbox" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_sda_solar","usaha_pengurangan_solar_desc"))" maxlength="255" style="width:350px;" title="@ResxHelper.GetValue("ta_sda_solar", "usaha_pengurangan_solar_desc") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")">@Html.Raw(fieldModel.usaha_pengurangan_solar_desc)</textarea>
                                <span class="k-invalid-msg" data-for="usaha_pengurangan_solar_desc"></span>
                            </div>
                        </div>

                        <div id="form_item_usaha_pengurangan_solar_desc_file_path" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_solar", "usaha_pengurangan_solar_desc_file_path")</div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_usaha_pengurangan_solar_desc_file_path" class="form-item-field">
                                <input name="usaha_pengurangan_solar_desc_file_path_file" id="usaha_pengurangan_solar_desc_file_path_file" type="file" />
                                <input name="usaha_pengurangan_solar_desc_file_path" id="usaha_pengurangan_solar_desc_file_path" type="hidden" value="@fieldModel.usaha_pengurangan_solar_desc_file_path" data-required-msg="@ResxHelper.GetValue("Message", "RequiredTextFormat").Replace("{0}", @ResxHelper.GetValue("ta_sda_solar", "usaha_pengurangan_solar_desc_file_path"))" />
                                <script>
                                var usaha_pengurangan_solar_desc_file_path_init = @Html.Raw(fieldModel.usaha_pengurangan_solar_desc_file_path_init);
                                $("#usaha_pengurangan_solar_desc_file_path_file").kendoUpload({multiple:true,
                                    async: {
                                        saveUrl: "@ViewBag.BaseUrl/SdaSolar/save_usaha_pengurangan_solar_desc_file_path",
                                        removeUrl: "@ViewBag.BaseUrl/SdaSolar/remove_usaha_pengurangan_solar_desc_file_path",
                                        autoUpload: true
                                    },
                                    validation: {allowedExtensions: [".jpg", ".jpeg", ".png", ".pdf", ".xls", ".xlsx"], maxFileSize: 2097152},
                                    files: usaha_pengurangan_solar_desc_file_path_init,
                                    success: onSuccessUpload,
                                    select: OnselectUpload_usaha_pengurangan_solar_desc_file_path
                                });
                                function OnselectUpload_usaha_pengurangan_solar_desc_file_path(e) {OnselectUpload(e, 2);}
                                </script>
                                <span class="k-label k-text-info">Allowed Extensions: ".jpg", ".jpeg", ".png", ".pdf", ".xls", ".xlsx"</span>
                                <br /><span class="k-label k-text-info">Maximum FileSize: @String.Format("{0:N0}", (2097152 / 1024)) KB</span>
                            </div>
                        </div>

                        <div id="form_item_usaha_pengurangan_solar_jumlah" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_sda_solar", "usaha_pengurangan_solar_jumlah")<span id="label_req_usaha_pengurangan_solar_jumlah" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_usaha_pengurangan_solar_jumlah" class="form-item-field">
                                <input type="number" id="usaha_pengurangan_solar_jumlah" name="usaha_pengurangan_solar_jumlah" min="0" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_sda_solar","usaha_pengurangan_solar_jumlah"))" style="width:200px;" />
                                <span class="k-invalid-msg" data-for="usaha_pengurangan_solar_jumlah"></span>
                                <script>
                                   $("#usaha_pengurangan_solar_jumlah").kendoNumericTextBox({ format: "{0:N2}", decimals: 2 });
                                   $(document).ready(function () {$("#usaha_pengurangan_solar_jumlah").data('kendoNumericTextBox').value('@fieldModel.usaha_pengurangan_solar_jumlah');})
                                </script>
                                <b><span id="usaha_pengurangan_solar_jumlah_satuan"></span></b>
                            </div>
                        </div>
                        <div class="form-group"></div>

                    </div>
				</div>
			</div>
			<div class="panel-footer">
				<a id="cancel" class="k-button k-button-icontext" href="#"><i class="far fa-times-circle"></i>&nbsp;<span id="btnCancelText">@ResxHelper.GetValue("Message", "Cancel")</span></a>
				<a id="save" class="k-button k-button-icontext" href="#"><i class="fas fa-save"></i>&nbsp;<span id="btnSaveText">@ResxHelper.GetValue("Message", "Save")</span></a>
			</div>
		</div>
    </div>
</form>

<script>
    var form_type = '@ViewData["form_type"]';
    function ShowHideColumn(form_type)
    {
        if(form_type=='Add')
        {
            var hiden_column = [];
            for (i = 0; i < hiden_column.length; i++) {
                $("#form_item_"+hiden_column[i]).hide();
            }
        }
        else if(form_type=='Edit')
        {
            var hiden_column = [];
            for (i = 0; i < hiden_column.length; i++) {
                $("#form_item_"+hiden_column[i]).hide();
            }
        }
    }
    function setReadOnly(form_type,opt)
    {
        if(opt==true)
        {
            if(form_type=='Add')
            {

            }
            else if(form_type=='Edit')
            {

            }
        }
        else
        {
            if(form_type=='Add')
            {

            }
            else if(form_type=='Edit')
            {

            }
        }
    }
    $(document).ready(function () {
        ShowHideColumn(form_type);
        setReadOnly(form_type, true);
    });
    var validatable = $("#form_edit").kendoValidator().data("kendoValidator");
    $("#save").click(function (e) {
        getListFileUpload("tagihan_solar");
        getListFileUpload("usaha_pengurangan_solar_desc_file_path");
		setReadOnly(form_type, false);
        if (validatable.validate() === true) {
            kendo.ui.progress($("#form_edit"), true);
            $.ajax({
                url: '@ViewData["UrlAction"]', data: $('#form_edit').serialize(), type: 'POST',
                success: function (data) {
                    kendo.ui.progress($("#form_edit"), false);
                    if (data.status == 1) {
                        window.parent.notification.show({title: data.title, message: kendo.toString(data.message) }, "success");
                        if (window.parent.Reload_list_ta_sda_solar) {
                            window.parent.Reload_list_ta_sda_solar();
                        }else if (window.parent.reload_ta_sda_solar) {
                            window.parent.reload_ta_sda_solar(data.pk);
                        }
                        close_self();
                    } else if (data.status == 3) {
                        windows.parent.notification.show({ title: data.title, message: data.message }, "error");
                        setReadOnly(form_type, true);
						close_self();
                    } else {
						setReadOnly(form_type, true);
                        notification.show({ title: data.title, message: data.message }, "error");
                    }
                }
            });
        } else {
            kendo.ui.progress($("#form_edit"), false);
        }
		setReadOnly(form_type, true);
    });
    $("#cancel").kendoButton();
    $("#cancel").click(function (e) {
        close_self();
    });
    function close_self() { if (window.parent.$("#dialog_ta_sda_solar").data("kendoWindow")) { window.parent.$("#dialog_ta_sda_solar").data("kendoWindow").close(); } else { window.parent.$("#dialog").data("kendoWindow").close(); } }
</script>