@using WebApp
@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
	var filterColumn = ViewData["filterColumn"] as WebApp.Models.PerformanceModel.ViewModel;
    ViewData["Title"] = ViewData["TitleHeader"];
    ViewData["PageName"] = "performance";
    ViewData["Heading"] = ViewData["TitleHeader"];
    ViewData["Category1"] = "";
    ViewData["Category2"] = "";
}
<div class="panel">
    <div class="panel-container">
		<div class="panel-content">
			<div id="collapse_filter_ta_performance" class="panel panel-collapse collapse">
                <div class="panel-heading-filter">
                    @ResxHelper.GetValue("Message", "FilterDataHeader", "Filter Data")
                </div>
				<div class="panel-body-filter">
					<section class="filter_cols">
						<div id="fiter_ehs_area_id" class="filter_col">
							<label for="ehs_area_id" class="label-filter">@ResxHelper.GetValue("ta_performance", "ehs_area_id"): </label>
							<input id="ehs_area_id" name="ehs_area_id" style="width: 350px;" />
						</div>

						<div id="fiter_ba_id" class="filter_col">
							<label for="ba_id" class="label-filter">@ResxHelper.GetValue("ta_performance", "ba_id"): </label>
							<input id="ba_id" name="ba_id" style="width: 350px;" />
						</div>

						<div id="fiter_pa_id" class="filter_col">
							<label for="pa_id" class="label-filter">@ResxHelper.GetValue("ta_performance", "pa_id"): </label>
							<input id="pa_id" name="pa_id" style="width: 350px;" />
						</div>

						<div id="fiter_psa_id" class="filter_col">
							<label for="psa_id" class="label-filter">@ResxHelper.GetValue("ta_performance", "psa_id"): </label>
							<input id="psa_id" name="psa_id" style="width: 350px;" />
						</div>

						<div id="fiter_company_id" class="filter_col">
							<label for="company_id" class="label-filter">@ResxHelper.GetValue("ta_performance", "company_id"): </label>
							<input id="company_id" name="company_id" style="width: 350px;" />
						</div>

						<div id="fiter_person_id" class="filter_col">
							<label for="person_id" class="label-filter">@ResxHelper.GetValue("ta_performance", "person_id"): </label>
							<input id="person_id" name="person_id" style="width: 350px;" />
						</div>

						<div id="fiter_kategori_kejadian_id" class="filter_col">
							<label for="kategori_kejadian_id" class="label-filter">@ResxHelper.GetValue("ta_performance", "kategori_kejadian_id"): </label>
							<input id="kategori_kejadian_id" name="kategori_kejadian_id" style="width: 350px;" />
						</div>


						<div id="fiter_lokasi_kejadian_id" class="filter_col">
							<label for="lokasi_kejadian_id" class="label-filter">@ResxHelper.GetValue("ta_performance", "lokasi_kejadian_id"): </label>
							<input id="lokasi_kejadian_id" name="lokasi_kejadian_id" style="width: 350px;" />
						</div>

						<div id="fiter_jenis_pelanggaran_id" class="filter_col">
							<label for="jenis_pelanggaran_id" class="label-filter">@ResxHelper.GetValue("ta_performance", "jenis_pelanggaran_id"): </label>
							<input id="jenis_pelanggaran_id" name="jenis_pelanggaran_id" style="width: 350px;" />
						</div>

						<div id="fiter_resiko_kejadian_id" class="filter_col">
							<label for="resiko_kejadian_id" class="label-filter">@ResxHelper.GetValue("ta_performance", "resiko_kejadian_id"): </label>
							<input id="resiko_kejadian_id" name="resiko_kejadian_id" style="width: 350px;" />
						</div>


						<div id="fiter_tgl_kejadian" class="filter_col" style="display:none">
							@***************************************@
							<label for="tgl_kejadian" class="label-filter">@ResxHelper.GetValue("ta_performance", "tgl_kejadian"): </label>
							<input id="tgl_kejadian" name="tgl_kejadian" style="width: 150px;" />
						</div>

						<div id="fiter_waktu_kejadian_id" class="filter_col" style="display:none">
							@***************************************@
							<label for="waktu_kejadian_id" class="label-filter">@ResxHelper.GetValue("ta_performance", "waktu_kejadian_id"): </label>
							<input id="waktu_kejadian_id" name="waktu_kejadian_id" style="width: 150px;" />
						</div>


					</section>
				</div>
				<div class="panel-footer-filter">
					<a id="btnResetFilter_ta_performance" onclick="reset_filter_ta_performance()" class="k-button" title="Reset Filter">@ResxHelper.GetValue("Message", "ResetFilter", "Reset Filter")</a>
				</div>
			</div>
			<div>
				<table id="toolbar_panel" style="width:100%;">
					<tr>
						<td>
							<span id="quick_search_template_ta_performance" class="k-textbox k-space-right"><input id="txtSearch_ta_performance" placeholder="@ResxHelper.GetValue("Message","QuickSearch")" value="" /><a id="btnSearch_ta_performance" href="#" class="k-icon k-i-search">&nbsp;</a></span>
							<img id="btnSearchByColumn_ta_performance" title="@ResxHelper.GetValue("Message","ShowSearchByColumn")" style="		cursor: pointer" src="~/img/search_by_column.png" width="20">
							<img id="btnShowHideColumn_ta_performance" title="@ResxHelper.GetValue("Message","ShowHideColumn")" style="cursor:pointer" src="~/img/show_hide_column.png" width="20">
							<a id="btnShowHideFilter_ta_performance" data-toggle="collapse" href="#collapse_filter_ta_performance" style="display:none">@ResxHelper.GetValue("Message", "ShowFilter", "Tampilkan Filter")</a>
						</td>
						<td style="float:right">
							<img id="btnExportExcel_ta_performance" title="@ResxHelper.GetValue("Message","ExportToExcel")" style="cursor:pointer" src="~/img/excel.png" width="20" />&nbsp;
							<a id="btnAdd_ta_performance" onclick="AddData_ta_performance()" class="k-button" title="@ResxHelper.GetValue("Message","Add")">@ResxHelper.GetValue("Message", "Add", "Tambah")</a>
						</td>
					<tr>
				</table>
			</div>
			<div id="grid_ta_performance"></div>
		</div>
    </div>

</div>
<div id="WinShowHideColumn_ta_performance" style="display: none">
    <div id="attr_column_show_hide" style="width:auto;height:auto;overflow-y:scroll;"></div>
</div>
@section ScriptsBlock {
    <script>
		var param_ta_performance = @Html.Raw(JsonConvert.SerializeObject(WebApp.Models.PerformanceModel.GetListParam()));
		var displayName_ta_performance = @Html.Raw(JsonConvert.SerializeObject(WebApp.Models.PerformanceModel.GetDisplayItem()));
		var pkKey_ta_performance = @Html.Raw(JsonConvert.SerializeObject(WebApp.Models.PerformanceModel._pkKey));
		var j_data_ta_performance = @Html.Raw(JsonConvert.SerializeObject(WebApp.Models.PerformanceModel.GetGridColumn()));
		var colNameTooltip_ta_performance = [];
		var colbuttonCount_ta_performance = 0;
		var columnWidth = 40;
		colbuttonCount_ta_performance += param_ta_performance.btnView == 1 ? 1 : 0;
		colbuttonCount_ta_performance += param_ta_performance.btnEdit== "1" ? 1 : 0;
		colbuttonCount_ta_performance += param_ta_performance.btnDelete == "1" ? 1 : 0;
		colbuttonCount_ta_performance += param_ta_performance.btnCopy  == "1" ? 1 : 0;
		if (colbuttonCount_ta_performance == 1) { columnWidth = 40; } else if (colbuttonCount_ta_performance == 2) { columnWidth = 60; } else if (colbuttonCount_ta_performance == 3) { columnWidth = 95; } else if (colbuttonCount_ta_performance == 4) { columnWidth = 120; }
		var columnActionWidth_ta_performance = columnWidth + "px";
		var item_data = "";
		var col_att = [];
		var showhide_column = "";
		var j = 0;
		var checked = '';
		var aggregate_data_ta_performance = [];
		var agg_i = 0
		jQuery.each(j_data_ta_performance, function (i, val) {
			var footerTemplate = "";
			if (val.aggregate != "") {
				footerTemplate = val.footerTemplate!="" ? val.footerTemplate : '#='+val.aggregate+'#';
				aggregate_data_ta_performance[agg_i] = { field: val.name, aggregate: val.aggregate };
				agg_i++;
			}
			item_data += item_data != "" ? "," : "";
			item_data += '"' + val.name + '" : { "type": "' + val.type + '" } ';
			if (val.display) {
				col_att[j] = { field: val.name, title: val.title, hidden: JSON.parse(val.hidden), width: val.width, format: val.format, attributes: JSON.parse(val.attributes), encoded: JSON.parse(val.encoded), filterable: JSON.parse(val.filterable), sortable: JSON.parse(val.sortable), headerAttributes: { style: "white-space: normal;vertical-align:middle;text-align:center" },aggregates: [val.aggregate], footerTemplate: footerTemplate };
				j++;
				checked = '';if (val.hidden.toString() == 'false') {checked = 'checked';}
				showhide_column += '<div><input type="checkbox" onclick="ShowHideColumn_ta_performance(this)" '+ checked +' value="' + val.name + '" /> ' + val.title + '</div>';
			}
		});
		showhide_column += '<div><input type="checkbox" onclick="ShowHideColumn_ta_performance(this)" checked value="' + j + '" /> Action</div>';
		item_data = '{' + item_data + '}';
		var field_data = JSON.parse(item_data);
		var columns_data = col_att;
		var col_command = [];
		var k = 0;
		if (param_ta_performance.btnView== 1) {col_command[k] = { name: "View", text: "", className: "v-view", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); ViewItem_ta_performance(data); } };k++;}
		if (param_ta_performance.btnEdit== 1) {col_command[k] = { name: "Edit", text: "", className: "v-pencil", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); EditData_ta_performance(data); } };k++;}
		if (param_ta_performance.btnDelete== 1) {col_command[k] = { name: "Delete", text: "", className: "v-close", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); DeleteData_ta_performance(data); } };k++;}
		if (param_ta_performance.btnCopy == 1) { col_command[k] = { name: "Copy", text: "", className: "v-copy", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); CopyData_ta_performance(data); } }; k++; }
		if (colbuttonCount_ta_performance > 0) {
			columns_data[j] = {command: col_command, width: columnActionWidth_ta_performance, attributes: " style=\"vertical-align:top;\""};
		}
		//==============================
        //=== filter ehs_area_id 
        var ehs_area_id_param = { item: { value: 'id', text: 'nama', distinct: '0' } ,parent:[{field:"obj_data",value:"Performance"}], order:[]};
        var ehs_area_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/EHSArea/LookupDataEA", dataType: "json", data: ehs_area_id_param, type: "POST" } } });
        var ehs_area_id = $("#ehs_area_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_ehs_area_id, dataSource: ehs_area_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#ehs_area_id").data("kendoComboBox").value('@filterColumn.ehs_area_id'); });
        function onChange_ehs_area_id() {
            if ($("#ehs_area_id").data("kendoComboBox").value() != '' && $("#ehs_area_id").data("kendoComboBox")._oldIndex == -1) { $("#ehs_area_id").data("kendoComboBox").value(''); }
                                                    reload_ba_id();
                                                    reload_pa_id();
                                                    reload_psa_id();
                                                    reload_person_id();
            onFilterHeader_ta_performance();
        }
        

        //=== filter ba_id 
        var ba_id_param = { item: { value: 'id', text: 'kode,nama', distinct: '0' } ,parent:[{ field: 'ehs_area_id',opr:'=', value: '@filterColumn.ehs_area_id' },{field:"obj_data",value:"Performance"}], order:[]};
        var ba_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/BusinessArea/LookupDataBA", dataType: "json", data: ba_id_param, type: "POST" } } });
        var ba_id = $("#ba_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_ba_id, dataSource: ba_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#ba_id").data("kendoComboBox").value('@filterColumn.ba_id'); });
        function onChange_ba_id() {
            if ($("#ba_id").data("kendoComboBox").value() != '' && $("#ba_id").data("kendoComboBox")._oldIndex == -1) { $("#ba_id").data("kendoComboBox").value(''); }
                                                    reload_pa_id();
                                                    reload_psa_id();
                                                    reload_person_id();
            onFilterHeader_ta_performance();
        }
        
                                                function reload_ba_id(){
                                                    $("#ba_id").data("kendoComboBox").value('');
                                                    var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
                                                    var ba_id_param = { item: { value: 'id', text: 'kode,nama' }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }], order: [] };
                                                    $("#ba_id").data("kendoComboBox").dataSource.read(ba_id_param);
                                                }


        //=== filter pa_id 
        var pa_id_param = { item: { value: 'id', text: 'kode,nama', distinct: '0' } ,parent:[{ field: 'ehs_area_id',opr:'=', value: '@filterColumn.ehs_area_id' }, { field: 'ba_id',opr:'=', value: '@filterColumn.ba_id' },{field:"obj_data",value:"Performance"}], order:[]};
        var pa_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/PersonalArea/LookupDataPA", dataType: "json", data: pa_id_param, type: "POST" } } });
        var pa_id = $("#pa_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_pa_id, dataSource: pa_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#pa_id").data("kendoComboBox").value('@filterColumn.pa_id'); });
        function onChange_pa_id() {
            if ($("#pa_id").data("kendoComboBox").value() != '' && $("#pa_id").data("kendoComboBox")._oldIndex == -1) { $("#pa_id").data("kendoComboBox").value(''); }
                                                    reload_psa_id();
                                                    reload_person_id();
            onFilterHeader_ta_performance();
        }
        
                                                function reload_pa_id(){
                                                    $("#pa_id").data("kendoComboBox").value('');
                                                    var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
                                                    var ba_id = $("#ba_id").data("kendoComboBox").value();
                                                    var pa_id_param = { item: { value: 'id', text: 'kode,nama' }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }, { field: 'ba_id',opr:'=', value: ba_id }], order: [] };
                                                    $("#pa_id").data("kendoComboBox").dataSource.read(pa_id_param);
                                                }


        //=== filter psa_id 
        var psa_id_param = { item: { value: 'id', text: 'kode,nama', distinct: '0' } ,parent:[{ field: 'ehs_area_id',opr:'=', value: '@filterColumn.ehs_area_id' }, { field: 'ba_id',opr:'=', value: '@filterColumn.ba_id' }, { field: 'pa_id',opr:'=', value: '@filterColumn.pa_id' },{field:"obj_data",value:"Performance"}], order:[]};
        var psa_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/PersonalSubArea/LookupDataPSA", dataType: "json", data: psa_id_param, type: "POST" } } });
        var psa_id = $("#psa_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_psa_id, dataSource: psa_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#psa_id").data("kendoComboBox").value('@filterColumn.psa_id'); });
        function onChange_psa_id() {
            if ($("#psa_id").data("kendoComboBox").value() != '' && $("#psa_id").data("kendoComboBox")._oldIndex == -1) { $("#psa_id").data("kendoComboBox").value(''); }
                                                    reload_person_id();
            onFilterHeader_ta_performance();
        }
        
                                                function reload_psa_id(){
                                                    $("#psa_id").data("kendoComboBox").value('');
                                                    var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
                                                    var ba_id = $("#ba_id").data("kendoComboBox").value();
                                                    var pa_id = $("#pa_id").data("kendoComboBox").value();
                                                    var psa_id_param = { item: { value: 'id', text: 'kode,nama' }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }, { field: 'ba_id',opr:'=', value: ba_id }, { field: 'pa_id',opr:'=', value: pa_id }], order: [] };
                                                    $("#psa_id").data("kendoComboBox").dataSource.read(psa_id_param);
                                                }


        //=== filter company_id 
        var company_id_param = { item: { value: 'id', text: 'nama', distinct: '0' } ,parent:[], order:[]};
        var company_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/Company/LookupData", dataType: "json", data: company_id_param, type: "POST" } } });
        var company_id = $("#company_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_company_id, dataSource: company_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#company_id").data("kendoComboBox").value('@filterColumn.company_id'); });
        function onChange_company_id() {
            if ($("#company_id").data("kendoComboBox").value() != '' && $("#company_id").data("kendoComboBox")._oldIndex == -1) { $("#company_id").data("kendoComboBox").value(''); }
                                                    reload_person_id();
            onFilterHeader_ta_performance();
        }
        

        //=== filter person_id 
        var person_id_param = { item: { value: 'id', text: 'NRP,nama_lengkap', attribute: ['karyawan_nonkaryawan_id', 'user_nonuser_id'], distinct: '0' } ,parent:[{ field: 'ehs_area_id',opr:'=', value: '@filterColumn.ehs_area_id' }, { field: 'business_area_id',opr:'=', value: '@filterColumn.ba_id' }, { field: 'personal_area_id',opr:'=', value: '@filterColumn.pa_id' }, { field: 'personal_sub_area_id',opr:'=', value: '@filterColumn.psa_id' }, { field: 'company_id',opr:'=', value: '@filterColumn.company_id' }], order:[]};
        var person_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/ManPower/LookupData", dataType: "json", data: person_id_param, type: "POST" } } });
        var person_id = $("#person_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_person_id, dataSource: person_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#person_id").data("kendoComboBox").value('@filterColumn.person_id'); });
        function onChange_person_id() {
            if ($("#person_id").data("kendoComboBox").value() != '' && $("#person_id").data("kendoComboBox")._oldIndex == -1) { $("#person_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_performance();
        }
        
                                                function reload_person_id(){
                                                    $("#person_id").data("kendoComboBox").value('');
                                                    var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
                                                    var ba_id = $("#ba_id").data("kendoComboBox").value();
                                                    var pa_id = $("#pa_id").data("kendoComboBox").value();
                                                    var psa_id = $("#psa_id").data("kendoComboBox").value();
                                                    var company_id = $("#company_id").data("kendoComboBox").value();
                                                    var person_id_param = { item: { value: 'id', text: 'NRP,nama_lengkap', attribute: ['karyawan_nonkaryawan_id', 'user_nonuser_id'] }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }, { field: 'business_area_id',opr:'=', value: ba_id }, { field: 'personal_area_id',opr:'=', value: pa_id }, { field: 'personal_sub_area_id',opr:'=', value: psa_id }, { field: 'company_id',opr:'=', value: company_id }], order: [] };
                                                    $("#person_id").data("kendoComboBox").dataSource.read(person_id_param);
                                                }


        //=== filter kategori_kejadian_id 
        var kategori_kejadian_id_param = { item: { value: 'id', text: 'nama', distinct: '0' } ,parent:[{ field: 'cat_id',opr:'=', value: '118' }], order:[]};
        var kategori_kejadian_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: kategori_kejadian_id_param, type: "POST" } } });
        var kategori_kejadian_id = $("#kategori_kejadian_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_kategori_kejadian_id, dataSource: kategori_kejadian_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#kategori_kejadian_id").data("kendoComboBox").value('@filterColumn.kategori_kejadian_id'); });
        function onChange_kategori_kejadian_id() {
            if ($("#kategori_kejadian_id").data("kendoComboBox").value() != '' && $("#kategori_kejadian_id").data("kendoComboBox")._oldIndex == -1) { $("#kategori_kejadian_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_performance();
        }
        

        //=== filter tgl_kejadian 
        var tgl_kejadian_param = { item: { value: 'tgl_kejadian', text: 'tgl_kejadian', distinct: '1' } ,parent:[], order:[{ field: 'tgl_kejadian', dir: 'asc' }]};
        var tgl_kejadian_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Performance/LookupData", dataType: "json", data: tgl_kejadian_param, type: "POST" } } });
        var tgl_kejadian = $("#tgl_kejadian").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_tgl_kejadian, dataSource: tgl_kejadian_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#tgl_kejadian").data("kendoComboBox").value('@filterColumn.tgl_kejadian'); });
        function onChange_tgl_kejadian() {
            if ($("#tgl_kejadian").data("kendoComboBox").value() != '' && $("#tgl_kejadian").data("kendoComboBox")._oldIndex == -1) { $("#tgl_kejadian").data("kendoComboBox").value(''); }
            onFilterHeader_ta_performance();
        }
        

        //=== filter waktu_kejadian_id 
        var waktu_kejadian_id_param = { item: { value: 'id', text: 'nama', distinct: '0' } ,parent:[{ field: 'cat_id',opr:'=', value: '122' }], order:[]};
        var waktu_kejadian_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: waktu_kejadian_id_param, type: "POST" } } });
        var waktu_kejadian_id = $("#waktu_kejadian_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_waktu_kejadian_id, dataSource: waktu_kejadian_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#waktu_kejadian_id").data("kendoComboBox").value('@filterColumn.waktu_kejadian_id'); });
        function onChange_waktu_kejadian_id() {
            if ($("#waktu_kejadian_id").data("kendoComboBox").value() != '' && $("#waktu_kejadian_id").data("kendoComboBox")._oldIndex == -1) { $("#waktu_kejadian_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_performance();
        }
        

        //=== filter lokasi_kejadian_id 
        var lokasi_kejadian_id_param = { item: { value: 'id', text: 'nama', distinct: '0' } ,parent:[{ field: 'cat_id',opr:'=', value: '119' }], order:[]};
        var lokasi_kejadian_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: lokasi_kejadian_id_param, type: "POST" } } });
        var lokasi_kejadian_id = $("#lokasi_kejadian_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_lokasi_kejadian_id, dataSource: lokasi_kejadian_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#lokasi_kejadian_id").data("kendoComboBox").value('@filterColumn.lokasi_kejadian_id'); });
        function onChange_lokasi_kejadian_id() {
            if ($("#lokasi_kejadian_id").data("kendoComboBox").value() != '' && $("#lokasi_kejadian_id").data("kendoComboBox")._oldIndex == -1) { $("#lokasi_kejadian_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_performance();
        }
        

        //=== filter jenis_pelanggaran_id 
        var jenis_pelanggaran_id_param = { item: { value: 'id', text: 'nama', distinct: '0' } ,parent:[{ field: 'cat_id',opr:'=', value: '117' }], order:[]};
        var jenis_pelanggaran_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: jenis_pelanggaran_id_param, type: "POST" } } });
        var jenis_pelanggaran_id = $("#jenis_pelanggaran_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_jenis_pelanggaran_id, dataSource: jenis_pelanggaran_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#jenis_pelanggaran_id").data("kendoComboBox").value('@filterColumn.jenis_pelanggaran_id'); });
        function onChange_jenis_pelanggaran_id() {
            if ($("#jenis_pelanggaran_id").data("kendoComboBox").value() != '' && $("#jenis_pelanggaran_id").data("kendoComboBox")._oldIndex == -1) { $("#jenis_pelanggaran_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_performance();
        }
        

        //=== filter resiko_kejadian_id 
        var resiko_kejadian_id_param = { item: { value: 'id', text: 'nama', distinct: '0' } ,parent:[{ field: 'cat_id',opr:'=', value: '121' }], order:[]};
        var resiko_kejadian_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: resiko_kejadian_id_param, type: "POST" } } });
        var resiko_kejadian_id = $("#resiko_kejadian_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_resiko_kejadian_id, dataSource: resiko_kejadian_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#resiko_kejadian_id").data("kendoComboBox").value('@filterColumn.resiko_kejadian_id'); });
        function onChange_resiko_kejadian_id() {
            if ($("#resiko_kejadian_id").data("kendoComboBox").value() != '' && $("#resiko_kejadian_id").data("kendoComboBox")._oldIndex == -1) { $("#resiko_kejadian_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_performance();
        }
        

		//==============================
		$("#collapse_filter_ta_performance").on('shown.bs.collapse', function () {
			$("#btnShowHideFilter_ta_performance").html('@ResxHelper.GetValue("Message","HideFilter")');
		});
		$("#collapse_filter_ta_performance").on('hidden.bs.collapse', function () {
			$("#btnShowHideFilter_ta_performance").html('@ResxHelper.GetValue("Message","ShowFilter")');
		});
		//==============================
		var record_ta_performance = 0;
		var grid_ta_performance_heigth = 0;
		var ds_ta_performance_filter = { filter_by_column: [{ name: 'ehs_area_id',value: '@filterColumn.ehs_area_id' }, { name: 'ba_id',value: '@filterColumn.ba_id' }, { name: 'pa_id',value: '@filterColumn.pa_id' }, { name: 'psa_id',value: '@filterColumn.psa_id' }, { name: 'company_id',value: '@filterColumn.company_id' }, { name: 'person_id',value: '@filterColumn.person_id' }, { name: 'kategori_kejadian_id',value: '@filterColumn.kategori_kejadian_id' }, { name: 'waktu_kejadian_id',value: '@filterColumn.waktu_kejadian_id' }, { name: 'lokasi_kejadian_id',value: '@filterColumn.lokasi_kejadian_id' }, { name: 'jenis_pelanggaran_id',value: '@filterColumn.jenis_pelanggaran_id' }, { name: 'resiko_kejadian_id',value: '@filterColumn.resiko_kejadian_id' }] };
		var ds_ta_performance = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Performance/GetListData", dataType: "json", type: "POST", data: ds_ta_performance_filter }, parameterMap: function (options) { if (options.filter) { for (var i = 0; i < options.filter.filters.length; i++) { if (options.filter.filters[i].field == 'tanggal') { options.filter.filters[i].value = kendo.toString(options.filter.filters[i].value, "yyyy-MM-dd"); } } } return options; } }, schema: { data: "data", total: "total", aggregates: "aggregates", model: { fields: field_data } }, aggregate: aggregate_data_ta_performance, pageSize: 10, serverAggregates: true, serverPaging: true, serverFiltering: true, serverSorting: true });
		var list_ta_performance = $("#grid_ta_performance").kendoGrid({
			excel: { allPages: true, fileName: '@ViewData["TitleHeader"]'+'.xlsx' },
			dataSource: ds_ta_performance, dataBound: onDataBound_ta_performance, height: grid_ta_performance_heigth, scrollable: true, groupable: false, columnMenu: false, menu: true, resizable: true, filterable: false, sortable: { mode: "multiple", allowUnsort: true }, pageable: { refresh: true, pageSizes: [5, 10, 20, 50, 100, 200], buttonCount: 5 },
			columns: columns_data, editable: false, dataBinding: function () { record_ta_performance = (this.dataSource.page() - 1) * this.dataSource.pageSize(); }
		});
		function getParamgrid_ta_performance() {
			var filter_by_column= [];var k = 0;
	        if ($("#ehs_area_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "ehs_area_id", field: "ta_performance.ehs_area_id", opr: "=", value: $("#ehs_area_id").data("kendoComboBox").value() };k++;}
        if ($("#ba_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "ba_id", field: "ta_performance.ba_id", opr: "=", value: $("#ba_id").data("kendoComboBox").value() };k++;}
        if ($("#pa_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "pa_id", field: "ta_performance.pa_id", opr: "=", value: $("#pa_id").data("kendoComboBox").value() };k++;}
        if ($("#psa_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "psa_id", field: "ta_performance.psa_id", opr: "=", value: $("#psa_id").data("kendoComboBox").value() };k++;}
        if ($("#company_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "company_id", field: "ta_performance.company_id", opr: "=", value: $("#company_id").data("kendoComboBox").value() };k++;}
        if ($("#person_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "person_id", field: "ta_performance.person_id", opr: "=", value: $("#person_id").data("kendoComboBox").value() };k++;}
        if ($("#kategori_kejadian_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "kategori_kejadian_id", field: "ta_performance.kategori_kejadian_id", opr: "=", value: $("#kategori_kejadian_id").data("kendoComboBox").value() };k++;}
        if ($("#tgl_kejadian").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "tgl_kejadian", field: "ta_performance.tgl_kejadian", opr: "=", value: $("#tgl_kejadian").data("kendoComboBox").value() };k++;}
        if ($("#waktu_kejadian_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "waktu_kejadian_id", field: "ta_performance.waktu_kejadian_id", opr: "=", value: $("#waktu_kejadian_id").data("kendoComboBox").value() };k++;}
        if ($("#lokasi_kejadian_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "lokasi_kejadian_id", field: "ta_performance.lokasi_kejadian_id", opr: "=", value: $("#lokasi_kejadian_id").data("kendoComboBox").value() };k++;}
        if ($("#jenis_pelanggaran_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "jenis_pelanggaran_id", field: "ta_performance.jenis_pelanggaran_id", opr: "=", value: $("#jenis_pelanggaran_id").data("kendoComboBox").value() };k++;}
        if ($("#resiko_kejadian_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "resiko_kejadian_id", field: "ta_performance.resiko_kejadian_id", opr: "=", value: $("#resiko_kejadian_id").data("kendoComboBox").value() };k++;}
			return { filter_by_column:filter_by_column };
		}
		function reset_filter_ta_performance() {
	        $("#ehs_area_id").data("kendoComboBox").value('');
        $("#ba_id").data("kendoComboBox").value('');
        $("#pa_id").data("kendoComboBox").value('');
        $("#psa_id").data("kendoComboBox").value('');
        $("#company_id").data("kendoComboBox").value('');
        $("#person_id").data("kendoComboBox").value('');
        $("#kategori_kejadian_id").data("kendoComboBox").value('');
        $("#tgl_kejadian").data("kendoComboBox").value('');
        $("#waktu_kejadian_id").data("kendoComboBox").value('');
        $("#lokasi_kejadian_id").data("kendoComboBox").value('');
        $("#jenis_pelanggaran_id").data("kendoComboBox").value('');
        $("#resiko_kejadian_id").data("kendoComboBox").value('');
			onFilterHeader_ta_performance();
		}
		function onFilterHeader_ta_performance() {
			$("#txtSearch_ta_performance").val('');
			paramValue = getParamgrid_ta_performance();
			if (list_ta_performance.data('kendoGrid').dataSource.page() > 1) {
				list_ta_performance.data('kendoGrid').dataSource.page(0);
			}
			list_ta_performance.data('kendoGrid').dataSource.transport.options.read.data = paramValue;
			list_ta_performance.data("kendoGrid").dataSource.filter([]);
		};
		$("#btnSearchByColumn_ta_performance").click(function () { var grid_ta_performance_heigth_filter = grid_ta_performance_heigth + 38; if (list_ta_performance.data("kendoGrid").options.filterable == false) { $('#btnSearchByColumn_ta_performance').prop('title', '@ResxHelper.GetValue("Message","HideSearchByColumn")'); $("#txtSearch_ta_performance").val(''); if ('1' == '1') { $("#quick_search_template_ta_performance").hide(); }; QuickSearch_ta_performance(); list_ta_performance.data("kendoGrid").setOptions({ height: grid_ta_performance_heigth_filter, filterable: { mode: "row" }, }); } else { $('#btnSearchByColumn_ta_performance').prop('title', '@ResxHelper.GetValue("Message","ShowSearchByColumn")'); $("#txtSearch_ta_performance").val(''); if ('1' == '1') { $("#quick_search_template_ta_performance").show(); }; QuickSearch_ta_performance(); list_ta_performance.data("kendoGrid").setOptions({ height: grid_ta_performance_heigth, filterable: false, }); } });
		$("#btnSearch_ta_performance").click(function () { QuickSearch_ta_performance(); });
		$('#txtSearch_ta_performance').keypress(function (e) { if (e.keyCode == 13) { QuickSearch_ta_performance(); } });
		function QuickSearch_ta_performance() {
			$filter = new Array();
			$x = $("#txtSearch_ta_performance").val();
			if ($x) {jQuery.each(j_data_ta_performance, function (i, val) {if (val.display && val.qsearch && val.type =='string') {$filter.push({ name: val.name, opr: "contains", value: $x });}});} 
			if ($filter.length > 0) {list_ta_performance.data("kendoGrid").dataSource.filter({ logic: "or", filters: $filter });}else {list_ta_performance.data("kendoGrid").dataSource.filter([]);}
		}
		function Reload_list_ta_performance() { list_ta_performance.data('kendoGrid').dataSource.read(); list_ta_performance.data('kendoGrid').refresh(); }
		function onDataBound_ta_performance(e) {
			if (colbuttonCount_ta_performance > 0) {
				var grid = $("#grid_ta_performance").data("kendoGrid"); var list_ta_performance = grid.dataSource.view();
				for (var i = 0; i < list_ta_performance.length; i++) {
					var currentUid = list_ta_performance[i].uid; var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
					if (param_ta_performance.btnView == 1) {
						var viewButton = $(currenRow).find(".k-grid-View"); viewButton.attr("title", "@ResxHelper.GetValue("Message","View")");
						if ("@ViewData["AllowView"]" == "1") {} else {viewButton.hide();}
					}
					if (param_ta_performance.btnEdit == 1) {
						var editButton = $(currenRow).find(".k-grid-Edit"); editButton.attr("title", "@ResxHelper.GetValue("Message","Edit")");
						if ("@ViewData["AllowEdit"]" == "1") {} else {editButton.hide();}
					}
					if (param_ta_performance.btnDelete == 1) {
						var deleteButton = $(currenRow).find(".k-grid-Delete"); deleteButton.attr("title", "@ResxHelper.GetValue("Message","Delete")");
						if ("@ViewData["AllowDelete"]" == "1") {} else {deleteButton.hide();}
					}
					if (param_ta_performance.btnCopy == 1) {
						var copyButton = $(currenRow).find(".k-grid-Copy"); copyButton.attr("title", "@ResxHelper.GetValue("Message","Copy")");
						if ("@ViewData["AllowAdd"]" == "1") {} else {copyButton.hide();}
					}
				}
			}
		}
		function AddData_ta_performance() {var contentUrl = '@ViewBag.BaseUrl/Performance/Add'; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog, }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param_ta_performance.btn_add_modal_width, height: param_ta_performance.btn_add_modal_height, minHeight: 300, });if(param_ta_performance.btn_add_modal_width == 0) {form_edit.data("kendoWindow").center().open().maximize()} else {form_edit.data("kendoWindow").center().open();}}
		function ViewItem_ta_performance(data) { var qs = '';jQuery.each(pkKey_ta_performance, function (i, val) {qs += qs != "" ? "&" : "";qs += val+'=' + data[val];});var contentUrl = '@ViewBag.BaseUrl/Performance/ViewItem?' + qs; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param_ta_performance.btn_view_modal_width, height: param_ta_performance.btn_view_modal_height, minHeight: 300, }); if (param_ta_performance.btn_view_modal_width == 0) { form_edit.data("kendoWindow").center().open().maximize() } else { form_edit.data("kendoWindow").center().open(); }}
		function EditData_ta_performance(data) { var qs = '';jQuery.each(pkKey_ta_performance, function (i, val) {qs += qs != "" ? "&" : "";qs += val+'=' + data[val];}); var contentUrl = '@ViewBag.BaseUrl/Performance/Edit?' + qs; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param_ta_performance.btn_edit_modal_width, height: param_ta_performance.btn_edit_modal_height, minHeight: 300, }); if(param_ta_performance.btn_edit_modal_width == 0) {form_edit.data("kendoWindow").center().open().maximize()} else {form_edit.data("kendoWindow").center().open();} }
		function CopyData_ta_performance(data) { var qs = '';jQuery.each(pkKey_ta_performance, function (i, val) {qs += qs != "" ? "&" : "";qs += val+'=' + data[val];}); var contentUrl = '@ViewBag.BaseUrl/Performance/Copy?' + qs; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param_ta_performance.btn_edit_modal_width, height: param_ta_performance.btn_edit_modal_height, minHeight: 300, }); if(param_ta_performance.btn_edit_modal_width == 0) {form_edit.data("kendoWindow").center().open().maximize()} else {form_edit.data("kendoWindow").center().open();} }
		function DeleteData_ta_performance(data) {
			var keyValue = '';
			jQuery.each(displayName_ta_performance, function (i, val) {
				keyValue += keyValue != "" ? "<br />" : "";
				keyValue += val.label+ ": " + data[val.name];
			});
			var pkItem = "";
			jQuery.each(pkKey_ta_performance, function (i, val) {
				pkItem += pkItem != "" ? ", " : "";
				pkItem += '"'+val+'":"'+data[val]+'" ';
			});
			var pkVal = jQuery.parseJSON("{" + pkItem + "}");
			var data2 = { title: '@ResxHelper.GetValue("Message","ConfirmDelete")', msg: keyValue };
			var winconfirm = $("#dialogconfirm").kendoWindow({ title: "@ResxHelper.GetValue("Message","DeleteData")", modal: true, visible: false, resizable: true, draggable: true, width: "500px", height: "200px" }).data("kendoWindow");
			winconfirm.content(confirmTemplate(data2));
			winconfirm.center(); winconfirm.open();
			$("#yesButton").click(function () {
				$.ajax({
					data: pkVal, url: '@ViewBag.BaseUrl/Performance/Delete', type: 'POST'
					, success: function (data) {
						if (data.status != 1) {
							notification.show({ title: data.title, message: kendo.toString(data.message) }, "error");
							winconfirm.close();
						} else {
							notification.show({ message: kendo.toString(data.message) }, "success");
							Reload_list_ta_performance();
							winconfirm.close();
						}
					}
				});
			});
			$("#noButton").click(function () { winconfirm.close(); });
		}
		function onCloseDialog(e) { $('#dialog').html(''); }
		function closeDialog() { $("#dialog").data("kendoWindow").close(); }
		$("#btnExportExcel_ta_performance").click(function (e) { var grid = $("#grid_ta_performance").data("kendoGrid"); grid.saveAsExcel(); });
		function ShowHideColumn_ta_performance(e) { colname = $.isNumeric(e.value) ? parseInt(e.value) : e.value; if (e.checked) { $("#grid_ta_performance").data("kendoGrid").showColumn(colname); } else { $("#grid_ta_performance").data("kendoGrid").hideColumn(colname); } }
		$(document).ready(function () {
			$("#attr_column_show_hide").html(showhide_column);
			if (param_ta_performance.ShowFilter == 1) { $("#btnShowHideFilter_ta_performance").show(); }
			if (param_ta_performance.btnAdd == 1 && @ViewData["AllowAdd"]== "1") { }else{ $("#btnAdd_ta_performance").hide(); }
			if (param_ta_performance.quick_search != 1) { $("#quick_search_template_ta_performance").hide(); }
			if (param_ta_performance.search_by_column  != 1) { $("#btnSearchByColumn_ta_performance").hide(); }
			if (param_ta_performance.show_hide_column != 1) { $("#btnShowHideColumn_ta_performance").hide(); }
			if (param_ta_performance.export_exl != 1) { $("#btnExportExcel_ta_performance").hide(); }
			$("#btnShowHideColumn_ta_performance").click(function () { var x = $("#btnShowHideColumn_ta_performance").offset().left; var y = $("#btnShowHideColumn_ta_performance").offset().top; if (!WinShowHideColumn_ta_performance) { var WinShowHideColumn_ta_performance = $("#WinShowHideColumn_ta_performance").kendoWindow({ width: "300px", position: { left: x, top: y }, title: "@ResxHelper.GetValue("Message","ShowHideColumn")", actions: ["Close"] }); } WinShowHideColumn_ta_performance.data("kendoWindow").open(); });
		});
    </script>
}