@using WebApp;
@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = ViewData["TitleHeader"];
    ViewData["PageName"] = "groups";
    ViewData["Heading"] = ViewData["TitleHeader"];
    ViewData["Category1"] = "System";
    ViewData["Category2"] = "";
}
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div id="collapse_filter_sys_groups" class="panel-collapse collapse">
                <div id="filter_area" class="panel">
                    <div class="panel-heading">
                        @ResxHelper.GetValue("Message", "FilterDataHeader", "Filter Data")
                    </div>
                    <div class="panel-body">
                        <section class="filter_cols">
                        </section>
                    </div>
                    <div class="panel-footer">
                        <a id="btnResetFilter" onclick="reset_filter_sys_groups()" class="k-button" title="Reset Filter">@ResxHelper.GetValue("Message", "ResetFilter", "Reset Filter")</a>
                    </div>
                </div>
            </div>
            <div>
                <table id="toolbar_panel" style="width:100%;">
                    <tr>
                        <td>
                            <span id="quick_search_template_sys_groups" class="k-textbox k-space-right"><input id="txtSearch_sys_groups" placeholder="@ResxHelper.GetValue("Message","QuickSearch")" value="" /><a id="btnSearch_sys_groups" href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            <img id="btnSearchByColumn_sys_groups" title="@ResxHelper.GetValue("Message","ShowSearchByColumn")" style="cursor:pointer" src="~/img/search_by_column.png" width="20">
                            <img id="btnShowHideColumn_sys_groups" title="@ResxHelper.GetValue("Message","ShowHideColumn")" style="cursor:pointer" src="~/img/show_hide_column.png" width="20">
                            <a id="btnShowHideFilter_sys_groups" data-toggle="collapse" href="#collapse_filter_sys_groups">@ResxHelper.GetValue("Message", "ShowFilter", "Tampilkan Filter")</a>
                        </td>
                        <td style="float:right">
                            <img id="btnExportExcel_sys_groups" title="@ResxHelper.GetValue("Message","ExportToExcel")" style="cursor:pointer" src="~/img/excel.png" width="20" />&nbsp;
                            <a id="btnAdd_sys_groups" onclick="AddData_sys_groups()" class="k-button" title="@ResxHelper.GetValue("Message","Add")">@ResxHelper.GetValue("Message", "Add", "Tambah")</a>
                        </td>
                    <tr>
                </table>
            </div>
            <div id="grid_sys_groups"></div>
        </div>
    </div>
</div>
<div id="WinShowHideColumn_sys_groups" style="display: none">
    <div id="attr_column_show_hide" style="width:auto;height:auto;overflow-y:scroll;"></div>
</div>

@section ScriptsBlock{
    <script>
        var param = @Html.Raw(JsonConvert.SerializeObject(ViewData["param"]));
        var displayName = @Html.Raw(JsonConvert.SerializeObject(ViewData["displayItem"]));
        var pkKey = @Html.Raw(JsonConvert.SerializeObject(ViewData["pkKey"]));
        var j_data = @Html.Raw(JsonConvert.SerializeObject(ViewData["column_att"]));
        var colNameTooltip_sys_groups = [];
        var colbuttonCount_sys_groups = 0;
        var columnWidth = 40;
        colbuttonCount_sys_groups += param.btnView == 1 ? 1 : 0;
        colbuttonCount_sys_groups += param.btnEdit == 1 ? 1 : 0;
        colbuttonCount_sys_groups += param.btnDelete == 1 ? 1 : 0;
        colbuttonCount_sys_groups += param.btnCopy  == 1 ? 1 : 0;
        if (colbuttonCount_sys_groups == 1) { columnWidth = 40; } else if (colbuttonCount_sys_groups == 2) { columnWidth = 60; } else if (colbuttonCount_sys_groups == 3) { columnWidth = 95; } else if (colbuttonCount_sys_groups == 4) { columnWidth = 120; }
        var columnActionWidth_sys_groups = columnWidth + "px";
        var item_data = "";
        var col_att = [];
        var showhide_column = "";
        var j = 0;
        var checked = '';
        jQuery.each(j_data, function (i, val) {
            item_data += item_data != "" ? "," : "";
            item_data += '"' + val.name + '" : { "type": "' + val.type + '" } ';
            if (val.display) {
                col_att[j] = { field: val.name, title: val.title, hidden: JSON.parse(val.hidden), width: val.width, format: val.format, attributes: JSON.parse(val.attributes), encoded: JSON.parse(val.encoded), filterable: JSON.parse(val.filterable), sortable: JSON.parse(val.sortable), headerAttributes: { style: "white-space: normal;vertical-align:middle;text-align:center" } };
                j++;
                checked = '';
                if (val.hidden.toString() == 'false') {
                    checked = 'checked';
                }
                showhide_column += '<div><input type="checkbox" onclick="ShowHideColumn_sys_groups(this)" '+ checked +' value="' + val.name + '" /> ' + val.title + '</div>';
            }
        });
        showhide_column += '<div><input type="checkbox" onclick="ShowHideColumn_sys_groups(this)" checked value="' + j + '" /> Action</div>';
        item_data = '{' + item_data + '}';
        var field_data = JSON.parse(item_data);
        var columns_data = col_att;
        var col_command = [];
        var k = 0;
        if (param.btnView== 1) {col_command[k] = { name: "View", text: "", className: "v-view", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); ViewItem_sys_groups(data);}};k++;}
        if (param.btnEdit== 1) {col_command[k] = { name: "Edit", text: "", className: "v-pencil", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); EditData_sys_groups(data);}};k++;}
        if (param.btnDelete== 1) {col_command[k] = { name: "Delete", text: "", className: "v-close", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); DeleteData_sys_groups(data);}};k++;}
        if (param.btnCopy== 1) {col_command[k] = { name: "Copy", text: "", className: "v-copy", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); CopyData_sys_groups(data);}};k++;}
        columns_data[j] = {command: col_command, width: columnActionWidth_sys_groups, attributes: " style=\"vertical-align:top;\""};

        $("#collapse_filter_sys_groups").on('shown.bs.collapse', function () {
            $("#btnShowHideFilter_sys_groups").html('@ResxHelper.GetValue("Message","HideFilter","Sembunyikan Filter")');
        });
        $("#collapse_filter_sys_groups").on('hidden.bs.collapse', function () {
            $("#btnShowHideFilter_sys_groups").html('@ResxHelper.GetValue("Message","ShowFilter","Tampilkan Filter")');
        });
        var record_sys_groups = 0;
        var grid_sys_groups_heigth = 0;
        var ds_sys_groups_filter = { filter_by_column:  [] };
        var ds_sys_groups = new kendo.data.DataSource({ transport: { read: { url: "@ViewData["UrlGetList"]", dataType: "json", type: "POST", data: ds_sys_groups_filter }, parameterMap: function (options) { if (options.filter) { for (var i = 0; i < options.filter.filters.length; i++) { if (options.filter.filters[i].field == 'tanggal') { options.filter.filters[i].value = kendo.toString(options.filter.filters[i].value, "yyyy-MM-dd"); } } } return options; } }, schema: { data: "data", total: "total", aggregates: "aggregates", model: { fields: field_data } }, aggregate: [], pageSize: 10, serverAggregates: true, serverPaging: true, serverFiltering: true, serverSorting: true });
        var list_sys_groups = $("#grid_sys_groups").kendoGrid({
            excel: { allPages: true, fileName: '@ViewData["TitleHeader"]'+'.xlsx' },
            dataSource: ds_sys_groups, dataBound: onDataBound_sys_groups, height: grid_sys_groups_heigth, scrollable: true, groupable: false, columnMenu: false, menu: true, resizable: true, filterable: false, sortable: { mode: "multiple", allowUnsort: true }, pageable: { refresh: true, pageSizes: [5, 10, 20, 50, 100, 200], buttonCount: 5 },
            columns: columns_data, editable: false, dataBinding: function () { $(".k-grid-content").css("min-height", "320px"); record_sys_groups = (this.dataSource.page() - 1) * this.dataSource.pageSize(); }
        });
        function getParamgrid_sys_groups() {
            var filter_by_column= [];
            return { filter_by_column: filter_by_column };
        }
        function reset_filter_sys_groups() {
            onFilterHeader_sys_groups();
        }
        function onFilterHeader_sys_groups() {
            $("#txtSearch_sys_groups").val('');
            paramValue = getParamgrid_sys_groups();
            if (list_sys_groups.data('kendoGrid').dataSource.page() > 1) {
                list_sys_groups.data('kendoGrid').dataSource.page(0);
            }
            list_sys_groups.data('kendoGrid').dataSource.transport.options.read.data = paramValue;
            list_sys_groups.data("kendoGrid").dataSource.filter([]);
        };
        $("#btnSearchByColumn_sys_groups").click(function () { var grid_sys_groups_heigth_filter = grid_sys_groups_heigth + 38; if (list_sys_groups.data("kendoGrid").options.filterable == false) { $('#btnSearchByColumn_sys_groups').prop('title', '@ResxHelper.GetValue("Message","HideSearchByColumn")'); $("#txtSearch_sys_groups").val(''); if ('1' == '1') { $("#quick_search_template_sys_groups").hide(); }; QuickSearch_sys_groups(); list_sys_groups.data("kendoGrid").setOptions({ height: grid_sys_groups_heigth_filter, filterable: { mode: "row" }, }); } else { $('#btnSearchByColumn_sys_groups').prop('title', '@ResxHelper.GetValue("Message","ShowSearchByColumn")'); $("#txtSearch_sys_groups").val(''); if ('1' == '1') { $("#quick_search_template_sys_groups").show(); }; QuickSearch_sys_groups(); list_sys_groups.data("kendoGrid").setOptions({ height: grid_sys_groups_heigth, filterable: false, }); } });
        $("#btnSearch_sys_groups").click(function () { QuickSearch_sys_groups(); });
        $('#txtSearch_sys_groups').keypress(function (e) { if (e.keyCode == 13) { QuickSearch_sys_groups(); } });
        function QuickSearch_sys_groups() {
            $filter = new Array();
            $x = $("#txtSearch_sys_groups").val();
            if ($x) {
                jQuery.each(j_data, function (i, val) {
                    if (val.display && val.qsearch && val.type =='string') {
                        $filter.push({ name: val.name, opr: "contains", value: $x });
                    }
                });
            }
            if ($filter_date.length == 0 && $filter.length > 0) {list_sys_groups.data("kendoGrid").dataSource.filter({ logic: "or", filters: $filter });}else {list_sys_groups.data("kendoGrid").dataSource.filter([]);}
        }
        function Reload_list_sys_groups() { list_sys_groups.data('kendoGrid').dataSource.read(); list_sys_groups.data('kendoGrid').refresh(); }
        function onDataBound_sys_groups(e) {
            if (colbuttonCount_sys_groups > 0) {
                var grid = $("#grid_sys_groups").data("kendoGrid"); var list_sys_groups = grid.dataSource.view();
                for (var i = 0; i < list_sys_groups.length; i++) {
                    var currentUid = list_sys_groups[i].uid; var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                    if (param.btnView == 1) {
                        var viewButton = $(currenRow).find(".k-grid-View"); viewButton.attr("title", "@ResxHelper.GetValue("Message","View")");
                        if ("@ViewData["AllowView"]" == "1") {} else {viewButton.hide();}
                    }
                    if (param.btnEdit == 1) {
                        var editButton = $(currenRow).find(".k-grid-Edit"); editButton.attr("title", "@ResxHelper.GetValue("Message","Edit")");
                        if ("@ViewData["AllowEdit"]" == "1") {} else {editButton.hide();}
                    }
                    if (param.btnDelete == 1) {
                        var deleteButton = $(currenRow).find(".k-grid-Delete"); deleteButton.attr("title", "@ResxHelper.GetValue("Message","Delete")");
                        if ("@ViewData["AllowDelete"]" == "1") {} else {deleteButton.hide();}
                    }
                    if (param.btnCopy == 1) {
                        var copyButton = $(currenRow).find(".k-grid-Copy"); copyButton.attr("title", "@ResxHelper.GetValue("Message","Copy")");
                        if ("@ViewData["AllowAdd"]" == "1") {} else {copyButton.hide();}
                    }
                }
            }
        }
        function AddData_sys_groups() {var contentUrl = '@ViewData["UrlAdd"]'; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog, }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param.btn_add_modal_width, height: param.btn_add_modal_height, minHeight: 300, });if(param.btn_add_modal_width == 0) {form_edit.data("kendoWindow").center().open().maximize()} else {form_edit.data("kendoWindow").center().open();}}
        function ViewItem_sys_groups(data) { var qs = 'id=' + data.id; var contentUrl = '@ViewData["UrlView"]?' + qs; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param.btn_view_modal_width, height: param.btn_view_modal_height, minHeight: 300, }); if(param.btn_view_modal_width == 0) {form_edit.data("kendoWindow").center().open().maximize()} else {form_edit.data("kendoWindow").center().open();} }
        function EditData_sys_groups(data) { var qs = 'id=' + data.id; var contentUrl = '@ViewData["UrlEdit"]?' + qs; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param.btn_edit_modal_width, height: param.btn_edit_modal_height, minHeight: 300, }); if(param.btn_edit_modal_width == 0) {form_edit.data("kendoWindow").center().open().maximize()} else {form_edit.data("kendoWindow").center().open();} }
        function CopyData_sys_groups(data) { var qs = 'id=' + data.id; var contentUrl = '@ViewData["UrlCopy"]?' + qs; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param.btn_edit_modal_width, height: param.btn_edit_modal_height, minHeight: 300, }); if(param.btn_edit_modal_width == 0) {form_edit.data("kendoWindow").center().open().maximize()} else {form_edit.data("kendoWindow").center().open();} }
        function DeleteData_sys_groups(data) {
            var keyValue = '';
            jQuery.each(displayName, function (i, val) {
                keyValue += keyValue != "" ? "<br />" : "";
                keyValue += val.label+ ": " + data[val.name];
            });
            var pkItem = "";
            jQuery.each(pkKey, function (i, val) {
                pkItem += pkItem != "" ? ", " : "";
                pkItem += '"'+val+'":"'+data[val]+'" ';
            });
            var pkVal = jQuery.parseJSON("{" + pkItem + "}");
            var data2 = { title: 'Apakah anda yakin akan menghapus data ini?', msg: keyValue };
            var winconfirm = $("#dialogconfirm").kendoWindow({ title: "Hapus Role", modal: true, visible: false, resizable: true, draggable: true, width: "350px", height: "150px" }).data("kendoWindow");
            winconfirm.content(confirmTemplate(data2));
            winconfirm.center(); winconfirm.open();
            $("#yesButton").click(function () {
                $.ajax({
                    data: pkVal, url: '@ViewData["UrlDelete"]', type: 'POST'
                    , success: function (data) {
                        if (data.status != 1) {
                            notification.show({ title: data.title, message: kendo.toString(data.message) }, "error");
                            winconfirm.close();
                        } else {
                            notification.show({ message: kendo.toString(data.message) }, "success");
                            Reload_list_sys_groups();
                            winconfirm.close();
                        }
                    }
                });
            });
            $("#noButton").click(function () { winconfirm.close(); });
        }
        function onCloseDialog(e) { $('#dialog').html(''); }
        function closeDialog() { $("#dialog").data("kendoWindow").close(); }
        $("#btnExportExcel_sys_groups").click(function (e) { var grid = $("#grid_sys_groups").data("kendoGrid"); grid.saveAsExcel(); });
        function ShowHideColumn_sys_groups(e) { colname = $.isNumeric(e.value) ? parseInt(e.value) : e.value; if (e.checked) { $("#grid_sys_groups").data("kendoGrid").showColumn(colname); } else { $("#grid_sys_groups").data("kendoGrid").hideColumn(colname); } }
        $(document).ready(function () {
            $("#attr_column_show_hide").html(showhide_column);
            if (param.ShowFilter != 1) { $("#collapse_filter_sys_groups").hide(); $("#btnShowHideFilter_sys_groups").hide(); }
            if (param.btnAdd != 1) { $("#btnAdd_sys_groups").hide(); }
            if (param.quick_search != 1) { $("#quick_search_template_sys_groups").hide(); }
            if (param.search_by_column  != 1) { $("#btnSearchByColumn_sys_groups").hide(); }
            if (param.show_hide_column != 1) { $("#btnShowHideColumn_sys_groups").hide(); }
            if (param.export_exl != 1) { $("#btnExportExcel_sys_groups").hide(); }
            $("#btnShowHideColumn_sys_groups").click(function () { var x = $("#btnShowHideColumn_sys_groups").offset().left; var y = $("#btnShowHideColumn_sys_groups").offset().top; if (!WinShowHideColumn_sys_groups) { var WinShowHideColumn_sys_groups = $("#WinShowHideColumn_sys_groups").kendoWindow({ width: "300px", position: { left: x, top: y }, title: "@ResxHelper.GetValue("Message","ShowHideColumn")", actions: ["Close"] }); } WinShowHideColumn_sys_groups.data("kendoWindow").open(); });
        });

    </script>
}
