@using WebApp
@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
    var fieldModel = ViewData["fieldModel"] as WebApp.Models.AuditKriteriaAgcModel.ViewModel;
	ViewData["Title"] = ViewData["TitleHeader"];
    ViewData["PageName"] = "auditkriteriaagc";
    ViewData["Heading"] = ViewData["TitleHeader"];
    ViewData["Category1"] = "";
    ViewData["Category2"] = "";
}
<div class="panel panel-form">
	<div class="panel-container">
		<div class="panel-heading">
			<div class="title-header">@ViewData["TitleHeader"]</div>
		</div>
		<div class="panel-content">
            <div class="row">
                <div class="col-lg-6">

                    <div id="form_item_id" class="form-group-none">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "id")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_id" class="form-item-view">@Html.Raw(fieldModel.id)</div>
                    </div>

                    <div id="form_item_audit_id" class="form-group-none">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "audit_id")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_audit_id" class="form-item-view">@Html.Raw(fieldModel.audit_id)</div>
                    </div>

                    <div id="form_item_kriteria_audit_id" class="form-group-none">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "kriteria_audit_id")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_kriteria_audit_id" class="form-item-view">@Html.Raw(fieldModel.kriteria_audit_id)</div>
                    </div>

                    <div id="form_item_strategy" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "strategy")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_strategy" class="form-item-view">@Html.Raw(fieldModel.strategy)</div>
                    </div>

                    <div id="form_item_process" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "process")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_process" class="form-item-view">@Html.Raw(fieldModel.process)</div>
                    </div>

                    <div id="form_item_product" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "product")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_product" class="form-item-view">@Html.Raw(fieldModel.product)</div>
                    </div>

                    <div id="form_item_employee" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "employee")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_employee" class="form-item-view">@Html.Raw(fieldModel.employee)</div>
                    </div>

                    <div id="form_item_status_akhir_acp_id" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "status_akhir_acp_id")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_status_akhir_acp_id" class="form-item-view">@Html.Raw(fieldModel.status_akhir_acp_id_text)</div>
                    </div>

                    <div><p>&nbsp;</p></div>

                    <div id="form_item_amdal_id" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "amdal_id")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_amdal_id" class="form-item-view">@Html.Raw(fieldModel.amdal_id_text)</div>
                    </div>

                    <div id="form_item_pencemaran_air_id" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "pencemaran_air_id")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_pencemaran_air_id" class="form-item-view">@Html.Raw(fieldModel.pencemaran_air_id_text)</div>
                    </div>

                    <div id="form_item_pencemaran_udara_id" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "pencemaran_udara_id")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_pencemaran_udara_id" class="form-item-view">@Html.Raw(fieldModel.pencemaran_udara_id_text)</div>
                    </div>

                    <div id="form_item_limbah_lb3_id" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "limbah_lb3_id")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_limbah_lb3_id" class="form-item-view">@Html.Raw(fieldModel.limbah_lb3_id_text)</div>
                    </div>

                    <div id="form_item_limbah_nonlb3_id" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "limbah_nonlb3_id")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_limbah_nonlb3_id" class="form-item-view">@Html.Raw(fieldModel.limbah_nonlb3_id_text)</div>
                    </div>

                    <div id="form_item_comdev_id" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "comdev_id")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_comdev_id" class="form-item-view">@Html.Raw(fieldModel.comdev_id_text)</div>
                    </div>

                    <div id="form_item_status_akhir_cpproper_id" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "status_akhir_cpproper_id")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_status_akhir_cpproper_id" class="form-item-view">@Html.Raw(fieldModel.status_akhir_cpproper_id_text)</div>
                    </div>

                </div>
                <div class="col-lg-6">

                    <div id="form_item_sarana_k3_id" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "sarana_k3_id")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_sarana_k3_id" class="form-item-view">@Html.Raw(fieldModel.sarana_k3_id_text)</div>
                    </div>

                    <div id="form_item_sarana_ktd_id" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "sarana_ktd_id")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_sarana_ktd_id" class="form-item-view">@Html.Raw(fieldModel.sarana_ktd_id_text)</div>
                    </div>

                    <div id="form_item_simulasi_ktd_id" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "simulasi_ktd_id")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_simulasi_ktd_id" class="form-item-view">@Html.Raw(fieldModel.simulasi_ktd_id_text)</div>
                    </div>

                    <div id="form_item_fr_tk" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "fr_tk")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_fr_tk" class="form-item-view">@Html.Raw(fieldModel.fr_tk)</div>
                    </div>

                    <div id="form_item_sr_tf" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "sr_tf")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_sr_tf" class="form-item-view">@Html.Raw(fieldModel.sr_tf)</div>
                    </div>

                    <div><p>&nbsp;</p></div>

                    <div id="form_item_status_akhir_incident_rate_id" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "status_akhir_incident_rate_id")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_status_akhir_incident_rate_id" class="form-item-view">@Html.Raw(fieldModel.status_akhir_incident_rate_id_text)</div>
                    </div>

                    <div id="form_item_status_akhir_cpsafety_id" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "status_akhir_cpsafety_id")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_status_akhir_cpsafety_id" class="form-item-view">@Html.Raw(fieldModel.status_akhir_cpsafety_id_text)</div>
                    </div>

                    <div id="form_item_status_akhir_legal_comp_id" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "status_akhir_legal_comp_id")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_status_akhir_legal_comp_id" class="form-item-view">@Html.Raw(fieldModel.status_akhir_legal_comp_id_text)</div>
                    </div>

                    <div id="form_item_status_akhir_agc_id" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "status_akhir_agc_id")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_status_akhir_agc_id" class="form-item-view">@Html.Raw(fieldModel.status_akhir_agc_id_text)</div>
                    </div>

                    <div id="form_item_lampiran_file_path" class="form-group">
                        <div class="form-item-label220">@ResxHelper.GetValue("ta_audit_kriteria_agc", "lampiran_file_path")</div>
                        <div class="form-item-separator">:</div>
                        <div id="view_item_lampiran_file_path" class="form-item-view">@Html.Raw(fieldModel.lampiran_file_path)</div>
                    </div>

                </div>
            </div>
		</div>
		<div class="panel-footer">
			<a id="close" class="k-button k-button-icontext" href="#"><i class="far fa-times-circle"></i>&nbsp;<span id="btnCloseText">@ResxHelper.GetValue("Message", "Close", "Tutup")</span></a>
		</div>
	</div>
</div>
<script>
    $("#close").kendoButton();
    $("#close").click(function (e) {
        close_self();
    });
    function onCloseDialog(e) { $('#dialog').html(''); }
    function closeDialog() { $("#dialog").data("kendoWindow").close(); }
    function close_self() { if (window.parent.$("#dialog_ta_audit_kriteria_agc").data("kendoWindow")) { window.parent.$("#dialog_ta_audit_kriteria_agc").data("kendoWindow").close(); } else { window.parent.$("#dialog").data("kendoWindow").close(); } }
</script>