@using WebApp
@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
	var filterColumn = ViewData["filterColumn"] as WebApp.Areas.Ref.Models.Lb3PengangkutModel.ViewModel;
    ViewData["Title"] = ViewData["TitleHeader"];
    ViewData["PageName"] = "lb3pengangkut";
    ViewData["Heading"] = ViewData["TitleHeader"];
    ViewData["Category1"] = "";
    ViewData["Category2"] = "";
}
<div class="panel">
    <div class="panel-container">
		<div class="panel-content">
			<div id="collapse_filter_ref_lb3_pengangkut" class="panel panel-collapse collapse">
                <div class="panel-heading-filter">
                    @ResxHelper.GetValue("Message", "FilterDataHeader", "Filter Data")
                </div>
				<div class="panel-body-filter">
                    <section class="filter_cols">

                    </section>
				</div>
				<div class="panel-footer-filter">
					<a id="btnResetFilter_ref_lb3_pengangkut" onclick="reset_filter_ref_lb3_pengangkut()" class="k-button" title="Reset Filter">@ResxHelper.GetValue("Message", "ResetFilter", "Reset Filter")</a>
				</div>
			</div>
			<div>
				<table id="toolbar_panel" style="width:100%;">
					<tr>
						<td>
							<span id="quick_search_template_ref_lb3_pengangkut" class="k-textbox k-space-right"><input id="txtSearch_ref_lb3_pengangkut" placeholder="@ResxHelper.GetValue("Message","QuickSearch")" value="" /><a id="btnSearch_ref_lb3_pengangkut" href="#" class="k-icon k-i-search">&nbsp;</a></span>
							<img id="btnSearchByColumn_ref_lb3_pengangkut" title="@ResxHelper.GetValue("Message","ShowSearchByColumn")" style="cursor:pointer" src="~/img/search_by_column.png" width="20">
							<img id="btnShowHideColumn_ref_lb3_pengangkut" title="@ResxHelper.GetValue("Message","ShowHideColumn")" style="cursor:pointer" src="~/img/show_hide_column.png" width="20">
							<a id="btnShowHideFilter_ref_lb3_pengangkut" data-toggle="collapse" href="#collapse_filter_ref_lb3_pengangkut" style="display:none">@ResxHelper.GetValue("Message", "ShowFilter", "Tampilkan Filter")</a>
						</td>
						<td style="float:right">
							<img id="btnExportExcel_ref_lb3_pengangkut" title="@ResxHelper.GetValue("Message","ExportToExcel")" style="cursor:pointer" src="~/img/excel.png" width="20" />&nbsp;
							<a id="btnAdd_ref_lb3_pengangkut" onclick="AddData_ref_lb3_pengangkut()" class="k-button" title="@ResxHelper.GetValue("Message","Add")">@ResxHelper.GetValue("Message", "Add", "Tambah")</a>
						</td>
					<tr>
				</table>
			</div>
			<div id="grid_ref_lb3_pengangkut"></div>
		</div>
    </div>

</div>
<div id="WinShowHideColumn_ref_lb3_pengangkut" style="display: none">
    <div id="attr_column_show_hide" style="width:auto;height:auto;overflow-y:scroll;"></div>
</div>
@section ScriptsBlock {
    <script>
		var param_ref_lb3_pengangkut = @Html.Raw(JsonConvert.SerializeObject(WebApp.Areas.Ref.Models.Lb3PengangkutModel.GetListParam()));
		var displayName_ref_lb3_pengangkut = @Html.Raw(JsonConvert.SerializeObject(WebApp.Areas.Ref.Models.Lb3PengangkutModel.GetDisplayItem()));
		var pkKey_ref_lb3_pengangkut = @Html.Raw(JsonConvert.SerializeObject(WebApp.Areas.Ref.Models.Lb3PengangkutModel._pkKey));
		var j_data_ref_lb3_pengangkut = @Html.Raw(JsonConvert.SerializeObject(WebApp.Areas.Ref.Models.Lb3PengangkutModel.GetGridColumn()));
		var colNameTooltip_ref_lb3_pengangkut = [];
		var colbuttonCount_ref_lb3_pengangkut = 0;
		var columnWidth = 40;
		colbuttonCount_ref_lb3_pengangkut += param_ref_lb3_pengangkut.btnView == 1 ? 1 : 0;
		colbuttonCount_ref_lb3_pengangkut += param_ref_lb3_pengangkut.btnEdit== "1" ? 1 : 0;
		colbuttonCount_ref_lb3_pengangkut += param_ref_lb3_pengangkut.btnDelete == "1" ? 1 : 0;
		colbuttonCount_ref_lb3_pengangkut += param_ref_lb3_pengangkut.btnCopy  == "1" ? 1 : 0;
		if (colbuttonCount_ref_lb3_pengangkut == 1) { columnWidth = 40; } else if (colbuttonCount_ref_lb3_pengangkut == 2) { columnWidth = 60; } else if (colbuttonCount_ref_lb3_pengangkut == 3) { columnWidth = 95; } else if (colbuttonCount_ref_lb3_pengangkut == 4) { columnWidth = 120; }
		var columnActionWidth_ref_lb3_pengangkut = columnWidth + "px";
		var item_data = "";
		var col_att = [];
		var showhide_column = "";
		var j = 0;
		var checked = '';
		var aggregate_data_ref_lb3_pengangkut = [];
		var agg_i = 0
		jQuery.each(j_data_ref_lb3_pengangkut, function (i, val) {
			var footerTemplate = "";
			if (val.aggregate != "") {
				footerTemplate = val.footerTemplate!="" ? val.footerTemplate : '#='+val.aggregate+'#';
				aggregate_data_ref_lb3_pengangkut[agg_i] = { field: val.name, aggregate: val.aggregate };
				agg_i++;
			}
			item_data += item_data != "" ? "," : "";
			item_data += '"' + val.name + '" : { "type": "' + val.type + '" } ';
			if (val.display) {
				col_att[j] = { field: val.name, title: val.title, hidden: JSON.parse(val.hidden), width: val.width, format: val.format, attributes: JSON.parse(val.attributes), encoded: JSON.parse(val.encoded), filterable: JSON.parse(val.filterable), sortable: JSON.parse(val.sortable), headerAttributes: { style: "white-space: normal;vertical-align:middle;text-align:center" },aggregates: [val.aggregate], footerTemplate: footerTemplate };
				j++;
				checked = '';if (val.hidden.toString() == 'false') {checked = 'checked';}
				showhide_column += '<div><input type="checkbox" onclick="ShowHideColumn_ref_lb3_pengangkut(this)" '+ checked +' value="' + val.name + '" /> ' + val.title + '</div>';
			}
		});
		showhide_column += '<div><input type="checkbox" onclick="ShowHideColumn_ref_lb3_pengangkut(this)" checked value="' + j + '" /> Action</div>';
		item_data = '{' + item_data + '}';
		var field_data = JSON.parse(item_data);
		var columns_data = col_att;
		var col_command = [];
		var k = 0;
		if (param_ref_lb3_pengangkut.btnView== 1) {col_command[k] = { name: "View", text: "", className: "v-view", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); ViewItem_ref_lb3_pengangkut(data); } };k++;}
		if (param_ref_lb3_pengangkut.btnEdit== 1) {col_command[k] = { name: "Edit", text: "", className: "v-pencil", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); EditData_ref_lb3_pengangkut(data); } };k++;}
		if (param_ref_lb3_pengangkut.btnDelete== 1) {col_command[k] = { name: "Delete", text: "", className: "v-close", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); DeleteData_ref_lb3_pengangkut(data); } };k++;}
		if (param_ref_lb3_pengangkut.btnCopy == 1) { col_command[k] = { name: "Copy", text: "", className: "v-copy", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); CopyData_ref_lb3_pengangkut(data); } }; k++; }
		if (colbuttonCount_ref_lb3_pengangkut > 0) {
			columns_data[j] = {command: col_command, width: columnActionWidth_ref_lb3_pengangkut, attributes: " style=\"vertical-align:top;\""};
		}
		//==============================

		//==============================
		$("#collapse_filter_ref_lb3_pengangkut").on('shown.bs.collapse', function () {
			$("#btnShowHideFilter_ref_lb3_pengangkut").html('@ResxHelper.GetValue("Message","HideFilter")');
		});
		$("#collapse_filter_ref_lb3_pengangkut").on('hidden.bs.collapse', function () {
			$("#btnShowHideFilter_ref_lb3_pengangkut").html('@ResxHelper.GetValue("Message","ShowFilter")');
		});
		//==============================
		var record_ref_lb3_pengangkut = 0;
		var grid_ref_lb3_pengangkut_heigth = 0;
		var ds_ref_lb3_pengangkut_filter = { filter_by_column: [] };
		var ds_ref_lb3_pengangkut = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/Lb3Pengangkut/GetListData", dataType: "json", type: "POST", data: ds_ref_lb3_pengangkut_filter }, parameterMap: function (options) { if (options.filter) { for (var i = 0; i < options.filter.filters.length; i++) { if (options.filter.filters[i].field == 'tanggal') { options.filter.filters[i].value = kendo.toString(options.filter.filters[i].value, "yyyy-MM-dd"); } } } return options; } }, schema: { data: "data", total: "total", aggregates: "aggregates", model: { fields: field_data } }, aggregate: aggregate_data_ref_lb3_pengangkut, pageSize: 10, serverAggregates: true, serverPaging: true, serverFiltering: true, serverSorting: true });
		var list_ref_lb3_pengangkut = $("#grid_ref_lb3_pengangkut").kendoGrid({
			excel: { allPages: true, fileName: '@ViewData["TitleHeader"]'+'.xlsx' },
			dataSource: ds_ref_lb3_pengangkut, dataBound: onDataBound_ref_lb3_pengangkut, height: grid_ref_lb3_pengangkut_heigth, scrollable: true, groupable: false, columnMenu: false, menu: true, resizable: true, filterable: false, sortable: { mode: "multiple", allowUnsort: true }, pageable: { refresh: true, pageSizes: [5, 10, 20, 50, 100, 200], buttonCount: 5 },
			columns: columns_data, editable: false, dataBinding: function () { record_ref_lb3_pengangkut = (this.dataSource.page() - 1) * this.dataSource.pageSize(); }
		});
		function getParamgrid_ref_lb3_pengangkut() {
			var filter_by_column= [];var k = 0;
	
			return { filter_by_column:filter_by_column };
		}
		function reset_filter_ref_lb3_pengangkut() {
	
			onFilterHeader_ref_lb3_pengangkut();
		}
		function onFilterHeader_ref_lb3_pengangkut() {
			$("#txtSearch_ref_lb3_pengangkut").val('');
			paramValue = getParamgrid_ref_lb3_pengangkut();
			if (list_ref_lb3_pengangkut.data('kendoGrid').dataSource.page() > 1) {
				list_ref_lb3_pengangkut.data('kendoGrid').dataSource.page(0);
			}
			list_ref_lb3_pengangkut.data('kendoGrid').dataSource.transport.options.read.data = paramValue;
			list_ref_lb3_pengangkut.data("kendoGrid").dataSource.filter([]);
		};
		$("#btnSearchByColumn_ref_lb3_pengangkut").click(function () { var grid_ref_lb3_pengangkut_heigth_filter = grid_ref_lb3_pengangkut_heigth + 38; if (list_ref_lb3_pengangkut.data("kendoGrid").options.filterable == false) { $('#btnSearchByColumn_ref_lb3_pengangkut').prop('title', '@ResxHelper.GetValue("Message","HideSearchByColumn")'); $("#txtSearch_ref_lb3_pengangkut").val(''); if ('1' == '1') { $("#quick_search_template_ref_lb3_pengangkut").hide(); }; QuickSearch_ref_lb3_pengangkut(); list_ref_lb3_pengangkut.data("kendoGrid").setOptions({ height: grid_ref_lb3_pengangkut_heigth_filter, filterable: { mode: "row" }, }); } else { $('#btnSearchByColumn_ref_lb3_pengangkut').prop('title', '@ResxHelper.GetValue("Message","ShowSearchByColumn")'); $("#txtSearch_ref_lb3_pengangkut").val(''); if ('1' == '1') { $("#quick_search_template_ref_lb3_pengangkut").show(); }; QuickSearch_ref_lb3_pengangkut(); list_ref_lb3_pengangkut.data("kendoGrid").setOptions({ height: grid_ref_lb3_pengangkut_heigth, filterable: false, }); } });
		$("#btnSearch_ref_lb3_pengangkut").click(function () { QuickSearch_ref_lb3_pengangkut(); });
		$('#txtSearch_ref_lb3_pengangkut').keypress(function (e) { if (e.keyCode == 13) { QuickSearch_ref_lb3_pengangkut(); } });
		function QuickSearch_ref_lb3_pengangkut() {
			$filter = new Array();
			$x = $("#txtSearch_ref_lb3_pengangkut").val();
			if ($x) {jQuery.each(j_data_ref_lb3_pengangkut, function (i, val) {if (val.display && val.qsearch && val.type =='string') {$filter.push({ name: val.name, opr: "contains", value: $x });}});} 
			if ($filter.length > 0) {list_ref_lb3_pengangkut.data("kendoGrid").dataSource.filter({ logic: "or", filters: $filter });}else {list_ref_lb3_pengangkut.data("kendoGrid").dataSource.filter([]);}
		}
		function Reload_list_ref_lb3_pengangkut() { list_ref_lb3_pengangkut.data('kendoGrid').dataSource.read(); list_ref_lb3_pengangkut.data('kendoGrid').refresh(); }
		function onDataBound_ref_lb3_pengangkut(e) {
			if (colbuttonCount_ref_lb3_pengangkut > 0) {
				var grid = $("#grid_ref_lb3_pengangkut").data("kendoGrid"); var list_ref_lb3_pengangkut = grid.dataSource.view();
				for (var i = 0; i < list_ref_lb3_pengangkut.length; i++) {
					var currentUid = list_ref_lb3_pengangkut[i].uid; var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
					if (param_ref_lb3_pengangkut.btnView == 1) {
						var viewButton = $(currenRow).find(".k-grid-View"); viewButton.attr("title", "@ResxHelper.GetValue("Message","View")");
						if ("@ViewData["AllowView"]" == "1") {} else {viewButton.hide();}
					}
					if (param_ref_lb3_pengangkut.btnEdit == 1) {
						var editButton = $(currenRow).find(".k-grid-Edit"); editButton.attr("title", "@ResxHelper.GetValue("Message","Edit")");
						if ("@ViewData["AllowEdit"]" == "1") {} else {editButton.hide();}
					}
					if (param_ref_lb3_pengangkut.btnDelete == 1) {
						var deleteButton = $(currenRow).find(".k-grid-Delete"); deleteButton.attr("title", "@ResxHelper.GetValue("Message","Delete")");
						if ("@ViewData["AllowDelete"]" == "1") {} else {deleteButton.hide();}
					}
					if (param_ref_lb3_pengangkut.btnCopy == 1) {
						var copyButton = $(currenRow).find(".k-grid-Copy"); copyButton.attr("title", "@ResxHelper.GetValue("Message","Copy")");
						if ("@ViewData["AllowAdd"]" == "1") {} else {copyButton.hide();}
					}
				}
			}
		}
		function AddData_ref_lb3_pengangkut() {var contentUrl = '@ViewBag.BaseUrl/Ref/Lb3Pengangkut/Add'; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog, }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param_ref_lb3_pengangkut.btn_add_modal_width, height: param_ref_lb3_pengangkut.btn_add_modal_height, minHeight: 300, });if(param_ref_lb3_pengangkut.btn_add_modal_width == 0) {form_edit.data("kendoWindow").center().open().maximize()} else {form_edit.data("kendoWindow").center().open();}}
		function ViewItem_ref_lb3_pengangkut(data) { var qs = '';jQuery.each(pkKey_ref_lb3_pengangkut, function (i, val) {qs += qs != "" ? "&" : "";qs += val+'=' + data[val];});var contentUrl = '@ViewBag.BaseUrl/Ref/Lb3Pengangkut/ViewItem?' + qs; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param_ref_lb3_pengangkut.btn_view_modal_width, height: param_ref_lb3_pengangkut.btn_view_modal_height, minHeight: 300, }); if (param_ref_lb3_pengangkut.btn_view_modal_width == 0) { form_edit.data("kendoWindow").center().open().maximize() } else { form_edit.data("kendoWindow").center().open(); }}
		function EditData_ref_lb3_pengangkut(data) { var qs = '';jQuery.each(pkKey_ref_lb3_pengangkut, function (i, val) {qs += qs != "" ? "&" : "";qs += val+'=' + data[val];}); var contentUrl = '@ViewBag.BaseUrl/Ref/Lb3Pengangkut/Edit?' + qs; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param_ref_lb3_pengangkut.btn_edit_modal_width, height: param_ref_lb3_pengangkut.btn_edit_modal_height, minHeight: 300, }); if(param_ref_lb3_pengangkut.btn_edit_modal_width == 0) {form_edit.data("kendoWindow").center().open().maximize()} else {form_edit.data("kendoWindow").center().open();} }
		function CopyData_ref_lb3_pengangkut(data) { var qs = '';jQuery.each(pkKey_ref_lb3_pengangkut, function (i, val) {qs += qs != "" ? "&" : "";qs += val+'=' + data[val];}); var contentUrl = '@ViewBag.BaseUrl/Ref/Lb3Pengangkut/Copy?' + qs; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param_ref_lb3_pengangkut.btn_edit_modal_width, height: param_ref_lb3_pengangkut.btn_edit_modal_height, minHeight: 300, }); if(param_ref_lb3_pengangkut.btn_edit_modal_width == 0) {form_edit.data("kendoWindow").center().open().maximize()} else {form_edit.data("kendoWindow").center().open();} }
		function DeleteData_ref_lb3_pengangkut(data) {
			var keyValue = '';
			jQuery.each(displayName_ref_lb3_pengangkut, function (i, val) {
				keyValue += keyValue != "" ? "<br />" : "";
				keyValue += val.label+ ": " + data[val.name];
			});
			var pkItem = "";
			jQuery.each(pkKey_ref_lb3_pengangkut, function (i, val) {
				pkItem += pkItem != "" ? ", " : "";
				pkItem += '"'+val+'":"'+data[val]+'" ';
			});
			var pkVal = jQuery.parseJSON("{" + pkItem + "}");
			var data2 = { title: '@ResxHelper.GetValue("Message","ConfirmDelete")', msg: keyValue };
			var winconfirm = $("#dialogconfirm").kendoWindow({ title: "@ResxHelper.GetValue("Message","DeleteData")", modal: true, visible: false, resizable: true, draggable: true, width: "500px", height: "200px" }).data("kendoWindow");
			winconfirm.content(confirmTemplate(data2));
			winconfirm.center(); winconfirm.open();
			$("#yesButton").click(function () {
				$.ajax({
					data: pkVal, url: '@ViewBag.BaseUrl/Ref/Lb3Pengangkut/Delete', type: 'POST'
					, success: function (data) {
						if (data.status != 1) {
							notification.show({ title: data.title, message: kendo.toString(data.message) }, "error");
							winconfirm.close();
						} else {
							notification.show({ message: kendo.toString(data.message) }, "success");
							Reload_list_ref_lb3_pengangkut();
							winconfirm.close();
						}
					}
				});
			});
			$("#noButton").click(function () { winconfirm.close(); });
		}
		function onCloseDialog(e) { $('#dialog').html(''); }
		function closeDialog() { $("#dialog").data("kendoWindow").close(); }
		$("#btnExportExcel_ref_lb3_pengangkut").click(function (e) { var grid = $("#grid_ref_lb3_pengangkut").data("kendoGrid"); grid.saveAsExcel(); });
		function ShowHideColumn_ref_lb3_pengangkut(e) { colname = $.isNumeric(e.value) ? parseInt(e.value) : e.value; if (e.checked) { $("#grid_ref_lb3_pengangkut").data("kendoGrid").showColumn(colname); } else { $("#grid_ref_lb3_pengangkut").data("kendoGrid").hideColumn(colname); } }
		$(document).ready(function () {
			$("#attr_column_show_hide").html(showhide_column);
			if (param_ref_lb3_pengangkut.ShowFilter == 1) { $("#btnShowHideFilter_ref_lb3_pengangkut").show(); }
			if (param_ref_lb3_pengangkut.btnAdd == 1 && @ViewData["AllowAdd"]== "1") { }else{ $("#btnAdd_ref_lb3_pengangkut").hide(); }
			if (param_ref_lb3_pengangkut.quick_search != 1) { $("#quick_search_template_ref_lb3_pengangkut").hide(); }
			if (param_ref_lb3_pengangkut.search_by_column  != 1) { $("#btnSearchByColumn_ref_lb3_pengangkut").hide(); }
			if (param_ref_lb3_pengangkut.show_hide_column != 1) { $("#btnShowHideColumn_ref_lb3_pengangkut").hide(); }
			if (param_ref_lb3_pengangkut.export_exl != 1) { $("#btnExportExcel_ref_lb3_pengangkut").hide(); }
			$("#btnShowHideColumn_ref_lb3_pengangkut").click(function () { var x = $("#btnShowHideColumn_ref_lb3_pengangkut").offset().left; var y = $("#btnShowHideColumn_ref_lb3_pengangkut").offset().top; if (!WinShowHideColumn_ref_lb3_pengangkut) { var WinShowHideColumn_ref_lb3_pengangkut = $("#WinShowHideColumn_ref_lb3_pengangkut").kendoWindow({ width: "300px", position: { left: x, top: y }, title: "@ResxHelper.GetValue("Message","ShowHideColumn")", actions: ["Close"] }); } WinShowHideColumn_ref_lb3_pengangkut.data("kendoWindow").open(); });
		});
    </script>
}