@using WebApp
@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
    var fieldModel = ViewData["fieldModel"] as WebApp.Models.ConditionModel.ViewModel;
    ViewData["Title"] = ViewData["TitleHeader"];
    ViewData["PageName"] = "condition";
    ViewData["Heading"] = ViewData["TitleHeader"];
    ViewData["Category1"] = "";
    ViewData["Category2"] = "";
}

<form id="form_edit" method="post" class="panel-form">
    <div class="panel">
        <div class="panel-heading">
            <div class="title-header">@ViewData["TitleHeader"]</div>
        </div>
		<div class="panel-container">
			<div class="panel-content">
				<div class="row">
					<div class="col-lg-12">
                        <div id="form_item_id" class="form-group-none">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_condition", "id")<span id="label_req_id" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_id" class="form-item-field">
                               <input type="number" id="id" name="id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_condition","id"))" style ="width:200px;" />
                               <span class="k-invalid-msg" data-for="id"></span>
                               <input type="hidden" id="id_old" name="id_old" value="@fieldModel.id" />
                               <script>
                                   $("#id").kendoNumericTextBox({ format: "{0:N0}", decimals: 0 });
                                   $(document).ready(function () {$("#id").data('kendoNumericTextBox').value('@fieldModel.id');})
                               </script>
                           </div>
                       </div>

                       <div id="form_item_ehs_area_id" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_condition", "ehs_area_id")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_ehs_area_id" class="form-item-field">
                               <input id="ehs_area_id" name="ehs_area_id"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_condition","ehs_area_id"))" style="width:350px;" />
                               <span class="k-invalid-msg" data-for="ehs_area_id"></span>
                               <script>
                                   var ehs_area_id_param = {item : {value:"id",text:"kode"},parent:[], order:[]};
                                   var ehs_area_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/EHSArea/LookupData", dataType: "json", data: ehs_area_id_param, type: "POST" } } });
                                   var ehs_area_id = $("#ehs_area_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: ehs_area_id_ds, change:onChange_ehs_area_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#ehs_area_id").data("kendoComboBox").value('@fieldModel.ehs_area_id'); });
                                   function onChange_ehs_area_id() {if ($("#ehs_area_id").data("kendoComboBox").value() != '' && $("#ehs_area_id").data("kendoComboBox")._oldIndex == -1) {$("#ehs_area_id").data("kendoComboBox").value('');}
                                       reload_ba_id();
                                       reload_pa_id();
                                       reload_psa_id();
                                   }
                               </script>
                           </div>
                       </div>

                       <div id="form_item_ba_id" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_condition", "ba_id")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_ba_id" class="form-item-field">
                               <input id="ba_id" name="ba_id"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_condition","ba_id"))" style="width:350px;" />
                               <span class="k-invalid-msg" data-for="ba_id"></span>
                               <script>
                                   var ba_id_param = {item : {value:"id",text:"kode"},parent:[{ field: 'ehs_area_id',opr:'=', value: '@fieldModel.ehs_area_id' }], order:[]};
                                   var ba_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/BusinessArea/LookupData", dataType: "json", data: ba_id_param, type: "POST" } } });
                                   var ba_id = $("#ba_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: ba_id_ds, change:onChange_ba_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#ba_id").data("kendoComboBox").value('@fieldModel.ba_id'); });
                                   function onChange_ba_id() {if ($("#ba_id").data("kendoComboBox").value() != '' && $("#ba_id").data("kendoComboBox")._oldIndex == -1) {$("#ba_id").data("kendoComboBox").value('');}
                                       reload_pa_id();
                                       reload_psa_id();
                                   }
                                  function reload_ba_id(){
                                      $("#ba_id").data("kendoComboBox").value('');
                                      var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
                                      var ba_id_param = { item: { value: 'id', text: 'kode' }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }], order: [] };
                                      $("#ba_id").data("kendoComboBox").dataSource.read(ba_id_param);
                                  }
                               </script>
                           </div>
                       </div>

                       <div id="form_item_pa_id" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_condition", "pa_id")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_pa_id" class="form-item-field">
                               <input id="pa_id" name="pa_id"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_condition","pa_id"))" style="width:350px;" />
                               <span class="k-invalid-msg" data-for="pa_id"></span>
                               <script>
                                   var pa_id_param = {item : {value:"id",text:"kode"},parent:[{ field: 'ehs_area_id',opr:'=', value: '@fieldModel.ehs_area_id' }, { field: 'ba_id',opr:'=', value: '@fieldModel.ba_id' }], order:[]};
                                   var pa_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/PersonalArea/LookupData", dataType: "json", data: pa_id_param, type: "POST" } } });
                                   var pa_id = $("#pa_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: pa_id_ds, change:onChange_pa_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#pa_id").data("kendoComboBox").value('@fieldModel.pa_id'); });
                                   function onChange_pa_id() {if ($("#pa_id").data("kendoComboBox").value() != '' && $("#pa_id").data("kendoComboBox")._oldIndex == -1) {$("#pa_id").data("kendoComboBox").value('');}
                                       reload_psa_id();
                                   }
                                  function reload_pa_id(){
                                      $("#pa_id").data("kendoComboBox").value('');
                                      var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
                                      var ba_id = $("#ba_id").data("kendoComboBox").value();
                                      var pa_id_param = { item: { value: 'id', text: 'kode' }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }, { field: 'ba_id',opr:'=', value: ba_id }], order: [] };
                                      $("#pa_id").data("kendoComboBox").dataSource.read(pa_id_param);
                                  }
                               </script>
                           </div>
                       </div>

                       <div id="form_item_psa_id" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_condition", "psa_id")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_psa_id" class="form-item-field">
                               <input id="psa_id" name="psa_id"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_condition","psa_id"))" style="width:350px;" />
                               <span class="k-invalid-msg" data-for="psa_id"></span>
                               <script>
                                   var psa_id_param = {item : {value:"id",text:"kode"},parent:[{ field: 'ehs_area_id',opr:'=', value: '@fieldModel.ehs_area_id' }, { field: 'ba_id',opr:'=', value: '@fieldModel.ba_id' }, { field: 'pa_id',opr:'=', value: '@fieldModel.pa_id' }], order:[]};
                                   var psa_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/PersonalSubArea/LookupData", dataType: "json", data: psa_id_param, type: "POST" } } });
                                   var psa_id = $("#psa_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: psa_id_ds, change:onChange_psa_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#psa_id").data("kendoComboBox").value('@fieldModel.psa_id'); });
                                   function onChange_psa_id() {if ($("#psa_id").data("kendoComboBox").value() != '' && $("#psa_id").data("kendoComboBox")._oldIndex == -1) {$("#psa_id").data("kendoComboBox").value('');}
                                   }
                                  function reload_psa_id(){
                                      $("#psa_id").data("kendoComboBox").value('');
                                      var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
                                      var ba_id = $("#ba_id").data("kendoComboBox").value();
                                      var pa_id = $("#pa_id").data("kendoComboBox").value();
                                      var psa_id_param = { item: { value: 'id', text: 'kode' }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }, { field: 'ba_id',opr:'=', value: ba_id }, { field: 'pa_id',opr:'=', value: pa_id }], order: [] };
                                      $("#psa_id").data("kendoComboBox").dataSource.read(psa_id_param);
                                  }
                               </script>
                           </div>
                       </div>

                       <div id="form_item_date_start" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_condition", "date_start")<span id="label_req_date_start" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_date_start" class="form-item-field">
                               <input id="dt_date_start" name="dt_date_start" data-role="datepicker" data-type="date" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_condition","date_start"))" style ="width:130px;" title="@ResxHelper.GetValue("ta_condition", "date_start") @ResxHelper.GetValue("Message", "IsNotValidDate")." />
                               <span class="k-invalid-msg" data-for="dt_date_start"></span>
                               <input type="hidden" id="date_start" name="date_start" value="@fieldModel.date_start" />
                               <script>
                                   $("#dt_date_start").kendoDatePicker({change:on_chage_date_start, value: "@fieldModel.dt_date_start", format: "{0:dd/MM/yyyy}" });
                                   function on_chage_date_start() {
                                       $("#date_start").val(kendo.toString($("#dt_date_start").data("kendoDatePicker").value(), "yyyy-MM-dd"));
                                   }
                               </script>
                           </div>
                       </div>

                       <div id="form_item_date_finish" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_condition", "date_finish")<span id="label_req_date_finish" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_date_finish" class="form-item-field">
                               <input id="dt_date_finish" name="dt_date_finish" data-role="datepicker" data-type="date" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_condition","date_finish"))" style ="width:130px;" title="@ResxHelper.GetValue("ta_condition", "date_finish") @ResxHelper.GetValue("Message", "IsNotValidDate")." />
                               <span class="k-invalid-msg" data-for="dt_date_finish"></span>
                               <input type="hidden" id="date_finish" name="date_finish" value="@fieldModel.date_finish" />
                               <script>
                                   $("#dt_date_finish").kendoDatePicker({change:on_chage_date_finish, value: "@fieldModel.dt_date_finish", format: "{0:dd/MM/yyyy}" });
                                   function on_chage_date_finish() {
                                       $("#date_finish").val(kendo.toString($("#dt_date_finish").data("kendoDatePicker").value(), "yyyy-MM-dd"));
                                   }
                               </script>
                           </div>
                       </div>
                  <div class="form-group"></div>
                    
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<a id="cancel" class="k-button k-button-icontext" href="#"><i class="far fa-times-circle"></i>&nbsp;<span id="btnCancelText">@ResxHelper.GetValue("Message", "Cancel")</span></a>
				<a id="save" class="k-button k-button-icontext" href="#"><i class="fas fa-save"></i>&nbsp;<span id="btnSaveText">@ResxHelper.GetValue("Message", "Save")</span></a>
			</div>
		</div>
    </div>
</form>

<script>
    var form_type = '@ViewData["form_type"]';
    function ShowHideColumn(form_type)
    {
        if(form_type=='Add')
        {
            var hiden_column = [];
            for (i = 0; i < hiden_column.length; i++) {
                $("#form_item_"+hiden_column[i]).hide();
            }
        }
        else if(form_type=='Edit')
        {
            var hiden_column = [];
            for (i = 0; i < hiden_column.length; i++) {
                $("#form_item_"+hiden_column[i]).hide();
            }
        }
    }
    function setReadOnly(form_type,opt)
    {
        if(opt==true)
        {
            if(form_type=='Add')
            {

            }
            else if(form_type=='Edit')
            {

            }
        }
        else
        {
            if(form_type=='Add')
            {

            }
            else if(form_type=='Edit')
            {

            }
        }
    }
    $(document).ready(function () {
        ShowHideColumn(form_type);
        setReadOnly(form_type, true);
    });
    var validatable = $("#form_edit").kendoValidator().data("kendoValidator");
    $("#save").click(function (e) {
		setReadOnly(form_type, false);
        if (validatable.validate() === true) {
            kendo.ui.progress($("#form_edit"), true);
            $.ajax({
                url: '@ViewData["UrlAction"]', data: $('#form_edit').serialize(), type: 'POST',
                success: function (data) {
                    kendo.ui.progress($("#form_edit"), false);
                    if (data.status == 1) {
                        window.parent.notification.show({title: data.title, message: kendo.toString(data.message) }, "success");
                        if (window.parent.Reload_list_ta_condition) {
                            window.parent.Reload_list_ta_condition();
                        }else if (window.parent.reload_ta_condition) {
                            window.parent.reload_ta_condition(data.pk);
                        }
                        close_self();
                    } else if (data.status == 3) {
                        windows.parent.notification.show({ title: data.title, message: data.message }, "error");
                        setReadOnly(form_type, true);
						close_self();
                    } else {
						setReadOnly(form_type, true);
                        notification.show({ title: data.title, message: data.message }, "error");
                    }
                }
            });
        } else {
            kendo.ui.progress($("#form_edit"), false);
        }
		setReadOnly(form_type, true);
    });
    $("#cancel").kendoButton();
    $("#cancel").click(function (e) {
        close_self();
    });
    function close_self() { if (window.parent.$("#dialog_ta_condition").data("kendoWindow")) { window.parent.$("#dialog_ta_condition").data("kendoWindow").close(); } else { window.parent.$("#dialog").data("kendoWindow").close(); } }
</script>