@using WebApp
@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
    var fieldModel = ViewData["fieldModel"] as WebApp.Models.FasSpekTangkiTimbunModel.ViewModel;
    ViewData["Title"] = ViewData["TitleHeader"];
    ViewData["PageName"] = "fasspektangkitimbun";
    ViewData["Heading"] = ViewData["TitleHeader"];
    ViewData["Category1"] = "";
    ViewData["Category2"] = "";
}

<form id="form_edit" method="post" class="panel-form">
    <div class="panel">
        <div class="panel-heading">
            <div class="title-header">@ViewData["TitleHeader"]</div>
        </div>
		<div class="panel-container">
			<div class="panel-content">
				<div class="row">
					<div class="col-lg-12">
                        <div id="form_item_id" class="form-group-none">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "id")<span id="label_req_id" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_id" class="form-item-field">
                               <input type="number" id="id" name="id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_tangki_timbun","id"))" style ="width:200px;" />
                               <span class="k-invalid-msg" data-for="id"></span>
                               <input type="hidden" id="id_old" name="id_old" value="@fieldModel.id" />
                               <script>
                                   $("#id").kendoNumericTextBox({ format: "{0:N0}", decimals: 0 });
                                   $(document).ready(function () {$("#id").data('kendoNumericTextBox').value('@fieldModel.id');})
                               </script>
                           </div>
                       </div>

                       <div id="form_item_fasilitas_id" class="form-group-none">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "fasilitas_id")<span id="label_req_fasilitas_id" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_fasilitas_id" class="form-item-field">
                               <input type="text" id="fasilitas_id" name="fasilitas_id" class="k-textbox" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_tangki_timbun","fasilitas_id"))"   style="width:200px;" value="@Html.Raw(fieldModel.fasilitas_id)" title="@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "fasilitas_id") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                               <span class="k-invalid-msg" data-for="fasilitas_id"></span>
                           </div>
                       </div>

                       <div id="form_item_nomor_aset" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "nomor_aset")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_nomor_aset" class="form-item-field">
                               <input type="text" id="nomor_aset" name="nomor_aset" class="k-textbox"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_tangki_timbun","nomor_aset"))"  maxlength="50" style="width:350px;" value="@Html.Raw(fieldModel.nomor_aset)" title="@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "nomor_aset") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                               <span class="k-invalid-msg" data-for="nomor_aset"></span>
                           </div>
                       </div>

                       <div id="form_item_merk" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "merk")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_merk" class="form-item-field">
                               <input type="text" id="merk" name="merk" class="k-textbox"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_tangki_timbun","merk"))"  maxlength="50" style="width:350px;" value="@Html.Raw(fieldModel.merk)" title="@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "merk") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                               <span class="k-invalid-msg" data-for="merk"></span>
                           </div>
                       </div>

                       <div id="form_item_serial_number" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "serial_number")<span id="label_req_serial_number" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_serial_number" class="form-item-field">
                               <input type="text" id="serial_number" name="serial_number" class="k-textbox" data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_tangki_timbun","serial_number"))" maxlength="50" style="width:350px;" value="@Html.Raw(fieldModel.serial_number)" title="@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "serial_number") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                               <span class="k-invalid-msg" data-for="serial_number"></span>
                           </div>
                       </div>

                       <div id="form_item_jenis_tangki_timbun_id" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "jenis_tangki_timbun_id")<span id="label_req_jenis_tangki_timbun_id" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_jenis_tangki_timbun_id" class="form-item-field">
                               <input id="jenis_tangki_timbun_id" name="jenis_tangki_timbun_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_tangki_timbun","jenis_tangki_timbun_id"))" style="width:350px;" />
                               <span class="k-invalid-msg" data-for="jenis_tangki_timbun_id"></span>
                               <script>
                                   var jenis_tangki_timbun_id_param = {item : {value:"id",text:"nama"},parent:[{ field: 'cat_id',opr:'=', value: '161' }], order:[]};
                                   var jenis_tangki_timbun_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: jenis_tangki_timbun_id_param, type: "POST" } } });
                                   var jenis_tangki_timbun_id = $("#jenis_tangki_timbun_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: jenis_tangki_timbun_id_ds, change:onChange_jenis_tangki_timbun_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#jenis_tangki_timbun_id").data("kendoComboBox").value('@fieldModel.jenis_tangki_timbun_id'); });
                                   function onChange_jenis_tangki_timbun_id() {if ($("#jenis_tangki_timbun_id").data("kendoComboBox").value() != '' && $("#jenis_tangki_timbun_id").data("kendoComboBox")._oldIndex == -1) {$("#jenis_tangki_timbun_id").data("kendoComboBox").value('');}
                                   }
                               </script>
                           </div>
                       </div>

                       <div id="form_item_bahan_gas_diisikan" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "bahan_gas_diisikan")<span id="label_req_bahan_gas_diisikan" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_bahan_gas_diisikan" class="form-item-field">
                               <input type="text" id="bahan_gas_diisikan" name="bahan_gas_diisikan" class="k-textbox" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_tangki_timbun","bahan_gas_diisikan"))"  maxlength="50" style="width:350px;" value="@Html.Raw(fieldModel.bahan_gas_diisikan)" title="@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "bahan_gas_diisikan") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                               <span class="k-invalid-msg" data-for="bahan_gas_diisikan"></span>
                           </div>
                       </div>

                        <div id="form_item_bentuk_tangki_timbun_id" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "bentuk_tangki_timbun_id")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_bentuk_tangki_timbun_id" class="form-item-field">
                               <input type="number" id="bentuk_tangki_timbun_id" name="bentuk_tangki_timbun_id"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_tangki_timbun","bentuk_tangki_timbun_id"))" style ="width:200px;" />
                               <span class="k-invalid-msg" data-for="bentuk_tangki_timbun_id"></span>
                               <script>
                                   $("#bentuk_tangki_timbun_id").kendoNumericTextBox({ format: "{0:N0}", decimals: 0 });
                                   $(document).ready(function () {$("#bentuk_tangki_timbun_id").data('kendoNumericTextBox').value('@fieldModel.bentuk_tangki_timbun_id');})
                               </script>
                           </div>
                       </div>

                       <div id="form_item_bahan_bejana" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "bahan_bejana")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_bahan_bejana" class="form-item-field">
                               <input type="text" id="bahan_bejana" name="bahan_bejana" class="k-textbox"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_tangki_timbun","bahan_bejana"))"  maxlength="50" style="width:350px;" value="@Html.Raw(fieldModel.bahan_bejana)" title="@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "bahan_bejana") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                               <span class="k-invalid-msg" data-for="bahan_bejana"></span>
                           </div>
                       </div>

                        <div id="form_item_isi_volume_liter" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "isi_volume_liter")<span id="label_req_isi_volume_liter" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_isi_volume_liter" class="form-item-field">
                               <input type="number" id="isi_volume_liter" name="isi_volume_liter" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_tangki_timbun","isi_volume_liter"))" style ="width:200px;" />
                               <span class="k-invalid-msg" data-for="isi_volume_liter"></span>
                               <script>
                                   $("#isi_volume_liter").kendoNumericTextBox({ format: "{0:N2}", decimals: 2 });
                                   $(document).ready(function () {$("#isi_volume_liter").data('kendoNumericTextBox').value('@fieldModel.isi_volume_liter');})
                               </script>
                           </div>
                       </div>

                        <div id="form_item_tekanan" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "tekanan")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_tekanan" class="form-item-field">
                               <input type="number" id="tekanan" name="tekanan"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_tangki_timbun","tekanan"))" style ="width:200px;" />
                               <span class="k-invalid-msg" data-for="tekanan"></span>
                               <script>
                                   $("#tekanan").kendoNumericTextBox({ format: "{0:N2}", decimals: 2 });
                                   $(document).ready(function () {$("#tekanan").data('kendoNumericTextBox').value('@fieldModel.tekanan');})
                               </script>
                           </div>
                       </div>

                    <div id="form_item_photo" class="form-group">
                        <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "photo")<span id="label_req_photo" class="required"> *</span></div>
                        <div class="form-item-separator">:</div>
                        <div id="field_item_photo" class="form-item-field">
                            <input name="photo_file" id="photo_file" type="file" />
                            <input name="photo" id="photo" type="hidden" value="@fieldModel.photo" required data-required-msg="@ResxHelper.GetValue("Message", "RequiredTextFormat").Replace("{0}", @ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "photo"))" />
                            <script>
                                var photo_init = @Html.Raw(fieldModel.photo_init);
                                $("#photo_file").kendoUpload({multiple:true,
                                    async: {
                                        saveUrl: "@ViewBag.BaseUrl/FasSpekTangkiTimbun/save_photo",
                                        removeUrl: "@ViewBag.BaseUrl/FasSpekTangkiTimbun/remove_photo",
                                        autoUpload: true
                                    },
                                    validation: {allowedExtensions: [".jpg", ".jpeg", ".png"], maxFileSize: 256000},
                                    files: photo_init,
                                    success: onSuccessUpload,
                                    select: OnselectUpload_photo
                                });
                                function OnselectUpload_photo(e) {OnselectUpload(e, 2);}
                            </script>
                            <span class="k-label k-text-info">Allowed Extensions: ".jpg", ".jpeg", ".png"</span>
                            <br /><span class="k-label k-text-info">Maximum FileSize: @String.Format("{0:N0}", (256000 / 1024)) KB</span>
                        </div>
                    </div>

                       <div id="form_item_tgl_periksa_akhir" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "tgl_periksa_akhir")<span id="label_req_tgl_periksa_akhir" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_tgl_periksa_akhir" class="form-item-field">
                               <input id="dt_tgl_periksa_akhir" name="dt_tgl_periksa_akhir" data-role="datepicker" data-type="date" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_tangki_timbun","tgl_periksa_akhir"))" style ="width:130px;" title="@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "tgl_periksa_akhir") @ResxHelper.GetValue("Message", "IsNotValidDate")." />
                               <span class="k-invalid-msg" data-for="dt_tgl_periksa_akhir"></span>
                               <input type="hidden" id="tgl_periksa_akhir" name="tgl_periksa_akhir" value="@fieldModel.tgl_periksa_akhir" />
                               <script>
                                   $("#dt_tgl_periksa_akhir").kendoDatePicker({change:on_chage_tgl_periksa_akhir, value: "@fieldModel.dt_tgl_periksa_akhir", format: "{0:dd/MM/yyyy}" });
                                   function on_chage_tgl_periksa_akhir() {
                                       $("#tgl_periksa_akhir").val(kendo.toString($("#dt_tgl_periksa_akhir").data("kendoDatePicker").value(), "yyyy-MM-dd"));
                                   }
                               </script>
                           </div>
                       </div>

                       <div id="form_item_hasil_periksa_akhir" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_tangki_timbun", "hasil_periksa_akhir")<span id="label_req_hasil_periksa_akhir" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_hasil_periksa_akhir" class="form-item-field">
                               <input id="hasil_periksa_akhir" name="hasil_periksa_akhir" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_tangki_timbun","hasil_periksa_akhir"))" style="width:350px;" />
                               <span class="k-invalid-msg" data-for="hasil_periksa_akhir"></span>
                               <script>
                                   var hasil_periksa_akhir_param = {item : {value:"id",text:"nama"},parent:[{ field: 'cat_id',opr:'=', value: '155' }], order:[]};
                                   var hasil_periksa_akhir_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: hasil_periksa_akhir_param, type: "POST" } } });
                                   var hasil_periksa_akhir = $("#hasil_periksa_akhir").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: hasil_periksa_akhir_ds, change:onChange_hasil_periksa_akhir }).data("kendoComboBox");
                                   $(document).ready(function () { $("#hasil_periksa_akhir").data("kendoComboBox").value('@fieldModel.hasil_periksa_akhir'); });
                                   function onChange_hasil_periksa_akhir() {if ($("#hasil_periksa_akhir").data("kendoComboBox").value() != '' && $("#hasil_periksa_akhir").data("kendoComboBox")._oldIndex == -1) {$("#hasil_periksa_akhir").data("kendoComboBox").value('');}
                                   }
                               </script>
                           </div>
                       </div>
                  <div class="form-group"></div>
                    
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<a id="cancel" class="k-button k-button-icontext" href="#"><i class="far fa-times-circle"></i>&nbsp;<span id="btnCancelText">@ResxHelper.GetValue("Message", "Cancel")</span></a>
				<a id="save" class="k-button k-button-icontext" href="#"><i class="fas fa-save"></i>&nbsp;<span id="btnSaveText">@ResxHelper.GetValue("Message", "Save")</span></a>
			</div>
		</div>
    </div>
</form>

<script>
    var form_type = '@ViewData["form_type"]';
    function ShowHideColumn(form_type)
    {
        if(form_type=='Add')
        {
            var hiden_column = [];
            for (i = 0; i < hiden_column.length; i++) {
                $("#form_item_"+hiden_column[i]).hide();
            }
        }
        else if(form_type=='Edit')
        {
            var hiden_column = [];
            for (i = 0; i < hiden_column.length; i++) {
                $("#form_item_"+hiden_column[i]).hide();
            }
        }
    }
    function setReadOnly(form_type,opt)
    {
        if(opt==true)
        {
            if(form_type=='Add')
            {

            }
            else if(form_type=='Edit')
            {

            }
        }
        else
        {
            if(form_type=='Add')
            {

            }
            else if(form_type=='Edit')
            {

            }
        }
    }
    function display_by_type() {
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.search);
            return (results !== null) ? results[1] || 0 : false;
        }
        var ski = $.urlParam('status_kepemilikan_id');
        if (ski == '2') { //customer
            $('#label_req_serial_number').hide();
            $("#serial_number").removeAttr('required');
        } else {
            $('#label_req_serial_number').show();
            $("#serial_number").attr('required', 'required');
        }
    }
    $(document).ready(function () {
        ShowHideColumn(form_type);
        setReadOnly(form_type, true);
        display_by_type();
    });
    var validatable = $("#form_edit").kendoValidator().data("kendoValidator");
    $("#save").click(function (e) {
        getListFileUpload("photo");
		setReadOnly(form_type, false);
        if (validatable.validate() === true) {
            kendo.ui.progress($("#form_edit"), true);
            $.ajax({
                url: '@ViewData["UrlAction"]', data: $('#form_edit').serialize(), type: 'POST',
                success: function (data) {
                    kendo.ui.progress($("#form_edit"), false);
                    if (data.status == 1) {
                        window.parent.notification.show({title: data.title, message: kendo.toString(data.message) }, "success");
                        if (window.parent.Reload_list_ta_fas_spek_tangki_timbun) {
                            window.parent.Reload_list_ta_fas_spek_tangki_timbun();
                        }else if (window.parent.reload_ta_fas_spek_tangki_timbun) {
                            window.parent.reload_ta_fas_spek_tangki_timbun(data.pk);
                        }
                        close_self();
                    } else if (data.status == 3) {
                        windows.parent.notification.show({ title: data.title, message: data.message }, "error");
                        setReadOnly(form_type, true);
						close_self();
                    } else {
						setReadOnly(form_type, true);
                        notification.show({ title: data.title, message: data.message }, "error");
                    }
                }
            });
        } else {
            kendo.ui.progress($("#form_edit"), false);
        }
		setReadOnly(form_type, true);
    });
    $("#cancel").kendoButton();
    $("#cancel").click(function (e) {
        close_self();
    });
    function close_self() { if (window.parent.$("#dialog_ta_fas_spek_tangki_timbun").data("kendoWindow")) { window.parent.$("#dialog_ta_fas_spek_tangki_timbun").data("kendoWindow").close(); } else { window.parent.$("#dialog").data("kendoWindow").close(); } }
</script>