@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var baseUrl = HttpContextAccessor.HttpContext.Request.Scheme+ "://"+HttpContextAccessor.HttpContext.Request.Host+""+HttpContextAccessor.HttpContext.Request.PathBase;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ConfigHelper.GetValue("ApplicationCode")::@ViewData["Title"] </title>

    <link rel="stylesheet" href="~/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/kendo/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="~/lib/kendo/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="~/lib/kendo/styles/kendo.default.mobile.min.css" />
    <link rel="stylesheet" href="~/lib/kendo/styles/kendo.custom.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/kendo/js/jszip.min.js"></script>
    <script src="~/lib/kendo/js/kendo.all.min.js"></script>
    <script src="~/lib/kendo/js/cultures/kendo.culture.id-ID.min.js"></script>

    <link rel="stylesheet" media="screen, print" href="~/css/vendors.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/css/app.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/css/site.css">

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type='text/javascript'>
        kendo.culture('@ResxHelper.CurrentCultureName');
        kendo.cultures["@ResxHelper.CurrentCultureName"].calendars.standard.firstDay = 1;
    </script>
    <style>
        body {
            background-image: none;
        }
    </style>
</head>
<body>
    <div id="dialog"></div>
    <div id="dialogconfirm"></div>
    <script id="confirmTemplate" type="text/x-kendo-template">
        <center><p><span style="color:blue;font-size:14pt;font-weight:bold">#= title#</span><br /> <b>#= msg #</b></p><button class="k-button" id="yesButton">Ya</button><button class="k-button" id="noButton">Tidak</button></center>
    </script>
    <span id="notification" style="display:none;"></span>
    <script id="infoTemplate" type="text/x-kendo-template">
        <div class="new-info"><img src="@ViewBag.BaseUrl/img/info-data.png" /><h3>#= title #</h3><p>#= message #</p></div>
    </script>
    <script id="lockTemplate" type="text/x-kendo-template">
        <div class="lock-info"><img src="@ViewBag.BaseUrl/img/lock-data.png" /><h3>Data Terkunci</h3><p>Diedit Oleh : #= lock_by #<br />Diedit Tanggal : #= lock_at #</p></div>
    </script>
    <script id="errorTemplate" type="text/x-kendo-template">
        <div class="wrong-pass">
            <img src="@ViewBag.BaseUrl/img/error-icon.png" />
            <h3>#= title #</h3>
            <p>#= message #</p>
        </div>
    </script>
    <script id="successTemplate" type="text/x-kendo-template">
        <div class="upload-success">
            <img src="@ViewBag.BaseUrl/img/success-icon.png" />
            <h3>#= message #</h3>
        </div>
    </script>
    <script>
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        var notification = $("#notification").kendoNotification({ autoHideAfter: 2000, stacking: "down", show: onShowNotification, templates: [{ type: "info", template: $("#infoTemplate").html() }, { type: "lock", template: $("#lockTemplate").html() }, { type: "error", template: $("#errorTemplate").html() }, { type: "success", template: $("#successTemplate").html() }] }).data("kendoNotification");
        function onShowNotification(e) { if (!$("." + e.sender._guid)[1]) { var element = e.element.parent(), eWidth = element.width(), eHeight = element.height(), wWidth = $(window).width(), wHeight = $(window).height(), newTop, newLeft; newLeft = Math.floor(wWidth / 2 - eWidth / 2); newTop = Math.floor(wHeight / 2 - eHeight / 2); e.element.parent().css({ top: newTop, left: newLeft }); } }
    </script>
    <div class="container-fluid">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()            
        </main>
    </div>
    @RenderSection("Scripts", required: false)
    @*@RenderSection("ScriptsItemFasilitas", required: false)*@
</body>
</html>
