@using WebApp
@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var filterColumn = ViewData["filterColumn"] as WebApp.Models.Lb3Model.ViewModel;
    ViewData["Title"] = ViewData["TitleHeader"];
    ViewData["PageName"] = "lb3";
    ViewData["Heading"] = ViewData["TitleHeader"];
    ViewData["Category1"] = "";
    ViewData["Category2"] = "";
}
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div id="collapse_filter_ta_lb3" class="panel panel-collapse collapse">
                <div class="panel-heading-filter">
                    @ResxHelper.GetValue("Message", "FilterDataHeader", "Filter Data")
                </div>
                <div class="panel-body-filter">
                    <section class="filter_cols">
                        <div id="fiter_ehs_area_id" class="filter_col">
                            <label for="ehs_area_id" class="label-filter">@ResxHelper.GetValue("ta_lb3", "ehs_area_id"): </label>
                            <input id="ehs_area_id" name="ehs_area_id" style="width: 350px;" />
                        </div>

                        <div id="fiter_ba_id" class="filter_col">
                            <label for="ba_id" class="label-filter">@ResxHelper.GetValue("ta_lb3", "ba_id"): </label>
                            <input id="ba_id" name="ba_id" style="width: 350px;" />
                        </div>

                        <div id="fiter_pa_id" class="filter_col">
                            <label for="pa_id" class="label-filter">@ResxHelper.GetValue("ta_lb3", "pa_id"): </label>
                            <input id="pa_id" name="pa_id" style="width: 350px;" />
                        </div>

                        <div id="fiter_psa_id" class="filter_col">
                            <label for="psa_id" class="label-filter">@ResxHelper.GetValue("ta_lb3", "psa_id"): </label>
                            <input id="psa_id" name="psa_id" style="width: 350px;" />
                        </div>

                        <div id="fiter_jenis_limbah_dihasilkan_id" class="filter_col">
                            <label for="jenis_limbah_dihasilkan_id" class="label-filter">@ResxHelper.GetValue("ta_lb3", "jenis_limbah_dihasilkan_id"): </label>
                            <input id="jenis_limbah_dihasilkan_id" name="jenis_limbah_dihasilkan_id" style="width: 350px;" />
                        </div>

                        <div id="fiter_sumber_limbah_id" class="filter_col">
                            <label for="sumber_limbah_id" class="label-filter">@ResxHelper.GetValue("ta_lb3", "sumber_limbah_id"): </label>
                            <input id="sumber_limbah_id" name="sumber_limbah_id" style="width: 350px;" />
                        </div>

                        <div id="fiter_kegiatan_id" class="filter_col">
                            <label for="kegiatan_id" class="label-filter">@ResxHelper.GetValue("ta_lb3", "kegiatan_id"): </label>
                            <input id="kegiatan_id" name="kegiatan_id" style="width: 350px;" />
                        </div>

                        <div id="fiter_tgl_dihasilkan" class="filter_col" style="display:none">
                            @***************************************@
                            <label for="tgl_dihasilkan" class="label-filter">@ResxHelper.GetValue("ta_lb3", "tgl_dihasilkan"): </label>
                            <input id="tgl_dihasilkan" name="tgl_dihasilkan" style="width: 130px;" />
                        </div>

                        <div id="fiter_pengelolaan_oleh_id" class="filter_col">
                            <label for="pengelolaan_oleh_id" class="label-filter">@ResxHelper.GetValue("ta_lb3", "pengelolaan_oleh_id"): </label>
                            <input id="pengelolaan_oleh_id" name="pengelolaan_oleh_id" style="width: 350px;" />
                        </div>

                        <div id="fiter_tgl_dikeluarkan" class="filter_col" style="display:none">
                            @***************************************@
                            <label for="tgl_dikeluarkan" class="label-filter">@ResxHelper.GetValue("ta_lb3", "tgl_dikeluarkan"): </label>
                            <input id="tgl_dikeluarkan" name="tgl_dikeluarkan" style="width: 130px;" />
                        </div>

                    </section>
                </div>
                <div class="panel-footer-filter">
                    <a id="btnResetFilter_ta_lb3" onclick="reset_filter_ta_lb3()" class="k-button" title="Reset Filter">@ResxHelper.GetValue("Message", "ResetFilter", "Reset Filter")</a>
                </div>
            </div>
            <div>
                <table id="toolbar_panel" style="width:100%;">
                    <tr>
                        <td>
                            <span id="quick_search_template_ta_lb3" class="k-textbox k-space-right"><input id="txtSearch_ta_lb3" placeholder="@ResxHelper.GetValue("Message","QuickSearch")" value="" /><a id="btnSearch_ta_lb3" href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            <img id="btnSearchByColumn_ta_lb3" title="@ResxHelper.GetValue("Message","ShowSearchByColumn")" style="cursor:pointer" src="~/img/search_by_column.png" width="20">
                            <img id="btnShowHideColumn_ta_lb3" title="@ResxHelper.GetValue("Message","ShowHideColumn")" style="cursor:pointer" src="~/img/show_hide_column.png" width="20">
                            <a id="btnShowHideFilter_ta_lb3" data-toggle="collapse" href="#collapse_filter_ta_lb3" style="display:none">@ResxHelper.GetValue("Message", "ShowFilter", "Tampilkan Filter")</a>
                        </td>
                        <td style="float:right">
                            <img id="btnExportExcel_ta_lb3" title="@ResxHelper.GetValue("Message","ExportToExcel")" style="cursor:pointer" src="~/img/excel.png" width="20" />&nbsp;
                            <a id="btnAdd_ta_lb3" onclick="AddData_ta_lb3()" class="k-button" title="@ResxHelper.GetValue("Message","Add")">@ResxHelper.GetValue("Message", "Add", "Tambah")</a>
                            <a id="btnImport_ta_lb3" class="k-button" title="@ResxHelper.GetValue("Message","Import")">@ResxHelper.GetValue("Message", "Import", "Import")</a>
                            <input id="formImport_ta_lb3" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" hidden />
                        </td>
                    <tr>
                </table>
            </div>
            <div id="grid_ta_lb3"></div>
        </div>
    </div>

</div>
<div id="WinShowHideColumn_ta_lb3" style="display: none">
    <div id="attr_column_show_hide" style="width:auto;height:auto;overflow-y:scroll;"></div>
</div>
@section ScriptsBlock {
    <script>
		var param_ta_lb3 = @Html.Raw(JsonConvert.SerializeObject(WebApp.Models.Lb3Model.GetListParam()));
		var displayName_ta_lb3 = @Html.Raw(JsonConvert.SerializeObject(WebApp.Models.Lb3Model.GetDisplayItem()));
		var pkKey_ta_lb3 = @Html.Raw(JsonConvert.SerializeObject(WebApp.Models.Lb3Model._pkKey));
		var j_data_ta_lb3 = @Html.Raw(JsonConvert.SerializeObject(WebApp.Models.Lb3Model.GetGridColumn()));
		var colNameTooltip_ta_lb3 = [];
		var colbuttonCount_ta_lb3 = 0;
		var columnWidth = 40;
		colbuttonCount_ta_lb3 += param_ta_lb3.btnView == 1 ? 1 : 0;
		colbuttonCount_ta_lb3 += param_ta_lb3.btnEdit== "1" ? 1 : 0;
		colbuttonCount_ta_lb3 += param_ta_lb3.btnDelete == "1" ? 1 : 0;
		colbuttonCount_ta_lb3 += param_ta_lb3.btnCopy  == "1" ? 1 : 0;
		if (colbuttonCount_ta_lb3 == 1) { columnWidth = 40; } else if (colbuttonCount_ta_lb3 == 2) { columnWidth = 60; } else if (colbuttonCount_ta_lb3 == 3) { columnWidth = 95; } else if (colbuttonCount_ta_lb3 == 4) { columnWidth = 120; }
		var columnActionWidth_ta_lb3 = columnWidth + "px";
		var item_data = "";
		var col_att = [];
		var showhide_column = "";
		var j = 0;
		var checked = '';
		var aggregate_data_ta_lb3 = [];
		var agg_i = 0
		jQuery.each(j_data_ta_lb3, function (i, val) {
			var footerTemplate = "";
			if (val.aggregate != "") {
				footerTemplate = val.footerTemplate!="" ? val.footerTemplate : '#='+val.aggregate+'#';
				aggregate_data_ta_lb3[agg_i] = { field: val.name, aggregate: val.aggregate };
				agg_i++;
			}
			item_data += item_data != "" ? "," : "";
			item_data += '"' + val.name + '" : { "type": "' + val.type + '" } ';
			if (val.display) {
				col_att[j] = { field: val.name, title: val.title, hidden: JSON.parse(val.hidden), width: val.width, format: val.format, attributes: JSON.parse(val.attributes), encoded: JSON.parse(val.encoded), filterable: JSON.parse(val.filterable), sortable: JSON.parse(val.sortable), headerAttributes: { style: "white-space: normal;vertical-align:middle;text-align:center" },aggregates: [val.aggregate], footerTemplate: footerTemplate };
				j++;
				checked = '';if (val.hidden.toString() == 'false') {checked = 'checked';}
				showhide_column += '<div><input type="checkbox" onclick="ShowHideColumn_ta_lb3(this)" '+ checked +' value="' + val.name + '" /> ' + val.title + '</div>';
			}
		});
		showhide_column += '<div><input type="checkbox" onclick="ShowHideColumn_ta_lb3(this)" checked value="' + j + '" /> Action</div>';
		item_data = '{' + item_data + '}';
		var field_data = JSON.parse(item_data);
		var columns_data = col_att;
		var col_command = [];
		var k = 0;
		if (param_ta_lb3.btnView== 1) {col_command[k] = { name: "View", text: "", className: "v-view", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); ViewItem_ta_lb3(data); } };k++;}
		if (param_ta_lb3.btnEdit== 1) {col_command[k] = { name: "Edit", text: "", className: "v-pencil", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); EditData_ta_lb3(data); } };k++;}
		if (param_ta_lb3.btnDelete== 1) {col_command[k] = { name: "Delete", text: "", className: "v-close", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); DeleteData_ta_lb3(data); } };k++;}
		if (param_ta_lb3.btnCopy == 1) { col_command[k] = { name: "Copy", text: "", className: "v-copy", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); CopyData_ta_lb3(data); } }; k++; }
		if (colbuttonCount_ta_lb3 > 0) {
			columns_data[j] = {command: col_command, width: columnActionWidth_ta_lb3, attributes: " style=\"vertical-align:top;\""};
		}
		//==============================
        //=== filter ehs_area_id
        var ehs_area_id_param = { item: { value: 'id', text: 'kode,nama', distinct: '0' } ,parent:[{field:"obj_data",value:"Environment"}], order:[]};
        var ehs_area_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/EHSArea/LookupDataEA", dataType: "json", data: ehs_area_id_param, type: "POST" } } });
        var ehs_area_id = $("#ehs_area_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_ehs_area_id, dataSource: ehs_area_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#ehs_area_id").data("kendoComboBox").value('@filterColumn.ehs_area_id'); });
        function onChange_ehs_area_id() {
            if ($("#ehs_area_id").data("kendoComboBox").value() != '' && $("#ehs_area_id").data("kendoComboBox")._oldIndex == -1) { $("#ehs_area_id").data("kendoComboBox").value(''); }
                                                    reload_ba_id();
                                                    reload_pa_id();
                                                    reload_psa_id();
            onFilterHeader_ta_lb3();
        }


        //=== filter ba_id
        var ba_id_param = { item: { value: 'id', text: 'kode,nama', distinct: '0' } ,parent:[{ field: 'ehs_area_id',opr:'=', value: '@filterColumn.ehs_area_id' },{field:"obj_data",value:"Environment"}], order:[]};
        var ba_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/BusinessArea/LookupDataBA", dataType: "json", data: ba_id_param, type: "POST" } } });
        var ba_id = $("#ba_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_ba_id, dataSource: ba_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#ba_id").data("kendoComboBox").value('@filterColumn.ba_id'); });
        function onChange_ba_id() {
            if ($("#ba_id").data("kendoComboBox").value() != '' && $("#ba_id").data("kendoComboBox")._oldIndex == -1) { $("#ba_id").data("kendoComboBox").value(''); }
                                                    reload_pa_id();
                                                    reload_psa_id();
            onFilterHeader_ta_lb3();
        }

        function reload_ba_id(){
            $("#ba_id").data("kendoComboBox").value('');
            var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
            var ba_id_param = { item: { value: 'id', text: 'kode,nama' }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }], order: [] };
            $("#ba_id").data("kendoComboBox").dataSource.read(ba_id_param);
        }


        //=== filter pa_id
        var pa_id_param = { item: { value: 'id', text: 'kode,nama', distinct: '0' } ,parent:[{ field: 'ehs_area_id',opr:'=', value: '@filterColumn.ehs_area_id' }, { field: 'ba_id',opr:'=', value: '@filterColumn.ba_id' },{field:"obj_data",value:"Environment"}], order:[]};
        var pa_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/PersonalArea/LookupDataPA", dataType: "json", data: pa_id_param, type: "POST" } } });
        var pa_id = $("#pa_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_pa_id, dataSource: pa_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#pa_id").data("kendoComboBox").value('@filterColumn.pa_id'); });
        function onChange_pa_id() {
            if ($("#pa_id").data("kendoComboBox").value() != '' && $("#pa_id").data("kendoComboBox")._oldIndex == -1) { $("#pa_id").data("kendoComboBox").value(''); }
                                                    reload_psa_id();
            onFilterHeader_ta_lb3();
        }

        function reload_pa_id(){
            $("#pa_id").data("kendoComboBox").value('');
            var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
            var ba_id = $("#ba_id").data("kendoComboBox").value();
            var pa_id_param = { item: { value: 'id', text: 'kode,nama' }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }, { field: 'ba_id',opr:'=', value: ba_id }], order: [] };
            $("#pa_id").data("kendoComboBox").dataSource.read(pa_id_param);
        }


        //=== filter psa_id
        var psa_id_param = { item: { value: 'id', text: 'kode,nama', distinct: '0' } ,parent:[{ field: 'ehs_area_id',opr:'=', value: '@filterColumn.ehs_area_id' }, { field: 'ba_id',opr:'=', value: '@filterColumn.ba_id' }, { field: 'pa_id',opr:'=', value: '@filterColumn.pa_id' },{field:"obj_data",value:"Environment"}], order:[]};
        var psa_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/PersonalSubArea/LookupDataPSA", dataType: "json", data: psa_id_param, type: "POST" } } });
        var psa_id = $("#psa_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_psa_id, dataSource: psa_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#psa_id").data("kendoComboBox").value('@filterColumn.psa_id'); });
        function onChange_psa_id() {
            if ($("#psa_id").data("kendoComboBox").value() != '' && $("#psa_id").data("kendoComboBox")._oldIndex == -1) { $("#psa_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_lb3();
        }

        function reload_psa_id(){
            $("#psa_id").data("kendoComboBox").value('');
            var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
            var ba_id = $("#ba_id").data("kendoComboBox").value();
            var pa_id = $("#pa_id").data("kendoComboBox").value();
            var psa_id_param = { item: { value: 'id', text: 'kode,nama' }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }, { field: 'ba_id',opr:'=', value: ba_id }, { field: 'pa_id',opr:'=', value: pa_id }], order: [] };
            $("#psa_id").data("kendoComboBox").dataSource.read(psa_id_param);
        }


        //=== filter jenis_limbah_dihasilkan_id
        var jenis_limbah_dihasilkan_id_param = { item: { value: 'id', text: 'nama', attribute: ['satuan'], distinct: '0' } ,parent:[{ field: 'cat_id',opr:'=', value: '90' }], order:[]};
        var jenis_limbah_dihasilkan_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: jenis_limbah_dihasilkan_id_param, type: "POST" } } });
        var jenis_limbah_dihasilkan_id = $("#jenis_limbah_dihasilkan_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_jenis_limbah_dihasilkan_id, dataSource: jenis_limbah_dihasilkan_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#jenis_limbah_dihasilkan_id").data("kendoComboBox").value('@filterColumn.jenis_limbah_dihasilkan_id'); });
        function onChange_jenis_limbah_dihasilkan_id() {
            if ($("#jenis_limbah_dihasilkan_id").data("kendoComboBox").value() != '' && $("#jenis_limbah_dihasilkan_id").data("kendoComboBox")._oldIndex == -1) { $("#jenis_limbah_dihasilkan_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_lb3();
        }


        //=== filter sumber_limbah_id
        var sumber_limbah_id_param = { item: { value: 'id', text: 'nama', distinct: '0' } ,parent:[{ field: 'cat_id',opr:'=', value: '97' }], order:[]};
        var sumber_limbah_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: sumber_limbah_id_param, type: "POST" } } });
        var sumber_limbah_id = $("#sumber_limbah_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_sumber_limbah_id, dataSource: sumber_limbah_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#sumber_limbah_id").data("kendoComboBox").value('@filterColumn.sumber_limbah_id'); });
        function onChange_sumber_limbah_id() {
            if ($("#sumber_limbah_id").data("kendoComboBox").value() != '' && $("#sumber_limbah_id").data("kendoComboBox")._oldIndex == -1) { $("#sumber_limbah_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_lb3();
        }


        //=== filter kegiatan_id
        var kegiatan_id_param = { item: { value: 'id', text: 'nama', distinct: '0' } ,parent:[{ field: 'cat_id',opr:'=', value: '91' }], order:[]};
        var kegiatan_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: kegiatan_id_param, type: "POST" } } });
        var kegiatan_id = $("#kegiatan_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_kegiatan_id, dataSource: kegiatan_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#kegiatan_id").data("kendoComboBox").value('@filterColumn.kegiatan_id'); });
        function onChange_kegiatan_id() {
            if ($("#kegiatan_id").data("kendoComboBox").value() != '' && $("#kegiatan_id").data("kendoComboBox")._oldIndex == -1) { $("#kegiatan_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_lb3();
        }


        //=== filter tgl_dihasilkan
        var tgl_dihasilkan_param = { item: { value: 'tgl_dihasilkan', text: 'tgl_dihasilkan', distinct: '1' } ,parent:[], order:[{ field: 'tgl_dihasilkan', dir: 'asc' }]};
        var tgl_dihasilkan_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Lb3/LookupData", dataType: "json", data: tgl_dihasilkan_param, type: "POST" } } });
        var tgl_dihasilkan = $("#tgl_dihasilkan").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_tgl_dihasilkan, dataSource: tgl_dihasilkan_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#tgl_dihasilkan").data("kendoComboBox").value('@filterColumn.tgl_dihasilkan'); });
        function onChange_tgl_dihasilkan() {
            if ($("#tgl_dihasilkan").data("kendoComboBox").value() != '' && $("#tgl_dihasilkan").data("kendoComboBox")._oldIndex == -1) { $("#tgl_dihasilkan").data("kendoComboBox").value(''); }
            onFilterHeader_ta_lb3();
        }


        //=== filter pengelolaan_oleh_id
        var pengelolaan_oleh_id_param = { item: { value: 'id', text: 'nama', distinct: '0' } ,parent:[{ field: 'cat_id',opr:'=', value: '93' }], order:[]};
        var pengelolaan_oleh_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: pengelolaan_oleh_id_param, type: "POST" } } });
        var pengelolaan_oleh_id = $("#pengelolaan_oleh_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_pengelolaan_oleh_id, dataSource: pengelolaan_oleh_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#pengelolaan_oleh_id").data("kendoComboBox").value('@filterColumn.pengelolaan_oleh_id'); });
        function onChange_pengelolaan_oleh_id() {
            if ($("#pengelolaan_oleh_id").data("kendoComboBox").value() != '' && $("#pengelolaan_oleh_id").data("kendoComboBox")._oldIndex == -1) { $("#pengelolaan_oleh_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_lb3();
        }


        //=== filter tgl_dikeluarkan
        var tgl_dikeluarkan_param = { item: { value: 'tgl_dikeluarkan', text: 'tgl_dikeluarkan', distinct: '1' } ,parent:[], order:[{ field: 'tgl_dikeluarkan', dir: 'asc' }]};
        var tgl_dikeluarkan_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Lb3/LookupData", dataType: "json", data: tgl_dikeluarkan_param, type: "POST" } } });
        var tgl_dikeluarkan = $("#tgl_dikeluarkan").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_tgl_dikeluarkan, dataSource: tgl_dikeluarkan_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#tgl_dikeluarkan").data("kendoComboBox").value('@filterColumn.tgl_dikeluarkan'); });
        function onChange_tgl_dikeluarkan() {
            if ($("#tgl_dikeluarkan").data("kendoComboBox").value() != '' && $("#tgl_dikeluarkan").data("kendoComboBox")._oldIndex == -1) { $("#tgl_dikeluarkan").data("kendoComboBox").value(''); }
            onFilterHeader_ta_lb3();
        }


		//==============================
		$("#collapse_filter_ta_lb3").on('shown.bs.collapse', function () {
			$("#btnShowHideFilter_ta_lb3").html('@ResxHelper.GetValue("Message","HideFilter")');
		});
		$("#collapse_filter_ta_lb3").on('hidden.bs.collapse', function () {
			$("#btnShowHideFilter_ta_lb3").html('@ResxHelper.GetValue("Message","ShowFilter")');
		});
		//==============================
		var record_ta_lb3 = 0;
		var grid_ta_lb3_heigth = 0;
		var ds_ta_lb3_filter = { filter_by_column: [{ name: 'ehs_area_id',value: '@filterColumn.ehs_area_id' }, { name: 'ba_id',value: '@filterColumn.ba_id' }, { name: 'pa_id',value: '@filterColumn.pa_id' }, { name: 'psa_id',value: '@filterColumn.psa_id' }, { name: 'jenis_limbah_dihasilkan_id',value: '@filterColumn.jenis_limbah_dihasilkan_id' }] };
		var ds_ta_lb3 = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Lb3/GetListData", dataType: "json", type: "POST", data: ds_ta_lb3_filter }, parameterMap: function (options) { if (options.filter) { for (var i = 0; i < options.filter.filters.length; i++) { if (options.filter.filters[i].field == 'tanggal') { options.filter.filters[i].value = kendo.toString(options.filter.filters[i].value, "yyyy-MM-dd"); } } } return options; } }, schema: { data: "data", total: "total", aggregates: "aggregates", model: { fields: field_data } }, aggregate: aggregate_data_ta_lb3, pageSize: 10, serverAggregates: true, serverPaging: true, serverFiltering: true, serverSorting: true });
		var list_ta_lb3 = $("#grid_ta_lb3").kendoGrid({
			excel: { allPages: true, fileName: '@ViewData["TitleHeader"]'+'.xlsx' },
			dataSource: ds_ta_lb3, dataBound: onDataBound_ta_lb3, height: grid_ta_lb3_heigth, scrollable: true, groupable: false, columnMenu: false, menu: true, resizable: true, filterable: false, sortable: { mode: "multiple", allowUnsort: true }, pageable: { refresh: true, pageSizes: [5, 10, 20, 50, 100, 200], buttonCount: 5 },
			columns: columns_data, editable: false, dataBinding: function () { record_ta_lb3 = (this.dataSource.page() - 1) * this.dataSource.pageSize(); }
		});
		function getParamgrid_ta_lb3() {
			var filter_by_column= [];var k = 0;
	        if ($("#ehs_area_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "ehs_area_id", field: "ta_lb3.ehs_area_id", opr: "=", value: $("#ehs_area_id").data("kendoComboBox").value() };k++;}
        if ($("#ba_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "ba_id", field: "ta_lb3.ba_id", opr: "=", value: $("#ba_id").data("kendoComboBox").value() };k++;}
        if ($("#pa_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "pa_id", field: "ta_lb3.pa_id", opr: "=", value: $("#pa_id").data("kendoComboBox").value() };k++;}
        if ($("#psa_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "psa_id", field: "ta_lb3.psa_id", opr: "=", value: $("#psa_id").data("kendoComboBox").value() };k++;}
        if ($("#jenis_limbah_dihasilkan_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "jenis_limbah_dihasilkan_id", field: "ta_lb3.jenis_limbah_dihasilkan_id", opr: "=", value: $("#jenis_limbah_dihasilkan_id").data("kendoComboBox").value() };k++;}
        if ($("#sumber_limbah_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "sumber_limbah_id", field: "ta_lb3.sumber_limbah_id", opr: "=", value: $("#sumber_limbah_id").data("kendoComboBox").value() };k++;}
        if ($("#kegiatan_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "kegiatan_id", field: "ta_lb3.kegiatan_id", opr: "=", value: $("#kegiatan_id").data("kendoComboBox").value() };k++;}
        if ($("#tgl_dihasilkan").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "tgl_dihasilkan", field: "ta_lb3.tgl_dihasilkan", opr: "=", value: $("#tgl_dihasilkan").data("kendoComboBox").value() };k++;}
        if ($("#pengelolaan_oleh_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "pengelolaan_oleh_id", field: "ta_lb3.pengelolaan_oleh_id", opr: "=", value: $("#pengelolaan_oleh_id").data("kendoComboBox").value() };k++;}
        if ($("#tgl_dikeluarkan").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "tgl_dikeluarkan", field: "ta_lb3.tgl_dikeluarkan", opr: "=", value: $("#tgl_dikeluarkan").data("kendoComboBox").value() };k++;}
			return { filter_by_column:filter_by_column };
		}
		function reset_filter_ta_lb3() {
	        $("#ehs_area_id").data("kendoComboBox").value('');
			$("#ba_id").data("kendoComboBox").value('');
			$("#pa_id").data("kendoComboBox").value('');
			$("#psa_id").data("kendoComboBox").value('');
			$("#jenis_limbah_dihasilkan_id").data("kendoComboBox").value('');
			$("#sumber_limbah_id").data("kendoComboBox").value('');
			$("#kegiatan_id").data("kendoComboBox").value('');
			$("#tgl_dihasilkan").data("kendoComboBox").value('');
			$("#pengelolaan_oleh_id").data("kendoComboBox").value('');
			$("#tgl_dikeluarkan").data("kendoComboBox").value('');
			onFilterHeader_ta_lb3();
		}
		function onFilterHeader_ta_lb3() {
			$("#txtSearch_ta_lb3").val('');
			paramValue = getParamgrid_ta_lb3();
			if (list_ta_lb3.data('kendoGrid').dataSource.page() > 1) {
				list_ta_lb3.data('kendoGrid').dataSource.page(0);
			}
			list_ta_lb3.data('kendoGrid').dataSource.transport.options.read.data = paramValue;
			list_ta_lb3.data("kendoGrid").dataSource.filter([]);
		};
		$("#btnSearchByColumn_ta_lb3").click(function () { var grid_ta_lb3_heigth_filter = grid_ta_lb3_heigth + 38; if (list_ta_lb3.data("kendoGrid").options.filterable == false) { $('#btnSearchByColumn_ta_lb3').prop('title', '@ResxHelper.GetValue("Message","HideSearchByColumn")'); $("#txtSearch_ta_lb3").val(''); if ('1' == '1') { $("#quick_search_template_ta_lb3").hide(); }; QuickSearch_ta_lb3(); list_ta_lb3.data("kendoGrid").setOptions({ height: grid_ta_lb3_heigth_filter, filterable: { mode: "row" }, }); } else { $('#btnSearchByColumn_ta_lb3').prop('title', '@ResxHelper.GetValue("Message","ShowSearchByColumn")'); $("#txtSearch_ta_lb3").val(''); if ('1' == '1') { $("#quick_search_template_ta_lb3").show(); }; QuickSearch_ta_lb3(); list_ta_lb3.data("kendoGrid").setOptions({ height: grid_ta_lb3_heigth, filterable: false, }); } });
		$("#btnSearch_ta_lb3").click(function () { QuickSearch_ta_lb3(); });
		$('#txtSearch_ta_lb3').keypress(function (e) { if (e.keyCode == 13) { QuickSearch_ta_lb3(); } });
		function QuickSearch_ta_lb3() {
			$filter = new Array();
			$x = $("#txtSearch_ta_lb3").val();
			if ($x) {jQuery.each(j_data_ta_lb3, function (i, val) {if (val.display && val.qsearch && val.type =='string') {$filter.push({ name: val.name, opr: "contains", value: $x });}});}
			if ($filter.length > 0) {list_ta_lb3.data("kendoGrid").dataSource.filter({ logic: "or", filters: $filter });}else {list_ta_lb3.data("kendoGrid").dataSource.filter([]);}
		}
		function Reload_list_ta_lb3() { list_ta_lb3.data('kendoGrid').dataSource.read(); list_ta_lb3.data('kendoGrid').refresh(); }
		function onDataBound_ta_lb3(e) {
			if (colbuttonCount_ta_lb3 > 0) {
				var grid = $("#grid_ta_lb3").data("kendoGrid"); var list_ta_lb3 = grid.dataSource.view();
				for (var i = 0; i < list_ta_lb3.length; i++) {
					var currentUid = list_ta_lb3[i].uid; var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
					if (param_ta_lb3.btnView == 1) {
						var viewButton = $(currenRow).find(".k-grid-View"); viewButton.attr("title", "@ResxHelper.GetValue("Message","View")");
						if ("@ViewData["AllowView"]" == "1") {} else {viewButton.hide();}
					}
					if (param_ta_lb3.btnEdit == 1) {
						var editButton = $(currenRow).find(".k-grid-Edit"); editButton.attr("title", "@ResxHelper.GetValue("Message","Edit")");
                        if (
                            ("@ViewData["AllowEdit"]" == "1" && list_ta_lb3[i].officer_id == "@ViewBag.person_id")
							|| ("@ViewData["AllowEdit"]" == "1" && list_ta_lb3[i].ehs_head_id == "@ViewBag.person_id")
							|| ("@ViewData["AllowEditAll"]" == "1" )
                        ) { } else { editButton.hide(); }
					}
					if (param_ta_lb3.btnDelete == 1) {
						var deleteButton = $(currenRow).find(".k-grid-Delete"); deleteButton.attr("title", "@ResxHelper.GetValue("Message","Delete")");
                        if (
                            ("@ViewData["AllowDelete"]" == "1" && list_ta_lb3[i].officer_id == "@ViewBag.person_id")
							|| ("@ViewData["AllowDelete"]" == "1" && list_ta_lb3[i].ehs_head_id == "@ViewBag.person_id")
							|| ("@ViewData["AllowDeleteAll"]" == "1" )
                        ) { } else { deleteButton.hide(); }
					}
					if (param_ta_lb3.btnCopy == 1) {
						var copyButton = $(currenRow).find(".k-grid-Copy"); copyButton.attr("title", "@ResxHelper.GetValue("Message","Copy")");
						if ("@ViewData["AllowAdd"]" == "1") {} else {copyButton.hide();}
					}
				}
			}
		}
		function AddData_ta_lb3() {
			var contentUrl = '@ViewBag.BaseUrl/Lb3/Add';
			var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog, });
				form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param_ta_lb3.btn_add_modal_width, height: param_ta_lb3.btn_add_modal_height, minHeight: 300, });
				if (param_ta_lb3.btn_add_modal_width == 0)
				{
					form_edit.data("kendoWindow").center().open().maximize()
				} else {
					form_edit.data("kendoWindow").center().open();
				}
		}
		function ViewItem_ta_lb3(data) { var qs = '';jQuery.each(pkKey_ta_lb3, function (i, val) {qs += qs != "" ? "&" : "";qs += val+'=' + data[val];});var contentUrl = '@ViewBag.BaseUrl/Lb3/ViewItem?' + qs; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param_ta_lb3.btn_view_modal_width, height: param_ta_lb3.btn_view_modal_height, minHeight: 300, }); if (param_ta_lb3.btn_view_modal_width == 0) { form_edit.data("kendoWindow").center().open().maximize() } else { form_edit.data("kendoWindow").center().open(); }}
		function EditData_ta_lb3(data) { var qs = '';jQuery.each(pkKey_ta_lb3, function (i, val) {qs += qs != "" ? "&" : "";qs += val+'=' + data[val];}); var contentUrl = '@ViewBag.BaseUrl/Lb3/Edit?' + qs; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param_ta_lb3.btn_edit_modal_width, height: param_ta_lb3.btn_edit_modal_height, minHeight: 300, }); if(param_ta_lb3.btn_edit_modal_width == 0) {form_edit.data("kendoWindow").center().open().maximize()} else {form_edit.data("kendoWindow").center().open();} }
		function CopyData_ta_lb3(data) { var qs = '';jQuery.each(pkKey_ta_lb3, function (i, val) {qs += qs != "" ? "&" : "";qs += val+'=' + data[val];}); var contentUrl = '@ViewBag.BaseUrl/Lb3/Copy?' + qs; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param_ta_lb3.btn_edit_modal_width, height: param_ta_lb3.btn_edit_modal_height, minHeight: 300, }); if(param_ta_lb3.btn_edit_modal_width == 0) {form_edit.data("kendoWindow").center().open().maximize()} else {form_edit.data("kendoWindow").center().open();} }
		function DeleteData_ta_lb3(data) {
			var keyValue = '';
			jQuery.each(displayName_ta_lb3, function (i, val) {
				keyValue += keyValue != "" ? "<br />" : "";
				keyValue += val.label+ ": " + data[val.name];
			});
			var pkItem = "";
			jQuery.each(pkKey_ta_lb3, function (i, val) {
				pkItem += pkItem != "" ? ", " : "";
				pkItem += '"'+val+'":"'+data[val]+'" ';
			});
			var pkVal = jQuery.parseJSON("{" + pkItem + "}");
			var data2 = { title: '@ResxHelper.GetValue("Message","ConfirmDelete")', msg: keyValue };
			var winconfirm = $("#dialogconfirm").kendoWindow({ title: "@ResxHelper.GetValue("Message","DeleteData")", modal: true, visible: false, resizable: true, draggable: true, width: "500px", height: "200px" }).data("kendoWindow");
			winconfirm.content(confirmTemplate(data2));
			winconfirm.center(); winconfirm.open();
			$("#yesButton").click(function () {
				$.ajax({
					data: pkVal, url: '@ViewBag.BaseUrl/Lb3/Delete', type: 'POST'
					, success: function (data) {
						if (data.status != 1) {
							notification.show({ title: data.title, message: kendo.toString(data.message) }, "error");
							winconfirm.close();
						} else {
							notification.show({ message: kendo.toString(data.message) }, "success");
							Reload_list_ta_lb3();
							winconfirm.close();
						}
					}
				});
			});
			$("#noButton").click(function () { winconfirm.close(); });
		}
		function onCloseDialog(e) { $('#dialog').html(''); }
		function closeDialog() { $("#dialog").data("kendoWindow").close(); }
		$("#btnExportExcel_ta_lb3").click(function (e) { var grid = $("#grid_ta_lb3").data("kendoGrid"); grid.saveAsExcel(); });
		function ShowHideColumn_ta_lb3(e) { colname = $.isNumeric(e.value) ? parseInt(e.value) : e.value; if (e.checked) { $("#grid_ta_lb3").data("kendoGrid").showColumn(colname); } else { $("#grid_ta_lb3").data("kendoGrid").hideColumn(colname); } }
		$(document).ready(function () {
			$("#attr_column_show_hide").html(showhide_column);
			if (param_ta_lb3.ShowFilter == 1) { $("#btnShowHideFilter_ta_lb3").show(); }
			if (param_ta_lb3.btnAdd == 1 && @ViewData["AllowAdd"]== "1") { }else{ $("#btnAdd_ta_lb3").hide(); }
			if (param_ta_lb3.quick_search != 1) { $("#quick_search_template_ta_lb3").hide(); }
			if (param_ta_lb3.search_by_column  != 1) { $("#btnSearchByColumn_ta_lb3").hide(); }
			if (param_ta_lb3.show_hide_column != 1) { $("#btnShowHideColumn_ta_lb3").hide(); }
			if (param_ta_lb3.export_exl != 1) { $("#btnExportExcel_ta_lb3").hide(); }
			$("#btnShowHideColumn_ta_lb3").click(function () { var x = $("#btnShowHideColumn_ta_lb3").offset().left; var y = $("#btnShowHideColumn_ta_lb3").offset().top; if (!WinShowHideColumn_ta_lb3) { var WinShowHideColumn_ta_lb3 = $("#WinShowHideColumn_ta_lb3").kendoWindow({ width: "300px", position: { left: x, top: y }, title: "@ResxHelper.GetValue("Message","ShowHideColumn")", actions: ["Close"] }); } WinShowHideColumn_ta_lb3.data("kendoWindow").open(); });
		});

        document.getElementById('btnImport_ta_lb3').addEventListener('click', openDialog);
        function openDialog() {
            document.getElementById('formImport_ta_lb3').click();
		}
        $(document).ready(function () {
			$("#formImport_ta_lb3").kendoUpload({
                multiple: false, 
                async: {
                    autoUpload: false,
                    saveUrl: "@ViewBag.BaseUrl/Lb3/ImportLb3",
                    withCredentials: false
                },
                select: function (e) {
                    var file = e.files[0];
                    var upload = e.sender;
                    // Biar muncul confirm dialog
                    kendo.confirm("File name:" +
                        "<br/>" +
                        file.name +
                        "<br/>" +
                        "Are you sure that you want to import this file?")
                        .then(function () {
                            upload.upload();
                        }, function () {
                            upload.clearAllFiles();
                        });
                },
                success: function (e) {
                    var upload = e.sender;
                    console.log('upload e.sender', e, upload, e.sender)
                    Reload_list_ta_lb3();
                    upload.clearAllFiles();
                }
            });
            $("div.k-widget.k-upload.k-header.k-upload-empty").css({ 'display': 'none' });
        });
    </script>
}