@using WebApp
@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
	var filterColumn = ViewData["filterColumn"] as WebApp.Models.SdaListrikModel.ViewModel;
    ViewData["Title"] = ViewData["TitleHeader"];
    ViewData["PageName"] = "sdalistrik";
    ViewData["Heading"] = ViewData["TitleHeader"];
    ViewData["Category1"] = "";
    ViewData["Category2"] = "";
}
<div class="panel">
    <div class="panel-container">
		<div class="panel-content">
			<div id="collapse_filter_ta_sda_listrik" class="panel panel-collapse collapse">
                <div class="panel-heading-filter">
                    @ResxHelper.GetValue("Message", "FilterDataHeader", "Filter Data")
                </div>
				<div class="panel-body-filter">
					<section class="filter_cols">
						<div id="fiter_ehs_area_id" class="filter_col">
							<label for="ehs_area_id" class="label-filter">@ResxHelper.GetValue("ta_sda_listrik", "ehs_area_id"): </label>
							<input id="ehs_area_id" name="ehs_area_id" style="width: 350px;" />
						</div>

						<div id="fiter_ba_id" class="filter_col">
							<label for="ba_id" class="label-filter">@ResxHelper.GetValue("ta_sda_listrik", "ba_id"): </label>
							<input id="ba_id" name="ba_id" style="width: 350px;" />
						</div>

						<div id="fiter_pa_id" class="filter_col">
							<label for="pa_id" class="label-filter">@ResxHelper.GetValue("ta_sda_listrik", "pa_id"): </label>
							<input id="pa_id" name="pa_id" style="width: 350px;" />
						</div>

						<div id="fiter_psa_id" class="filter_col">
							<label for="psa_id" class="label-filter">@ResxHelper.GetValue("ta_sda_listrik", "psa_id"): </label>
							<input id="psa_id" name="psa_id" style="width: 350px;" />
						</div>

						<div id="fiter_bulan" class="filter_col">
							<label for="bulan" class="label-filter">@ResxHelper.GetValue("ta_sda_listrik", "bulan"): </label>
							<input id="bulan" name="bulan" style="width: 350px;" />
						</div>

						<div id="fiter_tahun" class="filter_col">
							<label for="tahun" class="label-filter">@ResxHelper.GetValue("ta_sda_listrik", "tahun"): </label>
							<input id="tahun" name="tahun" style="width: 350px;" />
						</div>

						<div id="fiter_sumber_listrik_id" class="filter_col">
							<label for="sumber_listrik_id" class="label-filter">@ResxHelper.GetValue("ta_sda_listrik", "sumber_listrik_id"): </label>
							<input id="sumber_listrik_id" name="sumber_listrik_id" style="width: 350px;" />
						</div>

						<div id="fiter_usaha_pengurangan_listrik_id" class="filter_col">
							<label for="usaha_pengurangan_listrik_id" class="label-filter">@ResxHelper.GetValue("ta_sda_listrik", "usaha_pengurangan_listrik_id"): </label>
							<input id="usaha_pengurangan_listrik_id" name="usaha_pengurangan_listrik_id" style="width: 200px;" />
						</div>

					</section>
				</div>
				<div class="panel-footer-filter">
					<a id="btnResetFilter_ta_sda_listrik" onclick="reset_filter_ta_sda_listrik()" class="k-button" title="Reset Filter">@ResxHelper.GetValue("Message", "ResetFilter", "Reset Filter")</a>
				</div>
			</div>
			<div>
				<table id="toolbar_panel" style="width:100%;">
					<tr>
						<td>
							<span id="quick_search_template_ta_sda_listrik" class="k-textbox k-space-right"><input id="txtSearch_ta_sda_listrik" placeholder="@ResxHelper.GetValue("Message","QuickSearch")" value="" /><a id="btnSearch_ta_sda_listrik" href="#" class="k-icon k-i-search">&nbsp;</a></span>
							<img id="btnSearchByColumn_ta_sda_listrik" title="@ResxHelper.GetValue("Message","ShowSearchByColumn")" style="cursor:pointer" src="~/img/search_by_column.png" width="20">
							<img id="btnShowHideColumn_ta_sda_listrik" title="@ResxHelper.GetValue("Message","ShowHideColumn")" style="cursor:pointer" src="~/img/show_hide_column.png" width="20">
							<a id="btnShowHideFilter_ta_sda_listrik" data-toggle="collapse" href="#collapse_filter_ta_sda_listrik" style="display:none">@ResxHelper.GetValue("Message", "ShowFilter", "Tampilkan Filter")</a>
						</td>
                        <td style="float:right">
                            <img id="btnExportExcel_ta_sda_listrik" title="@ResxHelper.GetValue("Message","ExportToExcel")" style="cursor:pointer" src="~/img/excel.png" width="20" />&nbsp;
                            <a id="btnAdd_ta_sda_listrik" onclick="AddData_ta_sda_listrik()" class="k-button" title="@ResxHelper.GetValue("Message","Add")">@ResxHelper.GetValue("Message", "Add", "Tambah")</a>
                            <a id="btnImport_ta_sda_listrik" class="k-button" title="@ResxHelper.GetValue("Message","Import")">@ResxHelper.GetValue("Message", "Import", "Import")</a>
                            <input id="formImport_ta_sda_listrik" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" hidden />
                        </td>
					<tr>
				</table>
			</div>
			<div id="grid_ta_sda_listrik"></div>
		</div>
    </div>

</div>
<div id="WinShowHideColumn_ta_sda_listrik" style="display: none">
    <div id="attr_column_show_hide" style="width:auto;height:auto;overflow-y:scroll;"></div>
</div>
@section ScriptsBlock {
    <script>
		var param_ta_sda_listrik = @Html.Raw(JsonConvert.SerializeObject(WebApp.Models.SdaListrikModel.GetListParam()));
		var displayName_ta_sda_listrik = @Html.Raw(JsonConvert.SerializeObject(WebApp.Models.SdaListrikModel.GetDisplayItem()));
		var pkKey_ta_sda_listrik = @Html.Raw(JsonConvert.SerializeObject(WebApp.Models.SdaListrikModel._pkKey));
		var j_data_ta_sda_listrik = @Html.Raw(JsonConvert.SerializeObject(WebApp.Models.SdaListrikModel.GetGridColumn()));
		var colNameTooltip_ta_sda_listrik = [];
		var colbuttonCount_ta_sda_listrik = 0;
		var columnWidth = 40;
		colbuttonCount_ta_sda_listrik += param_ta_sda_listrik.btnView == 1 ? 1 : 0;
		colbuttonCount_ta_sda_listrik += param_ta_sda_listrik.btnEdit== "1" ? 1 : 0;
		colbuttonCount_ta_sda_listrik += param_ta_sda_listrik.btnDelete == "1" ? 1 : 0;
		colbuttonCount_ta_sda_listrik += param_ta_sda_listrik.btnCopy  == "1" ? 1 : 0;
		if (colbuttonCount_ta_sda_listrik == 1) { columnWidth = 40; } else if (colbuttonCount_ta_sda_listrik == 2) { columnWidth = 60; } else if (colbuttonCount_ta_sda_listrik == 3) { columnWidth = 95; } else if (colbuttonCount_ta_sda_listrik == 4) { columnWidth = 120; }
		var columnActionWidth_ta_sda_listrik = columnWidth + "px";
		var item_data = "";
		var col_att = [];
		var showhide_column = "";
		var j = 0;
		var checked = '';
		var aggregate_data_ta_sda_listrik = [];
		var agg_i = 0
		jQuery.each(j_data_ta_sda_listrik, function (i, val) {
			var footerTemplate = "";
			if (val.aggregate != "") {
				footerTemplate = val.footerTemplate!="" ? val.footerTemplate : '#='+val.aggregate+'#';
				aggregate_data_ta_sda_listrik[agg_i] = { field: val.name, aggregate: val.aggregate };
				agg_i++;
			}
			item_data += item_data != "" ? "," : "";
			item_data += '"' + val.name + '" : { "type": "' + val.type + '" } ';
			if (val.display) {
				col_att[j] = { field: val.name, title: val.title, hidden: JSON.parse(val.hidden), width: val.width, format: val.format, attributes: JSON.parse(val.attributes), encoded: JSON.parse(val.encoded), filterable: JSON.parse(val.filterable), sortable: JSON.parse(val.sortable), headerAttributes: { style: "white-space: normal;vertical-align:middle;text-align:center" },aggregates: [val.aggregate], footerTemplate: footerTemplate };
				j++;
				checked = '';if (val.hidden.toString() == 'false') {checked = 'checked';}
				showhide_column += '<div><input type="checkbox" onclick="ShowHideColumn_ta_sda_listrik(this)" '+ checked +' value="' + val.name + '" /> ' + val.title + '</div>';
			}
		});
		showhide_column += '<div><input type="checkbox" onclick="ShowHideColumn_ta_sda_listrik(this)" checked value="' + j + '" /> Action</div>';
		item_data = '{' + item_data + '}';
		var field_data = JSON.parse(item_data);
		var columns_data = col_att;
		var col_command = [];
		var k = 0;
		if (param_ta_sda_listrik.btnView== 1) {col_command[k] = { name: "View", text: "", className: "v-view", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); ViewItem_ta_sda_listrik(data); } };k++;}
		if (param_ta_sda_listrik.btnEdit== 1) {col_command[k] = { name: "Edit", text: "", className: "v-pencil", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); EditData_ta_sda_listrik(data); } };k++;}
		if (param_ta_sda_listrik.btnDelete== 1) {col_command[k] = { name: "Delete", text: "", className: "v-close", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); DeleteData_ta_sda_listrik(data); } };k++;}
		if (param_ta_sda_listrik.btnCopy == 1) { col_command[k] = { name: "Copy", text: "", className: "v-copy", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); CopyData_ta_sda_listrik(data); } }; k++; }
		if (colbuttonCount_ta_sda_listrik > 0) {
			columns_data[j] = {command: col_command, width: columnActionWidth_ta_sda_listrik, attributes: " style=\"vertical-align:top;\""};
		}
		//==============================
        //=== filter ehs_area_id
        var ehs_area_id_param = { item: { value: 'id', text: 'kode,nama', distinct: '0' } ,parent:[{field:"obj_data",value:"Environment"}], order:[]};
        var ehs_area_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/EHSArea/LookupDataEA", dataType: "json", data: ehs_area_id_param, type: "POST" } } });
        var ehs_area_id = $("#ehs_area_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_ehs_area_id, dataSource: ehs_area_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#ehs_area_id").data("kendoComboBox").value('@filterColumn.ehs_area_id'); });
        function onChange_ehs_area_id() {
            if ($("#ehs_area_id").data("kendoComboBox").value() != '' && $("#ehs_area_id").data("kendoComboBox")._oldIndex == -1) { $("#ehs_area_id").data("kendoComboBox").value(''); }
                                                    reload_ba_id();
                                                    reload_pa_id();
                                                    reload_psa_id();
            onFilterHeader_ta_sda_listrik();
        }


        //=== filter ba_id
        var ba_id_param = { item: { value: 'id', text: 'kode,nama', distinct: '0' } ,parent:[{ field: 'ehs_area_id',opr:'=', value: '@filterColumn.ehs_area_id' },{field:"obj_data",value:"Environment"}], order:[]};
        var ba_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/BusinessArea/LookupDataBA", dataType: "json", data: ba_id_param, type: "POST" } } });
        var ba_id = $("#ba_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_ba_id, dataSource: ba_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#ba_id").data("kendoComboBox").value('@filterColumn.ba_id'); });
        function onChange_ba_id() {
            if ($("#ba_id").data("kendoComboBox").value() != '' && $("#ba_id").data("kendoComboBox")._oldIndex == -1) { $("#ba_id").data("kendoComboBox").value(''); }
                                                    reload_pa_id();
                                                    reload_psa_id();
            onFilterHeader_ta_sda_listrik();
        }

                                                function reload_ba_id(){
                                                    $("#ba_id").data("kendoComboBox").value('');
                                                    var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
                                                    var ba_id_param = { item: { value: 'id', text: 'kode,nama' }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }], order: [] };
                                                    $("#ba_id").data("kendoComboBox").dataSource.read(ba_id_param);
                                                }


        //=== filter pa_id
        var pa_id_param = { item: { value: 'id', text: 'kode,nama', distinct: '0' } ,parent:[{ field: 'ehs_area_id',opr:'=', value: '@filterColumn.ehs_area_id' }, { field: 'ba_id',opr:'=', value: '@filterColumn.ba_id' },{field:"obj_data",value:"Environment"}], order:[]};
        var pa_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/PersonalArea/LookupDataPA", dataType: "json", data: pa_id_param, type: "POST" } } });
        var pa_id = $("#pa_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_pa_id, dataSource: pa_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#pa_id").data("kendoComboBox").value('@filterColumn.pa_id'); });
        function onChange_pa_id() {
            if ($("#pa_id").data("kendoComboBox").value() != '' && $("#pa_id").data("kendoComboBox")._oldIndex == -1) { $("#pa_id").data("kendoComboBox").value(''); }
                                                    reload_psa_id();
            onFilterHeader_ta_sda_listrik();
        }

                                                function reload_pa_id(){
                                                    $("#pa_id").data("kendoComboBox").value('');
                                                    var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
                                                    var ba_id = $("#ba_id").data("kendoComboBox").value();
                                                    var pa_id_param = { item: { value: 'id', text: 'kode,nama' }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }, { field: 'ba_id',opr:'=', value: ba_id }], order: [] };
                                                    $("#pa_id").data("kendoComboBox").dataSource.read(pa_id_param);
                                                }


        //=== filter psa_id
        var psa_id_param = { item: { value: 'id', text: 'kode,nama', distinct: '0' } ,parent:[{ field: 'ehs_area_id',opr:'=', value: '@filterColumn.ehs_area_id' }, { field: 'ba_id',opr:'=', value: '@filterColumn.ba_id' }, { field: 'pa_id',opr:'=', value: '@filterColumn.pa_id' },{field:"obj_data",value:"Environment"}], order:[]};
        var psa_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/PersonalSubArea/LookupDataPSA", dataType: "json", data: psa_id_param, type: "POST" } } });
        var psa_id = $("#psa_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_psa_id, dataSource: psa_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#psa_id").data("kendoComboBox").value('@filterColumn.psa_id'); });
        function onChange_psa_id() {
            if ($("#psa_id").data("kendoComboBox").value() != '' && $("#psa_id").data("kendoComboBox")._oldIndex == -1) { $("#psa_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_sda_listrik();
        }

                                                function reload_psa_id(){
                                                    $("#psa_id").data("kendoComboBox").value('');
                                                    var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
                                                    var ba_id = $("#ba_id").data("kendoComboBox").value();
                                                    var pa_id = $("#pa_id").data("kendoComboBox").value();
                                                    var psa_id_param = { item: { value: 'id', text: 'kode,nama' }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }, { field: 'ba_id',opr:'=', value: ba_id }, { field: 'pa_id',opr:'=', value: pa_id }], order: [] };
                                                    $("#psa_id").data("kendoComboBox").dataSource.read(psa_id_param);
                                                }



        //=== filter bulan
        var bulan_param = { item: { value: 'id', text: 'nama', distinct: '0' } ,parent:[{ field: 'cat_id',opr:'=', value: '150' }], order:[{ field: 'ordinal', dir: 'asc' }]};
        var bulan_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: bulan_param, type: "POST" } } });
        var bulan = $("#bulan").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_bulan, dataSource: bulan_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#bulan").data("kendoComboBox").value('@filterColumn.bulan'); });
        function onChange_bulan() {
            if ($("#bulan").data("kendoComboBox").value() != '' && $("#bulan").data("kendoComboBox")._oldIndex == -1) { $("#bulan").data("kendoComboBox").value(''); }
            onFilterHeader_ta_sda_listrik();
        }


        //=== filter tahun
        var tahun_param = { item: { value: 'id', text: 'nama', distinct: '0' } ,parent:[{ field: 'cat_id',opr:'=', value: '151' }], order:[{ field: 'ordinal', dir: 'asc' }]};
        var tahun_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: tahun_param, type: "POST" } } });
        var tahun = $("#tahun").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_tahun, dataSource: tahun_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#tahun").data("kendoComboBox").value('@filterColumn.tahun'); });
        function onChange_tahun() {
            if ($("#tahun").data("kendoComboBox").value() != '' && $("#tahun").data("kendoComboBox")._oldIndex == -1) { $("#tahun").data("kendoComboBox").value(''); }
            onFilterHeader_ta_sda_listrik();
        }


        //=== filter sumber_listrik_id
        var sumber_listrik_id_param = { item: { value: 'id', text: 'nama', distinct: '0' } ,parent:[{ field: 'cat_id',opr:'=', value: '125' }], order:[]};
        var sumber_listrik_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: sumber_listrik_id_param, type: "POST" } } });
        var sumber_listrik_id = $("#sumber_listrik_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_sumber_listrik_id, dataSource: sumber_listrik_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#sumber_listrik_id").data("kendoComboBox").value('@filterColumn.sumber_listrik_id'); });
        function onChange_sumber_listrik_id() {
            if ($("#sumber_listrik_id").data("kendoComboBox").value() != '' && $("#sumber_listrik_id").data("kendoComboBox")._oldIndex == -1) { $("#sumber_listrik_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_sda_listrik();
        }


        //=== filter usaha_pengurangan_listrik_id
        var usaha_pengurangan_listrik_id_param = { item: { value: 'usaha_pengurangan_listrik_id', text: 'usaha_pengurangan_listrik_id', distinct: '1' } ,parent:[], order:[{ field: 'usaha_pengurangan_listrik_id', dir: 'asc' }]};
        var usaha_pengurangan_listrik_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/SdaListrik/LookupData", dataType: "json", data: usaha_pengurangan_listrik_id_param, type: "POST" } } });
        var usaha_pengurangan_listrik_id = $("#usaha_pengurangan_listrik_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_usaha_pengurangan_listrik_id, dataSource: usaha_pengurangan_listrik_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#usaha_pengurangan_listrik_id").data("kendoComboBox").value('@filterColumn.usaha_pengurangan_listrik_id'); });
        function onChange_usaha_pengurangan_listrik_id() {
            if ($("#usaha_pengurangan_listrik_id").data("kendoComboBox").value() != '' && $("#usaha_pengurangan_listrik_id").data("kendoComboBox")._oldIndex == -1) { $("#usaha_pengurangan_listrik_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_sda_listrik();
        }


		//==============================
		$("#collapse_filter_ta_sda_listrik").on('shown.bs.collapse', function () {
			$("#btnShowHideFilter_ta_sda_listrik").html('@ResxHelper.GetValue("Message","HideFilter")');
		});
		$("#collapse_filter_ta_sda_listrik").on('hidden.bs.collapse', function () {
			$("#btnShowHideFilter_ta_sda_listrik").html('@ResxHelper.GetValue("Message","ShowFilter")');
		});
		//==============================
		var record_ta_sda_listrik = 0;
		var grid_ta_sda_listrik_heigth = 0;
		var ds_ta_sda_listrik_filter = { filter_by_column: [{ name: 'ehs_area_id',value: '@filterColumn.ehs_area_id' }, { name: 'ba_id',value: '@filterColumn.ba_id' }, { name: 'pa_id',value: '@filterColumn.pa_id' }, { name: 'psa_id',value: '@filterColumn.psa_id' }, { name: 'bulan',value: '@filterColumn.bulan' }, { name: 'tahun',value: '@filterColumn.tahun' }, { name: 'sumber_listrik_id',value: '@filterColumn.sumber_listrik_id' }] };
		var ds_ta_sda_listrik = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/SdaListrik/GetListData", dataType: "json", type: "POST", data: ds_ta_sda_listrik_filter }, parameterMap: function (options) { if (options.filter) { for (var i = 0; i < options.filter.filters.length; i++) { if (options.filter.filters[i].field == 'tanggal') { options.filter.filters[i].value = kendo.toString(options.filter.filters[i].value, "yyyy-MM-dd"); } } } return options; } }, schema: { data: "data", total: "total", aggregates: "aggregates", model: { fields: field_data } }, aggregate: aggregate_data_ta_sda_listrik, pageSize: 10, serverAggregates: true, serverPaging: true, serverFiltering: true, serverSorting: true });
		var list_ta_sda_listrik = $("#grid_ta_sda_listrik").kendoGrid({
			excel: { allPages: true, fileName: '@ViewData["TitleHeader"]'+'.xlsx' },
			dataSource: ds_ta_sda_listrik, dataBound: onDataBound_ta_sda_listrik, height: grid_ta_sda_listrik_heigth, scrollable: true, groupable: false, columnMenu: false, menu: true, resizable: true, filterable: false, sortable: { mode: "multiple", allowUnsort: true }, pageable: { refresh: true, pageSizes: [5, 10, 20, 50, 100, 200], buttonCount: 5 },
			columns: columns_data, editable: false, dataBinding: function () { record_ta_sda_listrik = (this.dataSource.page() - 1) * this.dataSource.pageSize(); }
		});
		function getParamgrid_ta_sda_listrik() {
			var filter_by_column= [];var k = 0;
	        if ($("#ehs_area_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "ehs_area_id", field: "ta_sda_listrik.ehs_area_id", opr: "=", value: $("#ehs_area_id").data("kendoComboBox").value() };k++;}
        if ($("#ba_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "ba_id", field: "ta_sda_listrik.ba_id", opr: "=", value: $("#ba_id").data("kendoComboBox").value() };k++;}
        if ($("#pa_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "pa_id", field: "ta_sda_listrik.pa_id", opr: "=", value: $("#pa_id").data("kendoComboBox").value() };k++;}
        if ($("#psa_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "psa_id", field: "ta_sda_listrik.psa_id", opr: "=", value: $("#psa_id").data("kendoComboBox").value() };k++;}
        if ($("#bulan").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "bulan", field: "ta_sda_listrik.bulan", opr: "=", value: $("#bulan").data("kendoComboBox").value() };k++;}
        if ($("#tahun").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "tahun", field: "ta_sda_listrik.tahun", opr: "=", value: $("#tahun").data("kendoComboBox").value() };k++;}
        if ($("#sumber_listrik_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "sumber_listrik_id", field: "ta_sda_listrik.sumber_listrik_id", opr: "=", value: $("#sumber_listrik_id").data("kendoComboBox").value() };k++;}
        if ($("#usaha_pengurangan_listrik_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "usaha_pengurangan_listrik_id", field: "ta_sda_listrik.usaha_pengurangan_listrik_id", opr: "=", value: $("#usaha_pengurangan_listrik_id").data("kendoComboBox").value() };k++;}
			return { filter_by_column:filter_by_column };
		}
		function reset_filter_ta_sda_listrik() {
	        $("#ehs_area_id").data("kendoComboBox").value('');
        $("#ba_id").data("kendoComboBox").value('');
        $("#pa_id").data("kendoComboBox").value('');
        $("#psa_id").data("kendoComboBox").value('');
        $("#bulan").data("kendoComboBox").value('');
        $("#tahun").data("kendoComboBox").value('');
        $("#sumber_listrik_id").data("kendoComboBox").value('');
        $("#usaha_pengurangan_listrik_id").data("kendoComboBox").value('');
			onFilterHeader_ta_sda_listrik();
		}
		function onFilterHeader_ta_sda_listrik() {
			$("#txtSearch_ta_sda_listrik").val('');
			paramValue = getParamgrid_ta_sda_listrik();
			if (list_ta_sda_listrik.data('kendoGrid').dataSource.page() > 1) {
				list_ta_sda_listrik.data('kendoGrid').dataSource.page(0);
			}
			list_ta_sda_listrik.data('kendoGrid').dataSource.transport.options.read.data = paramValue;
			list_ta_sda_listrik.data("kendoGrid").dataSource.filter([]);
		};
		$("#btnSearchByColumn_ta_sda_listrik").click(function () { var grid_ta_sda_listrik_heigth_filter = grid_ta_sda_listrik_heigth + 38; if (list_ta_sda_listrik.data("kendoGrid").options.filterable == false) { $('#btnSearchByColumn_ta_sda_listrik').prop('title', '@ResxHelper.GetValue("Message","HideSearchByColumn")'); $("#txtSearch_ta_sda_listrik").val(''); if ('1' == '1') { $("#quick_search_template_ta_sda_listrik").hide(); }; QuickSearch_ta_sda_listrik(); list_ta_sda_listrik.data("kendoGrid").setOptions({ height: grid_ta_sda_listrik_heigth_filter, filterable: { mode: "row" }, }); } else { $('#btnSearchByColumn_ta_sda_listrik').prop('title', '@ResxHelper.GetValue("Message","ShowSearchByColumn")'); $("#txtSearch_ta_sda_listrik").val(''); if ('1' == '1') { $("#quick_search_template_ta_sda_listrik").show(); }; QuickSearch_ta_sda_listrik(); list_ta_sda_listrik.data("kendoGrid").setOptions({ height: grid_ta_sda_listrik_heigth, filterable: false, }); } });
		$("#btnSearch_ta_sda_listrik").click(function () { QuickSearch_ta_sda_listrik(); });
		$('#txtSearch_ta_sda_listrik').keypress(function (e) { if (e.keyCode == 13) { QuickSearch_ta_sda_listrik(); } });
		function QuickSearch_ta_sda_listrik() {
			$filter = new Array();
			$x = $("#txtSearch_ta_sda_listrik").val();
			if ($x) {jQuery.each(j_data_ta_sda_listrik, function (i, val) {if (val.display && val.qsearch && val.type =='string') {$filter.push({ name: val.name, opr: "contains", value: $x });}});}
			if ($filter.length > 0) {list_ta_sda_listrik.data("kendoGrid").dataSource.filter({ logic: "or", filters: $filter });}else {list_ta_sda_listrik.data("kendoGrid").dataSource.filter([]);}
		}
		function Reload_list_ta_sda_listrik() { list_ta_sda_listrik.data('kendoGrid').dataSource.read(); list_ta_sda_listrik.data('kendoGrid').refresh(); }
		function onDataBound_ta_sda_listrik(e) {
			if (colbuttonCount_ta_sda_listrik > 0) {
				var grid = $("#grid_ta_sda_listrik").data("kendoGrid"); var list_ta_sda_listrik = grid.dataSource.view();
				for (var i = 0; i < list_ta_sda_listrik.length; i++) {
					var currentUid = list_ta_sda_listrik[i].uid; var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
					if (param_ta_sda_listrik.btnView == 1) {
						var viewButton = $(currenRow).find(".k-grid-View"); viewButton.attr("title", "@ResxHelper.GetValue("Message","View")");
						if ("@ViewData["AllowView"]" == "1") {} else {viewButton.hide();}
					}
					if (param_ta_sda_listrik.btnEdit == 1) {
						var editButton = $(currenRow).find(".k-grid-Edit"); editButton.attr("title", "@ResxHelper.GetValue("Message","Edit")");
                        if (
                            ("@ViewData["AllowEdit"]" == "1" && list_ta_sda_listrik[i].officer_id == "@ViewBag.person_id")
							|| ("@ViewData["AllowEdit"]" == "1" && list_ta_sda_listrik[i].ehs_head_id == "@ViewBag.person_id")
							|| ("@ViewData["AllowEditAll"]" == "1" )
                        ) { } else { editButton.hide(); }
					}
					if (param_ta_sda_listrik.btnDelete == 1) {
						var deleteButton = $(currenRow).find(".k-grid-Delete"); deleteButton.attr("title", "@ResxHelper.GetValue("Message","Delete")");
                        if (
                            ("@ViewData["AllowDelete"]" == "1" && list_ta_sda_listrik[i].officer_id == "@ViewBag.person_id")
							|| ("@ViewData["AllowDelete"]" == "1" && list_ta_sda_listrik[i].ehs_head_id == "@ViewBag.person_id")
							|| ("@ViewData["AllowDeleteAll"]" == "1" )
                        ) { } else { deleteButton.hide(); }
					}
					if (param_ta_sda_listrik.btnCopy == 1) {
						var copyButton = $(currenRow).find(".k-grid-Copy"); copyButton.attr("title", "@ResxHelper.GetValue("Message","Copy")");
						if ("@ViewData["AllowAdd"]" == "1") {} else {copyButton.hide();}
					}
				}
			}
		}
		function AddData_ta_sda_listrik() {var contentUrl = '@ViewBag.BaseUrl/SdaListrik/Add'; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog, }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param_ta_sda_listrik.btn_add_modal_width, height: param_ta_sda_listrik.btn_add_modal_height, minHeight: 300, });if(param_ta_sda_listrik.btn_add_modal_width == 0) {form_edit.data("kendoWindow").center().open().maximize()} else {form_edit.data("kendoWindow").center().open();}}
		function ViewItem_ta_sda_listrik(data) { var qs = '';jQuery.each(pkKey_ta_sda_listrik, function (i, val) {qs += qs != "" ? "&" : "";qs += val+'=' + data[val];});var contentUrl = '@ViewBag.BaseUrl/SdaListrik/ViewItem?' + qs; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param_ta_sda_listrik.btn_view_modal_width, height: param_ta_sda_listrik.btn_view_modal_height, minHeight: 300, }); if (param_ta_sda_listrik.btn_view_modal_width == 0) { form_edit.data("kendoWindow").center().open().maximize() } else { form_edit.data("kendoWindow").center().open(); }}
		function EditData_ta_sda_listrik(data) { var qs = '';jQuery.each(pkKey_ta_sda_listrik, function (i, val) {qs += qs != "" ? "&" : "";qs += val+'=' + data[val];}); var contentUrl = '@ViewBag.BaseUrl/SdaListrik/Edit?' + qs; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param_ta_sda_listrik.btn_edit_modal_width, height: param_ta_sda_listrik.btn_edit_modal_height, minHeight: 300, }); if(param_ta_sda_listrik.btn_edit_modal_width == 0) {form_edit.data("kendoWindow").center().open().maximize()} else {form_edit.data("kendoWindow").center().open();} }
		function CopyData_ta_sda_listrik(data) { var qs = '';jQuery.each(pkKey_ta_sda_listrik, function (i, val) {qs += qs != "" ? "&" : "";qs += val+'=' + data[val];}); var contentUrl = '@ViewBag.BaseUrl/SdaListrik/Copy?' + qs; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param_ta_sda_listrik.btn_edit_modal_width, height: param_ta_sda_listrik.btn_edit_modal_height, minHeight: 300, }); if(param_ta_sda_listrik.btn_edit_modal_width == 0) {form_edit.data("kendoWindow").center().open().maximize()} else {form_edit.data("kendoWindow").center().open();} }
		function DeleteData_ta_sda_listrik(data) {
			var keyValue = '';
			jQuery.each(displayName_ta_sda_listrik, function (i, val) {
				keyValue += keyValue != "" ? "<br />" : "";
				keyValue += val.label+ ": " + data[val.name];
			});
			var pkItem = "";
			jQuery.each(pkKey_ta_sda_listrik, function (i, val) {
				pkItem += pkItem != "" ? ", " : "";
				pkItem += '"'+val+'":"'+data[val]+'" ';
			});
			var pkVal = jQuery.parseJSON("{" + pkItem + "}");
			var data2 = { title: '@ResxHelper.GetValue("Message","ConfirmDelete")', msg: keyValue };
			var winconfirm = $("#dialogconfirm").kendoWindow({ title: "@ResxHelper.GetValue("Message","DeleteData")", modal: true, visible: false, resizable: true, draggable: true, width: "500px", height: "200px" }).data("kendoWindow");
			winconfirm.content(confirmTemplate(data2));
			winconfirm.center(); winconfirm.open();
			$("#yesButton").click(function () {
				$.ajax({
					data: pkVal, url: '@ViewBag.BaseUrl/SdaListrik/Delete', type: 'POST'
					, success: function (data) {
						if (data.status != 1) {
							notification.show({ title: data.title, message: kendo.toString(data.message) }, "error");
							winconfirm.close();
						} else {
							notification.show({ message: kendo.toString(data.message) }, "success");
							Reload_list_ta_sda_listrik();
							winconfirm.close();
						}
					}
				});
			});
			$("#noButton").click(function () { winconfirm.close(); });
		}
		function onCloseDialog(e) { $('#dialog').html(''); }
		function closeDialog() { $("#dialog").data("kendoWindow").close(); }
		$("#btnExportExcel_ta_sda_listrik").click(function (e) { var grid = $("#grid_ta_sda_listrik").data("kendoGrid"); grid.saveAsExcel(); });
		function ShowHideColumn_ta_sda_listrik(e) { colname = $.isNumeric(e.value) ? parseInt(e.value) : e.value; if (e.checked) { $("#grid_ta_sda_listrik").data("kendoGrid").showColumn(colname); } else { $("#grid_ta_sda_listrik").data("kendoGrid").hideColumn(colname); } }
		$(document).ready(function () {
			$("#attr_column_show_hide").html(showhide_column);
			if (param_ta_sda_listrik.ShowFilter == 1) { $("#btnShowHideFilter_ta_sda_listrik").show(); }
			if (param_ta_sda_listrik.btnAdd == 1 && @ViewData["AllowAdd"]== "1") { }else{ $("#btnAdd_ta_sda_listrik").hide(); }
			if (param_ta_sda_listrik.quick_search != 1) { $("#quick_search_template_ta_sda_listrik").hide(); }
			if (param_ta_sda_listrik.search_by_column  != 1) { $("#btnSearchByColumn_ta_sda_listrik").hide(); }
			if (param_ta_sda_listrik.show_hide_column != 1) { $("#btnShowHideColumn_ta_sda_listrik").hide(); }
			if (param_ta_sda_listrik.export_exl != 1) { $("#btnExportExcel_ta_sda_listrik").hide(); }
			$("#btnShowHideColumn_ta_sda_listrik").click(function () { var x = $("#btnShowHideColumn_ta_sda_listrik").offset().left; var y = $("#btnShowHideColumn_ta_sda_listrik").offset().top; if (!WinShowHideColumn_ta_sda_listrik) { var WinShowHideColumn_ta_sda_listrik = $("#WinShowHideColumn_ta_sda_listrik").kendoWindow({ width: "300px", position: { left: x, top: y }, title: "@ResxHelper.GetValue("Message","ShowHideColumn")", actions: ["Close"] }); } WinShowHideColumn_ta_sda_listrik.data("kendoWindow").open(); });
		});

        document.getElementById('btnImport_ta_sda_listrik').addEventListener('click', openDialog);
        function openDialog() {
            document.getElementById('formImport_ta_sda_listrik').click();
		}
        $(document).ready(function () {
            $("#formImport_ta_sda_listrik").kendoUpload({
                multiple: false,
                async: {
                    autoUpload: false,
                    saveUrl: "@ViewBag.BaseUrl/SdaListrik/ImportSdaListrik",
                    withCredentials: false
                },
                select: function (e) {
                    var file = e.files[0];
                    var upload = e.sender;
                    // Biar muncul confirm dialog
                    kendo.confirm("File name:" +
                        "<br/>" +
                        file.name +
                        "<br/>" +
                        "Are you sure that you want to import this file?")
                        .then(function () {
                            upload.upload();
                        }, function () {
                            upload.clearAllFiles();
                        });
                },
                success: function (e) {
                    console.log(e)
                    var file = e.files[0];
                    var upload = e.sender;
                    if (e.files.length == 1) {
                        notification.show({ message: kendo.toString(file.name + ' Imported Successfully!') }, "success");
                        Reload_list_ta_sda_listrik();
                        upload.clearAllFiles();
                    } else {
                        notification.show({ title: 'Import Failed!', message: kendo.toString(file.name + ' Import Failed!') }, "error");
                        Reload_list_ta_sda_listrik();
                        upload.clearAllFiles();
                    }
                }
            });
            $("div.k-widget.k-upload.k-header.k-upload-empty").css({ 'display': 'none' });
        });
    </script>
}