@using WebApp
@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
    var fieldModel = ViewData["fieldModel"] as WebApp.Models.LegalModel.ViewModel;
    ViewData["Title"] = ViewData["TitleHeader"];
    ViewData["PageName"] = "legal";
    ViewData["Heading"] = ViewData["TitleHeader"];
    ViewData["Category1"] = "";
    ViewData["Category2"] = "";
}

<form id="form_edit" method="post" class="panel-form">
    <div class="panel">
        <div class="panel-heading">
            <div class="title-header">@ViewData["TitleHeader"]</div>
        </div>
		<div class="panel-container">
			<div class="panel-content">
				<div class="row">
                    <div class="col-lg-12">

                        <div id="form_item_id" class="form-group-none">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "id")<span id="label_req_id" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_id" class="form-item-field">
                                <input type="number" id="id" name="id" min="0" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_legal","id"))" style="width:200px;" />
                                <span class="k-invalid-msg" data-for="id"></span>
                                <input type="hidden" id="id_old" name="id_old" value="@fieldModel.id" />
                                <script>
                                   $("#id").kendoNumericTextBox({ format: "{0:N0}", decimals: 0 });
                                   $(document).ready(function () {$("#id").data('kendoNumericTextBox').value('@fieldModel.id');})
                                </script>
                            </div>
                        </div>

                        <div id="form_item_ehs_area_id" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "ehs_area_id")<span id="label_req_ehs_area_id" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_ehs_area_id" class="form-item-field">
                                <input id="ehs_area_id" name="ehs_area_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_legal","ehs_area_id"))" style="width:400px;" />
                                <span class="k-invalid-msg" data-for="ehs_area_id"></span>
                                <script>
                                   var ehs_area_id_param = {item : {value:"id",text:"kode,nama"},parent:[{field:"obj_data",value:"Legal"}], order:[]};
                                   var ehs_area_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/EHSArea/LookupDataEA", dataType: "json", data: ehs_area_id_param, type: "POST" } } });
                                   var ehs_area_id = $("#ehs_area_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: ehs_area_id_ds, change:onChange_ehs_area_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#ehs_area_id").data("kendoComboBox").value('@fieldModel.ehs_area_id'); });
                                   function onChange_ehs_area_id() {if ($("#ehs_area_id").data("kendoComboBox").value() != '' && $("#ehs_area_id").data("kendoComboBox")._oldIndex == -1) {$("#ehs_area_id").data("kendoComboBox").value('');}
                                       reload_ba_id();
                                       reload_pa_id();
                                       reload_psa_id();
                                   }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_ba_id" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "ba_id")<span id="label_req_ba_id" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_ba_id" class="form-item-field">
                                <input id="ba_id" name="ba_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_legal","ba_id"))" style="width:400px;" />
                                <span class="k-invalid-msg" data-for="ba_id"></span>
                                <script>
                                   var ba_id_param = {item : {value:"id",text:"kode,nama"},parent:[{ field: 'ehs_area_id',opr:'=', value: '@fieldModel.ehs_area_id' },{field:"obj_data",value:"Legal"}], order:[]};
                                   var ba_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/BusinessArea/LookupDataBA", dataType: "json", data: ba_id_param, type: "POST" } } });
                                   var ba_id = $("#ba_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: ba_id_ds, change:onChange_ba_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#ba_id").data("kendoComboBox").value('@fieldModel.ba_id'); });
                                   function onChange_ba_id() {if ($("#ba_id").data("kendoComboBox").value() != '' && $("#ba_id").data("kendoComboBox")._oldIndex == -1) {$("#ba_id").data("kendoComboBox").value('');}
                                       reload_pa_id();
                                       reload_psa_id();
                                   }
                                  function reload_ba_id(){
                                      $("#ba_id").data("kendoComboBox").value('');
                                      var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
                                      var ba_id_param = { item: { value: 'id', text: 'kode,nama' }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }], order: [] };
                                      $("#ba_id").data("kendoComboBox").dataSource.read(ba_id_param);
                                  }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_pa_id" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "pa_id")<span id="label_req_pa_id" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_pa_id" class="form-item-field">
                                <input id="pa_id" name="pa_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_legal","pa_id"))" style="width:400px;" />
                                <span class="k-invalid-msg" data-for="pa_id"></span>
                                <script>
                                   var pa_id_param = {item : {value:"id",text:"kode,nama"},parent:[{ field: 'ehs_area_id',opr:'=', value: '@fieldModel.ehs_area_id' }, { field: 'ba_id',opr:'=', value: '@fieldModel.ba_id' },{field:"obj_data",value:"Legal"}], order:[]};
                                   var pa_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/PersonalArea/LookupDataPA", dataType: "json", data: pa_id_param, type: "POST" } } });
                                   var pa_id = $("#pa_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: pa_id_ds, change:onChange_pa_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#pa_id").data("kendoComboBox").value('@fieldModel.pa_id'); });
                                   function onChange_pa_id() {if ($("#pa_id").data("kendoComboBox").value() != '' && $("#pa_id").data("kendoComboBox")._oldIndex == -1) {$("#pa_id").data("kendoComboBox").value('');}
                                       reload_psa_id();
                                   }
                                  function reload_pa_id(){
                                      $("#pa_id").data("kendoComboBox").value('');
                                      var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
                                      var ba_id = $("#ba_id").data("kendoComboBox").value();
                                      var pa_id_param = { item: { value: 'id', text: 'kode,nama' }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }, { field: 'ba_id',opr:'=', value: ba_id }], order: [] };
                                      $("#pa_id").data("kendoComboBox").dataSource.read(pa_id_param);
                                  }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_psa_id" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "psa_id")<span id="label_req_psa_id" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_psa_id" class="form-item-field">
                                <input id="psa_id" name="psa_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_legal","psa_id"))" style="width:400px;" />
                                <span class="k-invalid-msg" data-for="psa_id"></span>
                                <script>
                                   var psa_id_param = {item : {value:"id",text:"kode,nama"},parent:[{ field: 'ehs_area_id',opr:'=', value: '@fieldModel.ehs_area_id' }, { field: 'ba_id',opr:'=', value: '@fieldModel.ba_id' }, { field: 'pa_id',opr:'=', value: '@fieldModel.pa_id' },{field:"obj_data",value:"Legal"}], order:[]};
                                   var psa_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/PersonalSubArea/LookupDataPSA", dataType: "json", data: psa_id_param, type: "POST" } } });
                                   var psa_id = $("#psa_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: psa_id_ds, change:onChange_psa_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#psa_id").data("kendoComboBox").value('@fieldModel.psa_id'); });
                                   function onChange_psa_id() {if ($("#psa_id").data("kendoComboBox").value() != '' && $("#psa_id").data("kendoComboBox")._oldIndex == -1) {$("#psa_id").data("kendoComboBox").value('');}
                                   }
                                  function reload_psa_id(){
                                      $("#psa_id").data("kendoComboBox").value('');
                                      var ehs_area_id = $("#ehs_area_id").data("kendoComboBox").value();
                                      var ba_id = $("#ba_id").data("kendoComboBox").value();
                                      var pa_id = $("#pa_id").data("kendoComboBox").value();
                                      var psa_id_param = { item: { value: 'id', text: 'kode,nama' }, parent: [{ field: 'ehs_area_id',opr:'=', value: ehs_area_id }, { field: 'ba_id',opr:'=', value: ba_id }, { field: 'pa_id',opr:'=', value: pa_id }], order: [] };
                                      $("#psa_id").data("kendoComboBox").dataSource.read(psa_id_param);
                                  }
                                </script>
                            </div>
                        </div>

                        <div><p>&nbsp;</p></div>

                        <div id="form_item_kategori_perizinan_id" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "kategori_perizinan_id")<span id="label_req_kategori_perizinan_id" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_kategori_perizinan_id" class="form-item-field">
                                <input id="kategori_perizinan_id" name="kategori_perizinan_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_legal","kategori_perizinan_id"))" style="width:400px;" />
                                <span class="k-invalid-msg" data-for="kategori_perizinan_id"></span>
                                <script>
                                   var kategori_perizinan_id_param = {item : {value:"id",text:"nama"},parent:[], order:[]};
                                   var kategori_perizinan_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/KategoriPerizinan/LookupData", dataType: "json", data: kategori_perizinan_id_param, type: "POST" } } });
                                   var kategori_perizinan_id = $("#kategori_perizinan_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: kategori_perizinan_id_ds, change:onChange_kategori_perizinan_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#kategori_perizinan_id").data("kendoComboBox").value('@fieldModel.kategori_perizinan_id'); });
                                   function onChange_kategori_perizinan_id() {if ($("#kategori_perizinan_id").data("kendoComboBox").value() != '' && $("#kategori_perizinan_id").data("kendoComboBox")._oldIndex == -1) {$("#kategori_perizinan_id").data("kendoComboBox").value('');}
                                       reload_jenis_perizinan_id();
                                       if ($("#kategori_perizinan_id").data("kendoComboBox").value() != '1') {
                                           $("#jenis_limbah_tersimpan_id").data("kendoComboBox").value('');
                                           $('#kode_limbah').val('');
                                           $("#periode_telah_dilaporkan_id").data("kendoComboBox").value('');
                                           $('#tanggal_pelaporan').val('');
                                           $('#file_name_bukti_lapor').val('');
                                           $('#file_path_bukti_lapor_file').val('');
                                       }
                                       display_by_type();
                                   }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_jenis_perizinan_id" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "jenis_perizinan_id")<span id="label_req_jenis_perizinan_id" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_jenis_perizinan_id" class="form-item-field">
                                <input id="jenis_perizinan_id" name="jenis_perizinan_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_legal","jenis_perizinan_id"))" style="width:400px;" />
                                <span class="k-invalid-msg" data-for="jenis_perizinan_id"></span>
                                <script>
                                   var jenis_perizinan_id_param = {item : {value:"id",text:"nama"},parent:[{ field: 'kategori_id',opr:'=', value: '@fieldModel.kategori_perizinan_id' }], order:[{ field: 'ordinal', dir: 'asc' }]};
                                   var jenis_perizinan_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/JenisPerizinan/LookupData", dataType: "json", data: jenis_perizinan_id_param, type: "POST" } } });
                                   var jenis_perizinan_id = $("#jenis_perizinan_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: jenis_perizinan_id_ds, change:onChange_jenis_perizinan_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#jenis_perizinan_id").data("kendoComboBox").value('@fieldModel.jenis_perizinan_id'); });
                                   function onChange_jenis_perizinan_id() {if ($("#jenis_perizinan_id").data("kendoComboBox").value() != '' && $("#jenis_perizinan_id").data("kendoComboBox")._oldIndex == -1) {$("#jenis_perizinan_id").data("kendoComboBox").value('');}
                                       var ji = $('#jenis_perizinan_id').data("kendoComboBox").value();
                                       if (ji != '18') {
                                           $("#jenis_limbah_tersimpan_id").data("kendoComboBox").value('');
                                           $('#kode_limbah').val('');
                                       }
                                       if (ji == '1' || ji == '14' || ji == '15' || ji == '16') {} else {
                                            $("#periode_telah_dilaporkan_id").data("kendoComboBox").value('');
                                            $('#tanggal_pelaporan').val('');
                                            $('#file_name_bukti_lapor').val('');
                                            $('#file_path_bukti_lapor_file').val('');
                                            $('#tanggal_habis_izin').val('');
                                        }
                                        display_by_type();
                                   }
                                  function reload_jenis_perizinan_id(){
                                      $("#jenis_perizinan_id").data("kendoComboBox").value('');
                                      var kategori_perizinan_id = $("#kategori_perizinan_id").data("kendoComboBox").value();
                                      var jenis_perizinan_id_param = { item: { value: 'id', text: 'nama' }, parent: [{ field: 'kategori_id',opr:'=', value: kategori_perizinan_id }], order: [{ field: 'ordinal', dir: 'asc' }] };
                                      $("#jenis_perizinan_id").data("kendoComboBox").dataSource.read(jenis_perizinan_id_param);
                                  }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_jenis_limbah_tersimpan_id" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "jenis_limbah_tersimpan_id")</div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_jenis_limbah_tersimpan_id" class="form-item-field">
                                <input id="jenis_limbah_tersimpan_id" name="jenis_limbah_tersimpan_id" data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_legal","jenis_limbah_tersimpan_id"))" style="width:350px;" />
                                <span class="k-invalid-msg" data-for="jenis_limbah_tersimpan_id"></span>
                                <script>
                                   var jenis_limbah_tersimpan_id_param = {item : {value:"id",text:"nama"},parent:[{ field: 'cat_id',opr:'=', value: '101' }], order:[]};
                                   var jenis_limbah_tersimpan_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: jenis_limbah_tersimpan_id_param, type: "POST" } } });
                                   var jenis_limbah_tersimpan_id = $("#jenis_limbah_tersimpan_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: jenis_limbah_tersimpan_id_ds, change:onChange_jenis_limbah_tersimpan_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#jenis_limbah_tersimpan_id").data("kendoComboBox").value('@fieldModel.jenis_limbah_tersimpan_id'); });
                                   function onChange_jenis_limbah_tersimpan_id() {if ($("#jenis_limbah_tersimpan_id").data("kendoComboBox").value() != '' && $("#jenis_limbah_tersimpan_id").data("kendoComboBox")._oldIndex == -1) {$("#jenis_limbah_tersimpan_id").data("kendoComboBox").value('');}
                                   }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_kode_limbah" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "kode_limbah")</div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_kode_limbah" class="form-item-field">
                                <input type="text" id="kode_limbah" name="kode_limbah" class="k-textbox" data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_legal","kode_limbah"))" maxlength="50" style="width:350px;" value="@Html.Raw(fieldModel.kode_limbah)" title="@ResxHelper.GetValue("ta_legal", "kode_limbah") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                                <span class="k-invalid-msg" data-for="kode_limbah"></span>
                            </div>
                        </div>

                        <div id="form_item_periode_telah_dilaporkan_id" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "periode_telah_dilaporkan_id")</div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_periode_telah_dilaporkan_id" class="form-item-field">
                                <input id="periode_telah_dilaporkan_id" name="periode_telah_dilaporkan_id" data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_legal","periode_telah_dilaporkan_id"))" style="width:350px;" />
                                <span class="k-invalid-msg" data-for="periode_telah_dilaporkan_id"></span>
                                <script>
                                   var periode_telah_dilaporkan_id_param = {item : {value:"id",text:"nama"},parent:[{ field: 'cat_id',opr:'=', value: '107' }], order:[]};
                                   var periode_telah_dilaporkan_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: periode_telah_dilaporkan_id_param, type: "POST" } } });
                                   var periode_telah_dilaporkan_id = $("#periode_telah_dilaporkan_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: periode_telah_dilaporkan_id_ds, change:onChange_periode_telah_dilaporkan_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#periode_telah_dilaporkan_id").data("kendoComboBox").value('@fieldModel.periode_telah_dilaporkan_id'); });
                                   function onChange_periode_telah_dilaporkan_id() {if ($("#periode_telah_dilaporkan_id").data("kendoComboBox").value() != '' && $("#periode_telah_dilaporkan_id").data("kendoComboBox")._oldIndex == -1) {$("#periode_telah_dilaporkan_id").data("kendoComboBox").value('');}
                                   }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_tanggal_pelaporan" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "tanggal_pelaporan")</div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_tanggal_pelaporan" class="form-item-field">
                                <input id="dt_tanggal_pelaporan" name="dt_tanggal_pelaporan" data-role="datepicker" data-type="date" data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_legal","tanggal_pelaporan"))" style="width:130px;" title="@ResxHelper.GetValue("ta_legal", "tanggal_pelaporan") @ResxHelper.GetValue("Message", "IsNotValidDate")." />
                                <span class="k-invalid-msg" data-for="dt_tanggal_pelaporan"></span>
                                <input type="hidden" id="tanggal_pelaporan" name="tanggal_pelaporan" value="@fieldModel.tanggal_pelaporan" />
                                <script>
                                   $("#dt_tanggal_pelaporan").kendoDatePicker({change:on_chage_tanggal_pelaporan, value: "@fieldModel.dt_tanggal_pelaporan", format: "{0:dd/MM/yyyy}" });
                                   function on_chage_tanggal_pelaporan() {
                                       $("#tanggal_pelaporan").val(kendo.toString($("#dt_tanggal_pelaporan").data("kendoDatePicker").value(), "yyyy-MM-dd"));
                                   }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_file_path_bukti_lapor" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "file_path_bukti_lapor")</div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_file_path_bukti_lapor" class="form-item-field">
                                <input name="file_path_bukti_lapor_file" id="file_path_bukti_lapor_file" type="file" />
                                <input name="file_path_bukti_lapor" id="file_path_bukti_lapor" type="hidden" value="@fieldModel.file_path_bukti_lapor" data-required-msg="@ResxHelper.GetValue("Message", "RequiredTextFormat").Replace("{0}", @ResxHelper.GetValue("ta_legal", "file_path_bukti_lapor"))" />
                                <script>
                                var file_path_bukti_lapor_init = @Html.Raw(fieldModel.file_path_bukti_lapor_init);
                                $("#file_path_bukti_lapor_file").kendoUpload({multiple:false,
                                    async: {
                                        saveUrl: "@ViewBag.BaseUrl/Legal/save_file_path_bukti_lapor",
                                        removeUrl: "@ViewBag.BaseUrl/Legal/remove_file_path_bukti_lapor",
                                        autoUpload: true
                                    },
                                    validation: {allowedExtensions: [".jpg", ".jpeg", ".png", ".pdf", ".xls", ".xlsx"], maxFileSize: 256000},
                                    files: file_path_bukti_lapor_init,
                                    success: onSuccessUpload,
                                    select: OnselectUpload_file_path_bukti_lapor
                                });
                                function OnselectUpload_file_path_bukti_lapor(e) {OnselectUpload(e, 1);}
                                </script>
                                <span class="k-label k-text-info">Allowed Extensions: ".jpg", ".jpeg", ".png", ".pdf", ".xls", ".xlsx"</span>
                                <br /><span class="k-label k-text-info">Maximum FileSize: @String.Format("{0:N0}", (256000 / 1024)) KB</span>
                            </div>
                        </div>

                        <div id="form_item_no_izin" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "no_izin")<span id="label_req_no_izin" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_no_izin" class="form-item-field">
                                <input type="text" id="no_izin" name="no_izin" class="k-textbox" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_legal","no_izin"))" maxlength="50" style="width:400px;" value="@Html.Raw(fieldModel.no_izin)" title="@ResxHelper.GetValue("ta_legal", "no_izin") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                                <span class="k-invalid-msg" data-for="no_izin"></span>
                            </div>
                        </div>

                        <div id="form_item_institusi_pengesahan_izin_id" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "institusi_pengesahan_izin_id")<span id="label_req_institusi_pengesahan_izin_id" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_institusi_pengesahan_izin_id" class="form-item-field">
                                <input id="institusi_pengesahan_izin_id" name="institusi_pengesahan_izin_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_legal","institusi_pengesahan_izin_id"))" style="width:400px;" />
                                <span class="k-invalid-msg" data-for="institusi_pengesahan_izin_id"></span>
                                <script>
                                   var institusi_pengesahan_izin_id_param = {item : {value:"id",text:"nama"},parent:[{ field: 'cat_id',opr:'=', value: '100' }], order:[]};
                                   var institusi_pengesahan_izin_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: institusi_pengesahan_izin_id_param, type: "POST" } } });
                                   var institusi_pengesahan_izin_id = $("#institusi_pengesahan_izin_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: institusi_pengesahan_izin_id_ds, change:onChange_institusi_pengesahan_izin_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#institusi_pengesahan_izin_id").data("kendoComboBox").value('@fieldModel.institusi_pengesahan_izin_id'); });
                                   function onChange_institusi_pengesahan_izin_id() {if ($("#institusi_pengesahan_izin_id").data("kendoComboBox").value() != '' && $("#institusi_pengesahan_izin_id").data("kendoComboBox")._oldIndex == -1) {$("#institusi_pengesahan_izin_id").data("kendoComboBox").value('');}
                                   }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_tanggal_izin_terbit" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "tanggal_izin_terbit")<span id="label_req_tanggal_izin_terbit" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_tanggal_izin_terbit" class="form-item-field">
                                <input id="dt_tanggal_izin_terbit" name="dt_tanggal_izin_terbit" data-role="datepicker" data-type="date" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_legal","tanggal_izin_terbit"))" style="width:130px;" title="@ResxHelper.GetValue("ta_legal", "tanggal_izin_terbit") @ResxHelper.GetValue("Message", "IsNotValidDate")." />
                                <span class="k-invalid-msg" data-for="dt_tanggal_izin_terbit"></span>
                                <input type="hidden" id="tanggal_izin_terbit" name="tanggal_izin_terbit" value="@fieldModel.tanggal_izin_terbit" />
                                <script>
                                   $("#dt_tanggal_izin_terbit").kendoDatePicker({change:on_chage_tanggal_izin_terbit, value: "@fieldModel.dt_tanggal_izin_terbit", format: "{0:dd/MM/yyyy}" });
                                   function on_chage_tanggal_izin_terbit() {
                                       $("#tanggal_izin_terbit").val(kendo.toString($("#dt_tanggal_izin_terbit").data("kendoDatePicker").value(), "yyyy-MM-dd"));
                                   }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_tgl_masa_berlaku" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "tgl_masa_berlaku")<span id="label_req_tgl_masa_berlaku" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_tgl_masa_berlaku" class="form-item-field">
                                <input id="dt_tgl_masa_berlaku" name="dt_tgl_masa_berlaku" data-role="datepicker" data-type="date" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_legal","tgl_masa_berlaku"))" style="width:130px;" title="@ResxHelper.GetValue("ta_legal", "tgl_masa_berlaku") @ResxHelper.GetValue("Message", "IsNotValidDate")." />
                                <span class="k-invalid-msg" data-for="dt_tgl_masa_berlaku"></span>
                                <input type="hidden" id="tgl_masa_berlaku" name="tgl_masa_berlaku" value="@fieldModel.tgl_masa_berlaku" />
                                <script>
                                   $("#dt_tgl_masa_berlaku").kendoDatePicker({change:on_chage_tgl_masa_berlaku, value: "@fieldModel.dt_tgl_masa_berlaku", format: "{0:dd/MM/yyyy}" });
                                   function on_chage_tgl_masa_berlaku() {
                                       $("#tgl_masa_berlaku").val(kendo.toString($("#dt_tgl_masa_berlaku").data("kendoDatePicker").value(), "yyyy-MM-dd"));
                                   }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_tanggal_habis_izin" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "tanggal_habis_izin")</div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_tanggal_habis_izin" class="form-item-field">
                                <input id="dt_tanggal_habis_izin" name="dt_tanggal_habis_izin" data-role="datepicker" data-type="date" data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_legal","tanggal_habis_izin"))" style="width:130px;" title="@ResxHelper.GetValue("ta_legal", "tanggal_habis_izin") @ResxHelper.GetValue("Message", "IsNotValidDate")." />
                                <span class="k-invalid-msg" data-for="dt_tanggal_habis_izin"></span>
                                <input type="hidden" id="tanggal_habis_izin" name="tanggal_habis_izin" value="@fieldModel.tanggal_habis_izin" />
                                <script>
                                   $("#dt_tanggal_habis_izin").kendoDatePicker({change:on_chage_tanggal_habis_izin, value: "@fieldModel.dt_tanggal_habis_izin", format: "{0:dd/MM/yyyy}" });
                                   function on_chage_tanggal_habis_izin() {
                                       $("#tanggal_habis_izin").val(kendo.toString($("#dt_tanggal_habis_izin").data("kendoDatePicker").value(), "yyyy-MM-dd"));
                                   }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_status_izin_id" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "status_izin_id")<span id="label_req_status_izin_id" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_status_izin_id" class="form-item-field">
                                <input id="status_izin_id" name="status_izin_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_legal","status_izin_id"))" style="width:400px;" />
                                <span class="k-invalid-msg" data-for="status_izin_id"></span>
                                <script>
                                   var status_izin_id_param = {item : {value:"id",text:"nama"},parent:[{ field: 'cat_id',opr:'=', value: '108' }], order:[{ field: 'id', dir: 'asc' }]};
                                   var status_izin_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: status_izin_id_param, type: "POST" } } });
                                   var status_izin_id = $("#status_izin_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: status_izin_id_ds, change:onChange_status_izin_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#status_izin_id").data("kendoComboBox").value('@fieldModel.status_izin_id'); });
                                   function onChange_status_izin_id() {if ($("#status_izin_id").data("kendoComboBox").value() != '' && $("#status_izin_id").data("kendoComboBox")._oldIndex == -1) {$("#status_izin_id").data("kendoComboBox").value('');}
                                   }
                                </script>
                            </div>
                        </div>

                        <div id="form_item_file_path_status_izin" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "file_path_status_izin")</div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_file_path_status_izin" class="form-item-field">
                                <input name="file_path_status_izin_file" id="file_path_status_izin_file" type="file" />
                                <input name="file_path_status_izin" id="file_path_status_izin" type="hidden" value="@fieldModel.file_path_status_izin" data-required-msg="@ResxHelper.GetValue("Message", "RequiredTextFormat").Replace("{0}", @ResxHelper.GetValue("ta_legal", "file_path_status_izin"))" />
                                <script>
                                var file_path_status_izin_init = @Html.Raw(fieldModel.file_path_status_izin_init);
                                $("#file_path_status_izin_file").kendoUpload({multiple:true,
                                    async: {
                                        saveUrl: "@ViewBag.BaseUrl/Legal/save_file_path_status_izin",
                                        removeUrl: "@ViewBag.BaseUrl/Legal/remove_file_path_status_izin",
                                        autoUpload: true
                                    },
                                    validation: {allowedExtensions: [".jpg", ".jpeg", ".png", ".pdf", ".xls", ".xlsx"], maxFileSize: 2097152},
                                    files: file_path_status_izin_init,
                                    success: onSuccessUpload,
                                    select: OnselectUpload_file_path_status_izin
                                });
                                function OnselectUpload_file_path_status_izin(e) {OnselectUpload(e, 2);}
                                </script>
                                <span class="k-label k-text-info">Allowed Extensions: ".jpg", ".jpeg", ".png", ".pdf", ".xls", ".xlsx"</span>
                                <br /><span class="k-label k-text-info">Maximum FileSize: @String.Format("{0:N0}", (2097152 / 1024)) KB</span>
                            </div>
                        </div>

                        <div id="form_item_file_path_dokumen_izin" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "file_path_dokumen_izin")<span id="label_req_file_path_dokumen_izin" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_file_path_dokumen_izin" class="form-item-field">
                                <input name="file_path_dokumen_izin_file" id="file_path_dokumen_izin_file" type="file" />
                                <input name="file_path_dokumen_izin" id="file_path_dokumen_izin" type="hidden" value="@fieldModel.file_path_dokumen_izin" required data-required-msg="@ResxHelper.GetValue("Message", "RequiredTextFormat").Replace("{0}", @ResxHelper.GetValue("ta_legal", "file_path_dokumen_izin"))" />
                                <script>
                                var file_path_dokumen_izin_init = @Html.Raw(fieldModel.file_path_dokumen_izin_init);
                                $("#file_path_dokumen_izin_file").kendoUpload({multiple:true,
                                    async: {
                                        saveUrl: "@ViewBag.BaseUrl/Legal/save_file_path_dokumen_izin",
                                        removeUrl: "@ViewBag.BaseUrl/Legal/remove_file_path_dokumen_izin",
                                        autoUpload: true
                                    },
                                    validation: {allowedExtensions: [".jpg", ".jpeg", ".png", ".pdf", ".xls", ".xlsx"], maxFileSize: 5242880},
                                    files: file_path_dokumen_izin_init,
                                    success: onSuccessUpload,
                                    select: OnselectUpload_file_path_dokumen_izin
                                });
                                function OnselectUpload_file_path_dokumen_izin(e) {OnselectUpload(e, 2);}
                                </script>
                                <span class="k-label k-text-info">Allowed Extensions: ".jpg", ".jpeg", ".png", ".pdf", ".xls", ".xlsx"</span>
                                <br /><span class="k-label k-text-info">Maximum FileSize: @String.Format("{0:N0}", (5242880 / 1024)) KB</span>
                            </div>
                        </div>

                        <div id="form_item_keterangan_izin" class="form-group">
                            <div class="form-item-label220">@ResxHelper.GetValue("ta_legal", "keterangan_izin")<span id="label_req_keterangan_izin" class="required"> *</span></div>
                            <div class="form-item-separator">:</div>
                            <div id="field_item_keterangan_izin" class="form-item-field">
                                <textarea type="text" id="keterangan_izin" name="keterangan_izin" class="k-textbox" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_legal","keterangan_izin"))" maxlength="512" style="width:400px;" title="@ResxHelper.GetValue("ta_legal", "keterangan_izin") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")">@Html.Raw(fieldModel.keterangan_izin)</textarea>
                                <span class="k-invalid-msg" data-for="keterangan_izin"></span>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
			<div class="panel-footer">
				<a id="cancel" class="k-button k-button-icontext" href="#"><i class="far fa-times-circle"></i>&nbsp;<span id="btnCancelText">@ResxHelper.GetValue("Message", "Cancel")</span></a>
				<a id="save" class="k-button k-button-icontext" href="#"><i class="fas fa-save"></i>&nbsp;<span id="btnSaveText">@ResxHelper.GetValue("Message", "Save")</span></a>
			</div>
		</div>
    </div>
</form>

<script>
    var form_type = '@ViewData["form_type"]';
    function ShowHideColumn(form_type)
    {
        if(form_type=='Add')
        {
            var hiden_column = [];
            for (i = 0; i < hiden_column.length; i++) {
                $("#form_item_"+hiden_column[i]).hide();
            }
        }
        else if(form_type=='Edit')
        {
            var hiden_column = [];
            for (i = 0; i < hiden_column.length; i++) {
                $("#form_item_"+hiden_column[i]).hide();
            }
        }
    }
    function setReadOnly(form_type,opt)
    {
        if(opt==true)
        {
            if(form_type=='Add')
            {

            }
            else if(form_type=='Edit')
            {

            }
        }
        else
        {
            if(form_type=='Add')
            {

            }
            else if(form_type=='Edit')
            {

            }
        }
    }
    function display_by_type() {
        $("#form_item_jenis_limbah_tersimpan_id").hide();
        $("#form_item_kode_limbah").hide();
        //
        $("#form_item_periode_telah_dilaporkan_id").hide();
        $("#form_item_tanggal_pelaporan").hide();
        $("#form_item_file_name_bukti_lapor").hide();
        $("#form_item_file_path_bukti_lapor").hide();
        $("#form_item_tanggal_habis_izin").show();
        //
        if ($('#kategori_perizinan_id').data("kendoComboBox").value() == '1' || '@fieldModel.kategori_perizinan_id' == '1') {
            var ji = $('#jenis_perizinan_id').data("kendoComboBox").value();
            if (ji == '18') {
                $("#form_item_jenis_limbah_tersimpan_id").show();
                $("#form_item_kode_limbah").show();
                        
            }
            if (ji=='1' || ji=='14' || ji=='15' || ji=='16') {
                $("#form_item_periode_telah_dilaporkan_id").show();
                $("#form_item_tanggal_pelaporan").show();
                $("#form_item_file_name_bukti_lapor").show();
                $("#form_item_file_path_bukti_lapor").show();
                $("#form_item_tanggal_habis_izin").hide();
            }
        }
    }

    $(document).ready(function () {
        ShowHideColumn(form_type);
        setReadOnly(form_type, true);
        display_by_type();
    });									  
    var validatable = $("#form_edit").kendoValidator().data("kendoValidator");
    $("#save").click(function (e) {
        getListFileUpload("file_path_bukti_lapor");
        getListFileUpload("file_path_status_izin");
        getListFileUpload("file_path_dokumen_izin");
		setReadOnly(form_type, false);
        if (validatable.validate() === true) {
            kendo.ui.progress($("#form_edit"), true);
            $.ajax({
                url: '@ViewData["UrlAction"]', data: $('#form_edit').serialize(), type: 'POST',
                success: function (data) {
                    kendo.ui.progress($("#form_edit"), false);
                    if (data.status == 1) {
                        window.parent.notification.show({title: data.title, message: kendo.toString(data.message) }, "success");
                        if (window.parent.Reload_list_ta_legal) {
                            window.parent.Reload_list_ta_legal();
                        }else if (window.parent.reload_ta_legal) {
                            window.parent.reload_ta_legal(data.pk);
                        }
                        close_self();
                    } else if (data.status == 3) {
                        windows.parent.notification.show({ title: data.title, message: data.message }, "error");
                        setReadOnly(form_type, true);
						close_self();
                    } else {
						setReadOnly(form_type, true);
                        notification.show({ title: data.title, message: data.message }, "error");
                    }
                }
            });
        } else {
            kendo.ui.progress($("#form_edit"), false);
        }
		setReadOnly(form_type, true);
    });
    $("#cancel").kendoButton();
    $("#cancel").click(function (e) {
        close_self();
    });
    function close_self() { if (window.parent.$("#dialog_ta_legal").data("kendoWindow")) { window.parent.$("#dialog_ta_legal").data("kendoWindow").close(); } else { window.parent.$("#dialog").data("kendoWindow").close(); } }
</script>