@using WebApp
@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
    var fieldModel = ViewData["fieldModel"] as WebApp.Areas.Ref.Models.RoomModel.ViewModel;
    ViewData["Title"] = ViewData["TitleHeader"];
    ViewData["PageName"] = "room";
    ViewData["Heading"] = ViewData["TitleHeader"];
    ViewData["Category1"] = "";
    ViewData["Category2"] = "";
}

<form id="form_edit" method="post" class="panel-form">
    <div class="panel">
        <div class="panel-heading">
            <div class="title-header">@ViewData["TitleHeader"]</div>
        </div>
		<div class="panel-container">
			<div class="panel-content">
				<div class="row">
					<div class="col-lg-12">
                        <div id="form_item_id" class="form-group-none">
                           <div class="form-item-label">@ResxHelper.GetValue("ref_room", "id")<span id="label_req_id" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_id" class="form-item-field">
                               <input type="number" id="id" name="id"  min="0" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ref_room","id"))" style ="width:200px;" />
                               <span class="k-invalid-msg" data-for="id"></span>
                               <input type="hidden" id="id_old" name="id_old" value="@fieldModel.id" />
                               <script>
                                   $("#id").kendoNumericTextBox({ format: "{0:N0}", decimals: 0 });
                                   $(document).ready(function () {$("#id").data('kendoNumericTextBox').value('@fieldModel.id');})
                               </script>
                           </div>
                       </div>

                       <div id="form_item_loc_id" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ref_room", "loc_id")<span id="label_req_loc_id" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_loc_id" class="form-item-field">
                               <input id="loc_id" name="loc_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ref_room","loc_id"))" style="width:300px;" />
                               <span class="k-invalid-msg" data-for="loc_id"></span>
                               <script>
                                   var loc_id_param = {item : {value:"id",text:"nama"},parent:[], order:[]};
                                   var loc_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/Location/LookupData", dataType: "json", data: loc_id_param, type: "POST" } } });
                                   var loc_id = $("#loc_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: loc_id_ds, change:onChange_loc_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#loc_id").data("kendoComboBox").value('@fieldModel.loc_id'); });
                                   function onChange_loc_id() {if ($("#loc_id").data("kendoComboBox").value() != '' && $("#loc_id").data("kendoComboBox")._oldIndex == -1) {$("#loc_id").data("kendoComboBox").value('');}
                                   }
                               </script>
                           </div>
                       </div>

                       <div id="form_item_kode" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ref_room", "kode")<span id="label_req_kode" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_kode" class="form-item-field">
                               <input type="text" id="kode" name="kode" class="k-textbox" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ref_room","kode"))"  maxlength="20" style="width:200px;" value="@Html.Raw(fieldModel.kode)" title="@ResxHelper.GetValue("ref_room", "kode") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                               <span class="k-invalid-msg" data-for="kode"></span>
                           </div>
                       </div>

                       <div id="form_item_nama" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ref_room", "nama")<span id="label_req_nama" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_nama" class="form-item-field">
                               <input type="text" id="nama" name="nama" class="k-textbox" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ref_room","nama"))"  maxlength="50" style="width:350px;" value="@Html.Raw(fieldModel.nama)" title="@ResxHelper.GetValue("ref_room", "nama") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                               <span class="k-invalid-msg" data-for="nama"></span>
                           </div>
                       </div>

                       <div id="form_item_keterangan" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ref_room", "keterangan")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_keterangan" class="form-item-field">
                               <textarea type="text" id="keterangan" name="keterangan" class="k-textbox"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ref_room","keterangan"))" maxlength="500" style="width:350px;" title="@ResxHelper.GetValue("ref_room", "keterangan") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")">@Html.Raw(fieldModel.keterangan)</textarea>
                               <span class="k-invalid-msg" data-for="keterangan"></span>
                           </div>
                       </div>

                       <div id="form_item_status_id" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ref_room", "status_id")<span id="label_req_status_id" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_status_id" class="form-item-field">
                               <input id="status_id" name="status_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ref_room","status_id"))" style="width:200px;" />
                               <span class="k-invalid-msg" data-for="status_id"></span>
                               <script>
                                   var status_id_param = {item : {value:"id",text:"nama"},parent:[{ field: 'cat_id',opr:'=', value: '3' }], order:[]};
                                   var status_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: status_id_param, type: "POST" } } });
                                   var status_id = $("#status_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", dataSource: status_id_ds, change:onChange_status_id }).data("kendoComboBox");
                                   $(document).ready(function () { $("#status_id").data("kendoComboBox").value('@fieldModel.status_id'); });
                                   function onChange_status_id() {if ($("#status_id").data("kendoComboBox").value() != '' && $("#status_id").data("kendoComboBox")._oldIndex == -1) {$("#status_id").data("kendoComboBox").value('');}
                                   }
                               </script>
                           </div>
                       </div>

                       <div id="form_item_start_date" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ref_room", "start_date")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_start_date" class="form-item-field">
                               <input id="dt_start_date" name="dt_start_date" data-role="datepicker" data-type="date"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ref_room","start_date"))" style ="width:130px;" title="@ResxHelper.GetValue("ref_room", "start_date") @ResxHelper.GetValue("Message", "IsNotValidDate")." />
                               <span class="k-invalid-msg" data-for="dt_start_date"></span>
                               <input type="hidden" id="start_date" name="start_date" value="@fieldModel.start_date" />
                               <script>
                                   $("#dt_start_date").kendoDatePicker({change:on_chage_start_date, value: "@fieldModel.dt_start_date", format: "{0:dd/MM/yyyy}" });
                                   function on_chage_start_date() {
                                       $("#start_date").val(kendo.toString($("#dt_start_date").data("kendoDatePicker").value(), "yyyy-MM-dd"));
                                   }
                               </script>
                           </div>
                       </div>

                       <div id="form_item_end_date" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ref_room", "end_date")<span id="label_req_end_date" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_end_date" class="form-item-field">
                               <input id="dt_end_date" name="dt_end_date" data-role="datepicker" data-type="date" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ref_room","end_date"))" style ="width:130px;" title="@ResxHelper.GetValue("ref_room", "end_date") @ResxHelper.GetValue("Message", "IsNotValidDate")." />
                               <span class="k-invalid-msg" data-for="dt_end_date"></span>
                               <input type="hidden" id="end_date" name="end_date" value="@fieldModel.end_date" />
                               <script>
                                   $("#dt_end_date").kendoDatePicker({change:on_chage_end_date, value: "@fieldModel.dt_end_date", format: "{0:dd/MM/yyyy}" });
                                   function on_chage_end_date() {
                                       $("#end_date").val(kendo.toString($("#dt_end_date").data("kendoDatePicker").value(), "yyyy-MM-dd"));
                                   }
                               </script>
                           </div>
                       </div>

                       <div id="form_item_sap_otype" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ref_room", "sap_otype")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_sap_otype" class="form-item-field">
                               <input type="text" id="sap_otype" name="sap_otype" class="k-textbox"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ref_room","sap_otype"))"  maxlength="2" style="width:200px;" value="@Html.Raw(fieldModel.sap_otype)" title="@ResxHelper.GetValue("ref_room", "sap_otype") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                               <span class="k-invalid-msg" data-for="sap_otype"></span>
                           </div>
                       </div>

                        <div id="form_item_sap_objid" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ref_room", "sap_objid")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_sap_objid" class="form-item-field">
                               <input type="number" id="sap_objid" name="sap_objid"   min="0" data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ref_room","sap_objid"))" style ="width:200px;" />
                               <span class="k-invalid-msg" data-for="sap_objid"></span>
                               <script>
                                   $("#sap_objid").kendoNumericTextBox({ format: "{0:N0}", decimals: 0 });
                                   $(document).ready(function () {$("#sap_objid").data('kendoNumericTextBox').value('@fieldModel.sap_objid');})
                               </script>
                           </div>
                       </div>

                       <div id="form_item_sap_otjid" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ref_room", "sap_otjid")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_sap_otjid" class="form-item-field">
                               <input type="text" id="sap_otjid" name="sap_otjid" class="k-textbox"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ref_room","sap_otjid"))"  maxlength="10" style="width:200px;" value="@Html.Raw(fieldModel.sap_otjid)" title="@ResxHelper.GetValue("ref_room", "sap_otjid") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                               <span class="k-invalid-msg" data-for="sap_otjid"></span>
                           </div>
                       </div>

                       <div id="form_item_sap_short" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ref_room", "sap_short")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_sap_short" class="form-item-field">
                               <input type="text" id="sap_short" name="sap_short" class="k-textbox"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ref_room","sap_short"))"  maxlength="30" style="width:350px;" value="@Html.Raw(fieldModel.sap_short)" title="@ResxHelper.GetValue("ref_room", "sap_short") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                               <span class="k-invalid-msg" data-for="sap_short"></span>
                           </div>
                       </div>

                       <div id="form_item_sap_stext" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ref_room", "sap_stext")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_sap_stext" class="form-item-field">
                               <input type="text" id="sap_stext" name="sap_stext" class="k-textbox"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ref_room","sap_stext"))"  maxlength="255" style="width:350px;" value="@Html.Raw(fieldModel.sap_stext)" title="@ResxHelper.GetValue("ref_room", "sap_stext") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                               <span class="k-invalid-msg" data-for="sap_stext"></span>
                           </div>
                       </div>
                    
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<a id="cancel" class="k-button k-button-icontext" href="#"><i class="far fa-times-circle"></i>&nbsp;<span id="btnCancelText">@ResxHelper.GetValue("Message", "Cancel")</span></a>
				<a id="save" class="k-button k-button-icontext" href="#"><i class="fas fa-save"></i>&nbsp;<span id="btnSaveText">@ResxHelper.GetValue("Message", "Save")</span></a>
			</div>
		</div
    </div>
</form>

<script>
    var form_type = '@ViewData["form_type"]';
    function ShowHideColumn(form_type)
    {
        if(form_type=='Add')
        {
            var hiden_column = [];
            for (i = 0; i < hiden_column.length; i++) {
                $("#form_item_"+hiden_column[i]).hide();
            }
        }
        else if(form_type=='Edit')
        {
            var hiden_column = [];
            for (i = 0; i < hiden_column.length; i++) {
                $("#form_item_"+hiden_column[i]).hide();
            }
        }
    }
    function setReadOnly(form_type,opt)
    {
        if(opt==true)
        {
            if(form_type=='Add')
            {

            }
            else if(form_type=='Edit')
            {

            }
        }
        else
        {
            if(form_type=='Add')
            {

            }
            else if(form_type=='Edit')
            {

            }
        }
    }
    $(document).ready(function () {
        ShowHideColumn(form_type);
        setReadOnly(form_type, true);
    });
    var validatable = $("#form_edit").kendoValidator().data("kendoValidator");
    $("#save").click(function (e) {
        if (validatable.validate() === true) {
            kendo.ui.progress($("#form_edit"), true);
            $.ajax({
                url: '@ViewData["UrlAction"]', data: $('#form_edit').serialize(), type: 'POST',
                success: function (data) {
                    kendo.ui.progress($("#form_edit"), false);
                    if (data.status == 1) {
                        window.parent.notification.show({title: data.title, message: kendo.toString(data.message) }, "success");
                        if (window.parent.Reload_list_ref_room) {
                            window.parent.Reload_list_ref_room();
                        }else if (window.parent.reload_ref_room) {
                            window.parent.reload_ref_room(data.pk);
                        }
                        close_self();
                    } else if (data.status == 3) {
                        windows.parent.notification.show({ title: data.title, message: data.message }, "error");
                        close_self();
                    } else {
                        notification.show({ title: data.title, message: data.message }, "error");
                    }
                }
            });
        } else {
            kendo.ui.progress($("#form_edit"), false);
        }

    });
    $("#cancel").kendoButton();
    $("#cancel").click(function (e) {
        close_self();
    });
    function close_self() { if (window.parent.$("#dialog_ref_room").data("kendoWindow")) { window.parent.$("#dialog_ref_room").data("kendoWindow").close(); } else { window.parent.$("#dialog").data("kendoWindow").close(); } }
</script>