@using WebApp
@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
	var filterColumn = ViewData["filterColumn"] as WebApp.Models.PersonModel.ViewModel;
    ViewData["Title"] = ViewData["TitleHeader"];
    ViewData["PageName"] = "person";
    ViewData["Heading"] = ViewData["TitleHeader"];
    ViewData["Category1"] = "Referensi";
    ViewData["Category2"] = "";
}
<div class="panel">
    <div class="panel-container">
		<div class="panel-content">
			<div id="collapse_filter_ta_person" class="panel panel-collapse collapse">
                <div class="panel-heading-filter">
                    @ResxHelper.GetValue("Message", "FilterDataHeader", "Filter Data")
                </div>
				<div class="panel-body-filter">
                    <section class="filter_cols">
                        <div id="fiter_person_type_id" class="filter_col">
                            <label for="person_type_id" class="label-filter">@ResxHelper.GetValue("ta_person", "person_type_id"): </label>
                            <input id="person_type_id" name="person_type_id" style="width: 200px;" />
                        </div>

                        <div id="fiter_company_id" class="filter_col">
                            <label for="company_id" class="label-filter">@ResxHelper.GetValue("ta_person", "company_id"): </label>
                            <input id="company_id" name="company_id" style="width: 200px;" />
                        </div>

                        <div id="fiter_jenis_kelamin_id" class="filter_col">
                            <label for="jenis_kelamin_id" class="label-filter">@ResxHelper.GetValue("ta_person", "jenis_kelamin_id"): </label>
                            <input id="jenis_kelamin_id" name="jenis_kelamin_id" style="width: 200px;" />
                        </div>

                        <div id="fiter_ba_id" class="filter_col">
                            <label for="ba_id" class="label-filter">@ResxHelper.GetValue("ta_person", "ba_id"): </label>
                            <input id="ba_id" name="ba_id" style="width: 200px;" />
                        </div>

                        <div id="fiter_pa_id" class="filter_col">
                            <label for="pa_id" class="label-filter">@ResxHelper.GetValue("ta_person", "pa_id"): </label>
                            <input id="pa_id" name="pa_id" style="width: 200px;" />
                        </div>

                        <div id="fiter_psa_id" class="filter_col">
                            <label for="psa_id" class="label-filter">@ResxHelper.GetValue("ta_person", "psa_id"): </label>
                            <input id="psa_id" name="psa_id" style="width: 200px;" />
                        </div>

                        <div id="fiter_jabatan_id" class="filter_col">
                            <label for="jabatan_id" class="label-filter">@ResxHelper.GetValue("ta_person", "jabatan_id"): </label>
                            <input id="jabatan_id" name="jabatan_id" style="width: 200px;" />
                        </div>

                        <div id="fiter_status_id" class="filter_col">
                            <label for="status_id" class="label-filter">@ResxHelper.GetValue("ta_person", "status_id"): </label>
                            <input id="status_id" name="status_id" style="width: 200px;" />
                        </div>

                        <div id="fiter_superior_id" class="filter_col">
                            <label for="superior_id" class="label-filter">@ResxHelper.GetValue("ta_person", "superior_id"): </label>
                            <input id="superior_id" name="superior_id" style="width: 200px;" />
                        </div>

                    </section>
				</div>
				<div class="panel-footer-filter">
					<a id="btnResetFilter_ta_person" onclick="reset_filter_ta_person()" class="k-button" title="Reset Filter">@ResxHelper.GetValue("Message", "ResetFilter", "Reset Filter")</a>
				</div>
			</div>
			<div>
				<table id="toolbar_panel" style="width:100%;">
					<tr>
						<td>
							<span id="quick_search_template_ta_person" class="k-textbox k-space-right"><input id="txtSearch_ta_person" placeholder="@ResxHelper.GetValue("Message","QuickSearch")" value="" /><a id="btnSearch_ta_person" href="#" class="k-icon k-i-search">&nbsp;</a></span>
							<img id="btnSearchByColumn_ta_person" title="@ResxHelper.GetValue("Message","ShowSearchByColumn")" style="cursor:pointer" src="~/img/search_by_column.png" width="20">
							<img id="btnShowHideColumn_ta_person" title="@ResxHelper.GetValue("Message","ShowHideColumn")" style="cursor:pointer" src="~/img/show_hide_column.png" width="20">
							<a id="btnShowHideFilter_ta_person" data-toggle="collapse" href="#collapse_filter_ta_person" style="display:none">@ResxHelper.GetValue("Message", "ShowFilter", "Tampilkan Filter")</a>
						</td>
						<td style="float:right">
							<img id="btnExportExcel_ta_person" title="@ResxHelper.GetValue("Message","ExportToExcel")" style="cursor:pointer" src="~/img/excel.png" width="20" />&nbsp;
							<a id="btnAdd_ta_person" onclick="AddData_ta_person()" class="k-button" title="@ResxHelper.GetValue("Message","Add")">@ResxHelper.GetValue("Message", "Add", "Tambah")</a>
						</td>
					<tr>
				</table>
			</div>
			<div id="grid_ta_person"></div>
		</div>
    </div>

</div>
<div id="WinShowHideColumn_ta_person" style="display: none">
    <div id="attr_column_show_hide" style="width:auto;height:auto;overflow-y:scroll;"></div>
</div>
@section ScriptsBlock {
    <script>
		var param = @Html.Raw(JsonConvert.SerializeObject(ViewData["param"]));
		var displayName = @Html.Raw(JsonConvert.SerializeObject(ViewData["displayItem"]));
		var pkKey = @Html.Raw(JsonConvert.SerializeObject(ViewData["pkKey"]));
		var j_data = @Html.Raw(JsonConvert.SerializeObject(ViewData["column_att"]));
		var colNameTooltip_ta_person = [];
		var colbuttonCount_ta_person = 0;
		var columnWidth = 40;
		colbuttonCount_ta_person += param.btnView == 1 ? 1 : 0;
		colbuttonCount_ta_person += param.btnEdit== "1" ? 1 : 0;
		colbuttonCount_ta_person += param.btnDelete == "1" ? 1 : 0;
		colbuttonCount_ta_person += param.btnCopy  == "1" ? 1 : 0;
		if (colbuttonCount_ta_person == 1) { columnWidth = 40; } else if (colbuttonCount_ta_person == 2) { columnWidth = 60; } else if (colbuttonCount_ta_person == 3) { columnWidth = 95; } else if (colbuttonCount_ta_person == 4) { columnWidth = 120; }
		var columnActionWidth_ta_person = columnWidth + "px";
		var item_data = "";
		var col_att = [];
		var showhide_column = "";
		var j = 0;
		var checked = '';
		var aggregate_data_ta_person = [];
		var agg_i = 0
		jQuery.each(j_data, function (i, val) {
			var footerTemplate = "";
			if (val.aggregate != "") {
				footerTemplate = val.footerTemplate!="" ? val.footerTemplate : '#='+val.aggregate+'#';
				aggregate_data_ta_person[agg_i] = { field: val.name, aggregate: val.aggregate };
				agg_i++;
			}
			item_data += item_data != "" ? "," : "";
			item_data += '"' + val.name + '" : { "type": "' + val.type + '" } ';
			if (val.display) {
				col_att[j] = { field: val.name, title: val.title, hidden: JSON.parse(val.hidden), width: val.width, format: val.format, attributes: JSON.parse(val.attributes), encoded: JSON.parse(val.encoded), filterable: JSON.parse(val.filterable), sortable: JSON.parse(val.sortable), headerAttributes: { style: "white-space: normal;vertical-align:middle;text-align:center" },aggregates: [val.aggregate], footerTemplate: footerTemplate };
				j++;
				checked = '';if (val.hidden.toString() == 'false') {checked = 'checked';}
				showhide_column += '<div><input type="checkbox" onclick="ShowHideColumn_ta_person(this)" '+ checked +' value="' + val.name + '" /> ' + val.title + '</div>';
			}
		});
		showhide_column += '<div><input type="checkbox" onclick="ShowHideColumn_ta_person(this)" checked value="' + j + '" /> Action</div>';
		item_data = '{' + item_data + '}';
		var field_data = JSON.parse(item_data);
		var columns_data = col_att;
		var col_command = [];
		var k = 0;
		if (param.btnView== 1) {col_command[k] = { name: "View", text: "", className: "v-view", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); ViewItem_ta_person(data); } };k++;}
		if (param.btnEdit== 1) {col_command[k] = { name: "Edit", text: "", className: "v-pencil", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); EditData_ta_person(data); } };k++;}
		if (param.btnDelete== 1) {col_command[k] = { name: "Delete", text: "", className: "v-close", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); DeleteData_ta_person(data); } };k++;}
		if (param.btnCopy == 1) { col_command[k] = { name: "Copy", text: "", className: "v-copy", click: function (e) { var tr = $(e.target).closest("tr"); var data = this.dataItem(tr); CopyData_ta_person(data); } }; k++; }
		if (colbuttonCount_ta_person > 0) {
			columns_data[j] = {command: col_command, width: columnActionWidth_ta_person, attributes: " style=\"vertical-align:top;\""};
		}
		//==============================
        //=== filter person_type_id 
        var person_type_id_param = { item: { value: 'id', text: 'nama', distinct: '0' } ,parent:[{ field: 'cat_id',opr:'=', value: '7' }], order:[]};
        var person_type_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: person_type_id_param, type: "POST" } } });
        var person_type_id = $("#person_type_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_person_type_id, dataSource: person_type_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#person_type_id").data("kendoComboBox").value('@filterColumn.person_type_id'); });
        function onChange_person_type_id() {
            if ($("#person_type_id").data("kendoComboBox").value() != '' && $("#person_type_id").data("kendoComboBox")._oldIndex == -1) { $("#person_type_id").data("kendoComboBox").value(''); }
                                                    reload_company_id();
            onFilterHeader_ta_person();
        }
        

        //=== filter company_id 
        var company_id_param = { item: { value: 'id', text: 'nama', distinct: '0' } ,parent:[{ field: 'comtype_id',opr:'=', value: '@filterColumn.person_type_id' }], order:[{ field: 'comtype_id', dir: 'asc' },{ field: 'nama', dir: 'asc' }]};
        var company_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/Company/LookupData", dataType: "json", data: company_id_param, type: "POST" } } });
        var company_id = $("#company_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_company_id, dataSource: company_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#company_id").data("kendoComboBox").value('@filterColumn.company_id'); });
        function onChange_company_id() {
            if ($("#company_id").data("kendoComboBox").value() != '' && $("#company_id").data("kendoComboBox")._oldIndex == -1) { $("#company_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_person();
        }
        
                                                function reload_company_id(){
                                                    $("#company_id").data("kendoComboBox").value('');
                                                    var person_type_id = $("#person_type_id").data("kendoComboBox").value();
                                                    var company_id_param = { item: { value: 'id', text: 'nama' }, parent: [{ field: 'comtype_id',opr:'=', value: person_type_id }], order: [{ field: 'comtype_id', dir: 'asc' },{ field: 'nama', dir: 'asc' }] };
                                                    $("#company_id").data("kendoComboBox").dataSource.read(company_id_param);
                                                }


        //=== filter jenis_kelamin_id 
        var jenis_kelamin_id_param = { item: { value: 'id', text: 'nama', distinct: '0' } ,parent:[{ field: 'cat_id',opr:'=', value: '5' }], order:[]};
        var jenis_kelamin_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: jenis_kelamin_id_param, type: "POST" } } });
        var jenis_kelamin_id = $("#jenis_kelamin_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_jenis_kelamin_id, dataSource: jenis_kelamin_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#jenis_kelamin_id").data("kendoComboBox").value('@filterColumn.jenis_kelamin_id'); });
        function onChange_jenis_kelamin_id() {
            if ($("#jenis_kelamin_id").data("kendoComboBox").value() != '' && $("#jenis_kelamin_id").data("kendoComboBox")._oldIndex == -1) { $("#jenis_kelamin_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_person();
        }
        

        //=== filter ba_id 
        var ba_id_param = { item: { value: 'id', text: 'kode,nama', distinct: '0' } ,parent:[], order:[]};
        var ba_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/BusinessArea/LookupData", dataType: "json", data: ba_id_param, type: "POST" } } });
        var ba_id = $("#ba_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_ba_id, dataSource: ba_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#ba_id").data("kendoComboBox").value('@filterColumn.ba_id'); });
        function onChange_ba_id() {
            if ($("#ba_id").data("kendoComboBox").value() != '' && $("#ba_id").data("kendoComboBox")._oldIndex == -1) { $("#ba_id").data("kendoComboBox").value(''); }
                                                    reload_pa_id();
                                                    reload_psa_id();
            onFilterHeader_ta_person();
        }
        

        //=== filter pa_id 
        var pa_id_param = { item: { value: 'id', text: 'kode,nama', distinct: '0' } ,parent:[{ field: 'ba_id',opr:'=', value: '@filterColumn.ba_id' }], order:[]};
        var pa_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/PersonalArea/LookupData", dataType: "json", data: pa_id_param, type: "POST" } } });
        var pa_id = $("#pa_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_pa_id, dataSource: pa_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#pa_id").data("kendoComboBox").value('@filterColumn.pa_id'); });
        function onChange_pa_id() {
            if ($("#pa_id").data("kendoComboBox").value() != '' && $("#pa_id").data("kendoComboBox")._oldIndex == -1) { $("#pa_id").data("kendoComboBox").value(''); }
                                                    reload_psa_id();
            onFilterHeader_ta_person();
        }
        
                                                function reload_pa_id(){
                                                    $("#pa_id").data("kendoComboBox").value('');
                                                    var ba_id = $("#ba_id").data("kendoComboBox").value();
                                                    var pa_id_param = { item: { value: 'id', text: 'kode,nama' }, parent: [{ field: 'ba_id',opr:'=', value: ba_id }], order: [] };
                                                    $("#pa_id").data("kendoComboBox").dataSource.read(pa_id_param);
                                                }


        //=== filter psa_id 
        var psa_id_param = { item: { value: 'id', text: 'kode,nama', distinct: '0' } ,parent:[{ field: 'ba_id',opr:'=', value: '@filterColumn.ba_id' }, { field: 'pa_id',opr:'=', value: '@filterColumn.pa_id' }], order:[]};
        var psa_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/PersonalSubArea/LookupData", dataType: "json", data: psa_id_param, type: "POST" } } });
        var psa_id = $("#psa_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_psa_id, dataSource: psa_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#psa_id").data("kendoComboBox").value('@filterColumn.psa_id'); });
        function onChange_psa_id() {
            if ($("#psa_id").data("kendoComboBox").value() != '' && $("#psa_id").data("kendoComboBox")._oldIndex == -1) { $("#psa_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_person();
        }
        
                                                function reload_psa_id(){
                                                    $("#psa_id").data("kendoComboBox").value('');
                                                    var ba_id = $("#ba_id").data("kendoComboBox").value();
                                                    var pa_id = $("#pa_id").data("kendoComboBox").value();
                                                    var psa_id_param = { item: { value: 'id', text: 'kode,nama' }, parent: [{ field: 'ba_id',opr:'=', value: ba_id }, { field: 'pa_id',opr:'=', value: pa_id }], order: [] };
                                                    $("#psa_id").data("kendoComboBox").dataSource.read(psa_id_param);
                                                }


        //=== filter jabatan_id 
        var jabatan_id_param = { item: { value: 'id', text: 'kode', distinct: '0' } ,parent:[], order:[]};
        var jabatan_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/Jabatan/LookupData", dataType: "json", data: jabatan_id_param, type: "POST" } } });
        var jabatan_id = $("#jabatan_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_jabatan_id, dataSource: jabatan_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#jabatan_id").data("kendoComboBox").value('@filterColumn.jabatan_id'); });
        function onChange_jabatan_id() {
            if ($("#jabatan_id").data("kendoComboBox").value() != '' && $("#jabatan_id").data("kendoComboBox")._oldIndex == -1) { $("#jabatan_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_person();
        }
        

        //=== filter status_id 
        var status_id_param = { item: { value: 'id', text: 'nama', distinct: '0' } ,parent:[{ field: 'cat_id',opr:'=', value: '3' }], order:[]};
        var status_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/LiteralData/LookupData", dataType: "json", data: status_id_param, type: "POST" } } });
        var status_id = $("#status_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_status_id, dataSource: status_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#status_id").data("kendoComboBox").value('@filterColumn.status_id'); });
        function onChange_status_id() {
            if ($("#status_id").data("kendoComboBox").value() != '' && $("#status_id").data("kendoComboBox")._oldIndex == -1) { $("#status_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_person();
        }
        

        //=== filter superior_id 
        var superior_id_param = { item: { value: 'id', text: 'nrp,nama', distinct: '0' } ,parent:[], order:[]};
        var superior_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Person/LookupData", dataType: "json", data: superior_id_param, type: "POST" } } });
        var superior_id = $("#superior_id").kendoComboBox({ filter: "contains", placeholder: "", dataTextField: "text", dataValueField: "value", change: onChange_superior_id, dataSource: superior_id_ds }).data("kendoComboBox");
        $(document).ready(function () { $("#superior_id").data("kendoComboBox").value('@filterColumn.superior_id'); });
        function onChange_superior_id() {
            if ($("#superior_id").data("kendoComboBox").value() != '' && $("#superior_id").data("kendoComboBox")._oldIndex == -1) { $("#superior_id").data("kendoComboBox").value(''); }
            onFilterHeader_ta_person();
        }
        

		//==============================
		$("#collapse_filter_ta_person").on('shown.bs.collapse', function () {
			$("#btnShowHideFilter_ta_person").html('@ResxHelper.GetValue("Message","HideFilter")');
		});
		$("#collapse_filter_ta_person").on('hidden.bs.collapse', function () {
			$("#btnShowHideFilter_ta_person").html('@ResxHelper.GetValue("Message","ShowFilter")');
		});
		//==============================
		var record_ta_person = 0;
		var grid_ta_person_heigth = 0;
		var ds_ta_person_filter = { filter_by_column: [{ name: 'person_type_id',value: '@filterColumn.person_type_id' }, { name: 'company_id',value: '@filterColumn.company_id' }, { name: 'jenis_kelamin_id',value: '@filterColumn.jenis_kelamin_id' }, { name: 'ba_id',value: '@filterColumn.ba_id' }, { name: 'pa_id',value: '@filterColumn.pa_id' }, { name: 'psa_id',value: '@filterColumn.psa_id' }, { name: 'jabatan_id',value: '@filterColumn.jabatan_id' }, { name: 'status_id',value: '@filterColumn.status_id' }, { name: 'superior_id',value: '@filterColumn.superior_id' }] };
		var ds_ta_person = new kendo.data.DataSource({ transport: { read: { url: "@ViewData["UrlGetList"]", dataType: "json", type: "POST", data: ds_ta_person_filter }, parameterMap: function (options) { if (options.filter) { for (var i = 0; i < options.filter.filters.length; i++) { if (options.filter.filters[i].field == 'tanggal') { options.filter.filters[i].value = kendo.toString(options.filter.filters[i].value, "yyyy-MM-dd"); } } } return options; } }, schema: { data: "data", total: "total", aggregates: "aggregates", model: { fields: field_data } }, aggregate: aggregate_data_ta_person, pageSize: 10, serverAggregates: true, serverPaging: true, serverFiltering: true, serverSorting: true });
		var list_ta_person = $("#grid_ta_person").kendoGrid({
			excel: { allPages: true, fileName: '@ViewData["TitleHeader"]'+'.xlsx' },
			dataSource: ds_ta_person, dataBound: onDataBound_ta_person, height: grid_ta_person_heigth, scrollable: true, groupable: false, columnMenu: false, menu: true, resizable: true, filterable: false, sortable: { mode: "multiple", allowUnsort: true }, pageable: { refresh: true, pageSizes: [5, 10, 20, 50, 100, 200], buttonCount: 5 },
			columns: columns_data, editable: false, dataBinding: function () { record_ta_person = (this.dataSource.page() - 1) * this.dataSource.pageSize(); }
		});
		function getParamgrid_ta_person() {
			var filter_by_column= [];var k = 0;
	        if ($("#person_type_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "person_type_id", field: "ta_person.person_type_id", opr: "=", value: $("#person_type_id").data("kendoComboBox").value() };k++;}
            if ($("#company_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "company_id", field: "ta_person.company_id", opr: "=", value: $("#company_id").data("kendoComboBox").value() };k++;}
            if ($("#jenis_kelamin_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "jenis_kelamin_id", field: "ta_person.jenis_kelamin_id", opr: "=", value: $("#jenis_kelamin_id").data("kendoComboBox").value() };k++;}
            if ($("#ba_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "ba_id", field: "ta_person.ba_id", opr: "=", value: $("#ba_id").data("kendoComboBox").value() };k++;}
            if ($("#pa_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "pa_id", field: "ta_person.pa_id", opr: "=", value: $("#pa_id").data("kendoComboBox").value() };k++;}
            if ($("#psa_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "psa_id", field: "ta_person.psa_id", opr: "=", value: $("#psa_id").data("kendoComboBox").value() };k++;}
            if ($("#jabatan_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "jabatan_id", field: "ta_person.jabatan_id", opr: "=", value: $("#jabatan_id").data("kendoComboBox").value() };k++;}
            if ($("#status_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "status_id", field: "ta_person.status_id", opr: "=", value: $("#status_id").data("kendoComboBox").value() };k++;}
            if ($("#superior_id").data("kendoComboBox").value() != "") {filter_by_column[k] = { name: "superior_id", field: "ta_person.superior_id", opr: "=", value: $("#superior_id").data("kendoComboBox").value() };k++;}

			return { filter_by_column:filter_by_column };
		}
		function reset_filter_ta_person() {
	        $("#person_type_id").data("kendoComboBox").value('');
        $("#company_id").data("kendoComboBox").value('');
        $("#jenis_kelamin_id").data("kendoComboBox").value('');
        $("#ba_id").data("kendoComboBox").value('');
        $("#pa_id").data("kendoComboBox").value('');
        $("#psa_id").data("kendoComboBox").value('');
        $("#jabatan_id").data("kendoComboBox").value('');
        $("#status_id").data("kendoComboBox").value('');
        $("#superior_id").data("kendoComboBox").value('');

			onFilterHeader_ta_person();
		}
		function onFilterHeader_ta_person() {
			$("#txtSearch_ta_person").val('');
			paramValue = getParamgrid_ta_person();
			if (list_ta_person.data('kendoGrid').dataSource.page() > 1) {
				list_ta_person.data('kendoGrid').dataSource.page(0);
			}
			list_ta_person.data('kendoGrid').dataSource.transport.options.read.data = paramValue;
			list_ta_person.data("kendoGrid").dataSource.filter([]);
		};
		$("#btnSearchByColumn_ta_person").click(function () { var grid_ta_person_heigth_filter = grid_ta_person_heigth + 38; if (list_ta_person.data("kendoGrid").options.filterable == false) { $('#btnSearchByColumn_ta_person').prop('title', '@ResxHelper.GetValue("Message","HideSearchByColumn")'); $("#txtSearch_ta_person").val(''); if ('1' == '1') { $("#quick_search_template_ta_person").hide(); }; QuickSearch_ta_person(); list_ta_person.data("kendoGrid").setOptions({ height: grid_ta_person_heigth_filter, filterable: { mode: "row" }, }); } else { $('#btnSearchByColumn_ta_person').prop('title', '@ResxHelper.GetValue("Message","ShowSearchByColumn")'); $("#txtSearch_ta_person").val(''); if ('1' == '1') { $("#quick_search_template_ta_person").show(); }; QuickSearch_ta_person(); list_ta_person.data("kendoGrid").setOptions({ height: grid_ta_person_heigth, filterable: false, }); } });
		$("#btnSearch_ta_person").click(function () { QuickSearch_ta_person(); });
		$('#txtSearch_ta_person').keypress(function (e) { if (e.keyCode == 13) { QuickSearch_ta_person(); } });
		function QuickSearch_ta_person() {
			$filter = new Array();
			$x = $("#txtSearch_ta_person").val();
			if ($x) {jQuery.each(j_data, function (i, val) {if (val.display && val.qsearch && val.type =='string') {$filter.push({ name: val.name, opr: "contains", value: $x });}});} 
			if ($filter.length > 0) {list_ta_person.data("kendoGrid").dataSource.filter({ logic: "or", filters: $filter });}else {list_ta_person.data("kendoGrid").dataSource.filter([]);}
		}
		function Reload_list_ta_person() { list_ta_person.data('kendoGrid').dataSource.read(); list_ta_person.data('kendoGrid').refresh(); }
		function onDataBound_ta_person(e) {
			if (colbuttonCount_ta_person > 0) {
				var grid = $("#grid_ta_person").data("kendoGrid"); var list_ta_person = grid.dataSource.view();
				for (var i = 0; i < list_ta_person.length; i++) {
					var currentUid = list_ta_person[i].uid; var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
					if (param.btnView == 1) {
						var viewButton = $(currenRow).find(".k-grid-View"); viewButton.attr("title", "@ResxHelper.GetValue("Message","View")");
						if ("@ViewData["AllowView"]" == "1") {} else {viewButton.hide();}
					}
					if (param.btnEdit == 1) {
						var editButton = $(currenRow).find(".k-grid-Edit"); editButton.attr("title", "@ResxHelper.GetValue("Message","Edit")");
						if ("@ViewData["AllowEdit"]" == "1") {} else {editButton.hide();}
					}
					if (param.btnDelete == 1) {
						var deleteButton = $(currenRow).find(".k-grid-Delete"); deleteButton.attr("title", "@ResxHelper.GetValue("Message","Delete")");
						if ("@ViewData["AllowDelete"]" == "1") {} else {deleteButton.hide();}
					}
					if (param.btnCopy == 1) {
						var copyButton = $(currenRow).find(".k-grid-Copy"); copyButton.attr("title", "@ResxHelper.GetValue("Message","Copy")");
						if ("@ViewData["AllowAdd"]" == "1") {} else {copyButton.hide();}
					}
				}
			}
		}
		function AddData_ta_person() {var contentUrl = '@ViewData["UrlAdd"]'; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog, }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param.btn_add_modal_width, height: param.btn_add_modal_height, minHeight: 300, });if(param.btn_add_modal_width == 0) {form_edit.data("kendoWindow").center().open().maximize()} else {form_edit.data("kendoWindow").center().open();}}
		function ViewItem_ta_person(data) { var qs = '';jQuery.each(pkKey, function (i, val) {qs += qs != "" ? "&" : "";qs += val+'=' + data[val];});var contentUrl = '@ViewData["UrlView"]?' + qs; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param.btn_view_modal_width, height: param.btn_view_modal_height, minHeight: 300, }); if (param.btn_view_modal_width == 0) { form_edit.data("kendoWindow").center().open().maximize() } else { form_edit.data("kendoWindow").center().open(); }}
		function EditData_ta_person(data) { var qs = '';jQuery.each(pkKey, function (i, val) {qs += qs != "" ? "&" : "";qs += val+'=' + data[val];}); var contentUrl = '@ViewData["UrlEdit"]?' + qs; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param.btn_edit_modal_width, height: param.btn_edit_modal_height, minHeight: 300, }); if(param.btn_edit_modal_width == 0) {form_edit.data("kendoWindow").center().open().maximize()} else {form_edit.data("kendoWindow").center().open();} }
		function CopyData_ta_person(data) { var qs = '';jQuery.each(pkKey, function (i, val) {qs += qs != "" ? "&" : "";qs += val+'=' + data[val];}); var contentUrl = '@ViewData["UrlCopy"]?' + qs; var form_edit = $("#dialog").kendoWindow({ iframe: true, content: { url: contentUrl }, actions: ["Minimize", "Maximize", "Close"], close: onCloseDialog }); form_edit.data("kendoWindow").setOptions({ title: "", modal: true, resizable: true, width: param.btn_edit_modal_width, height: param.btn_edit_modal_height, minHeight: 300, }); if(param.btn_edit_modal_width == 0) {form_edit.data("kendoWindow").center().open().maximize()} else {form_edit.data("kendoWindow").center().open();} }
		function DeleteData_ta_person(data) {
			var keyValue = '';
			jQuery.each(displayName, function (i, val) {
				keyValue += keyValue != "" ? "<br />" : "";
				keyValue += val.label+ ": " + data[val.name];
			});
			var pkItem = "";
			jQuery.each(pkKey, function (i, val) {
				pkItem += pkItem != "" ? ", " : "";
				pkItem += '"'+val+'":"'+data[val]+'" ';
			});
			var pkVal = jQuery.parseJSON("{" + pkItem + "}");
			var data2 = { title: '@ResxHelper.GetValue("Message","ConfirmDelete")', msg: keyValue };
			var winconfirm = $("#dialogconfirm").kendoWindow({ title: "@ResxHelper.GetValue("Message","DeleteData")", modal: true, visible: false, resizable: true, draggable: true, width: "500px", height: "200px" }).data("kendoWindow");
			winconfirm.content(confirmTemplate(data2));
			winconfirm.center(); winconfirm.open();
			$("#yesButton").click(function () {
				$.ajax({
					data: pkVal, url: '@ViewData["UrlDelete"]', type: 'POST'
					, success: function (data) {
						if (data.status != 1) {
							notification.show({ title: data.title, message: kendo.toString(data.message) }, "error");
							winconfirm.close();
						} else {
							notification.show({ message: kendo.toString(data.message) }, "success");
							Reload_list_ta_person();
							winconfirm.close();
						}
					}
				});
			});
			$("#noButton").click(function () { winconfirm.close(); });
		}
		function onCloseDialog(e) { $('#dialog').html(''); }
		function closeDialog() { $("#dialog").data("kendoWindow").close(); }
		$("#btnExportExcel_ta_person").click(function (e) { var grid = $("#grid_ta_person").data("kendoGrid"); grid.saveAsExcel(); });
		function ShowHideColumn_ta_person(e) { colname = $.isNumeric(e.value) ? parseInt(e.value) : e.value; if (e.checked) { $("#grid_ta_person").data("kendoGrid").showColumn(colname); } else { $("#grid_ta_person").data("kendoGrid").hideColumn(colname); } }
		$(document).ready(function () {
			$("#attr_column_show_hide").html(showhide_column);
			if (param.ShowFilter == 1) { $("#btnShowHideFilter_ta_person").show(); }
			if (param.btnAdd == 1 && @ViewData["AllowAdd"]== "1") { }else{ $("#btnAdd_ta_person").hide(); }
			if (param.quick_search != 1) { $("#quick_search_template_ta_person").hide(); }
			if (param.search_by_column  != 1) { $("#btnSearchByColumn_ta_person").hide(); }
			if (param.show_hide_column != 1) { $("#btnShowHideColumn_ta_person").hide(); }
			if (param.export_exl != 1) { $("#btnExportExcel_ta_person").hide(); }
			$("#btnShowHideColumn_ta_person").click(function () { var x = $("#btnShowHideColumn_ta_person").offset().left; var y = $("#btnShowHideColumn_ta_person").offset().top; if (!WinShowHideColumn_ta_person) { var WinShowHideColumn_ta_person = $("#WinShowHideColumn_ta_person").kendoWindow({ width: "300px", position: { left: x, top: y }, title: "@ResxHelper.GetValue("Message","ShowHideColumn")", actions: ["Close"] }); } WinShowHideColumn_ta_person.data("kendoWindow").open(); });
		});
    </script>
}