@using WebApp
@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
    var fieldModel = ViewData["fieldModel"] as WebApp.Models.FasSpekBejanaTekanModel.ViewModel;
	ViewData["Title"] = ViewData["TitleHeader"];
    ViewData["PageName"] = "fasspekbejanatekan";
    ViewData["Heading"] = ViewData["TitleHeader"];
    ViewData["Category1"] = "";
    ViewData["Category2"] = "";
}
<div class="panel panel-form">
	<div class="panel-container">
		<div class="panel-heading">
			<div class="title-header">@ViewData["TitleHeader"]</div>
		</div>
		<div class="panel-content">
			<div class="row">
				<div class="col-lg-12">

                    <div id="form_item_id" class="form-group-none">
                      <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_bejana_tekan", "id")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_id" class="form-item-view">@Html.Raw(fieldModel.id)</div>
                  </div>

                    <div id="form_item_fasilitas_id" class="form-group-none">
                      <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_bejana_tekan", "fasilitas_id")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_fasilitas_id" class="form-item-view">@Html.Raw(fieldModel.fasilitas_id)</div>
                  </div>

                    <div id="form_item_nomor_aset" class="form-group">
                      <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_bejana_tekan", "nomor_aset")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_nomor_aset" class="form-item-view">@Html.Raw(fieldModel.nomor_aset)</div>
                  </div>

                    <div id="form_item_merk" class="form-group">
                      <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_bejana_tekan", "merk")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_merk" class="form-item-view">@Html.Raw(fieldModel.merk)</div>
                  </div>

                    <div id="form_item_serial_number" class="form-group">
                      <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_bejana_tekan", "serial_number")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_serial_number" class="form-item-view">@Html.Raw(fieldModel.serial_number)</div>
                  </div>

                    <div id="form_item_jenis_bejana_tekan_id" class="form-group">
                      <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_bejana_tekan", "jenis_bejana_tekan_id")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_jenis_bejana_tekan_id" class="form-item-view">@Html.Raw(fieldModel.jenis_bejana_tekan_id_text)</div>
                  </div>

                    <div id="form_item_bahan_gas_diisikan" class="form-group">
                      <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_bejana_tekan", "bahan_gas_diisikan")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_bahan_gas_diisikan" class="form-item-view">@Html.Raw(fieldModel.bahan_gas_diisikan)</div>
                  </div>

                    <div id="form_item_bentuk_bejana_tekan_id" class="form-group">
                      <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_bejana_tekan", "bentuk_bejana_tekan_id")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_bentuk_bejana_tekan_id" class="form-item-view">@Html.Raw(fieldModel.bentuk_bejana_tekan_id_text)</div>
                  </div>

                    <div id="form_item_bahan_bejana" class="form-group">
                      <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_bejana_tekan", "bahan_bejana")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_bahan_bejana" class="form-item-view">@Html.Raw(fieldModel.bahan_bejana)</div>
                  </div>

                    <div id="form_item_isi_volume_liter" class="form-group">
                      <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_bejana_tekan", "isi_volume_liter")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_isi_volume_liter" class="form-item-view">@Html.Raw(fieldModel.isi_volume_liter)</div>
                  </div>

                    <div id="form_item_tekanan" class="form-group">
                      <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_bejana_tekan", "tekanan")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_tekanan" class="form-item-view">@Html.Raw(fieldModel.tekanan)</div>
                  </div>

                    <div id="form_item_photo" class="form-group">
                      <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_bejana_tekan", "photo")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_photo" class="form-item-view">@Html.Raw(fieldModel.photo)</div>
                  </div>

                    <div id="form_item_tgl_periksa_akhir" class="form-group">
                      <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_bejana_tekan", "tgl_periksa_akhir")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_tgl_periksa_akhir" class="form-item-view">@Html.Raw(fieldModel.tgl_periksa_akhir)</div>
                  </div>

                    <div id="form_item_hasil_periksa_akhir" class="form-group">
                      <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_bejana_tekan", "hasil_periksa_akhir")</div>
                      <div class="form-item-separator">:</div>
                      <div id="view_item_hasil_periksa_akhir" class="form-item-view">@Html.Raw(fieldModel.hasil_periksa_akhir_text)</div>
                  </div>

				</div>
			</div>
		</div>
		<div class="panel-footer">
			<a id="close" class="k-button k-button-icontext" href="#"><i class="far fa-times-circle"></i>&nbsp;<span id="btnCloseText">@ResxHelper.GetValue("Message", "Close", "Tutup")</span></a>
		</div>
	</div>
</div>
<script>
    $("#close").kendoButton();
    $("#close").click(function (e) {
        close_self();
    });
    function onCloseDialog(e) { $('#dialog').html(''); }
    function closeDialog() { $("#dialog").data("kendoWindow").close(); }
    function close_self() { if (window.parent.$("#dialog_ta_fas_spek_bejana_tekan").data("kendoWindow")) { window.parent.$("#dialog_ta_fas_spek_bejana_tekan").data("kendoWindow").close(); } else { window.parent.$("#dialog").data("kendoWindow").close(); } }
</script>