@using WebApp
@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
    var fieldModel = ViewData["fieldModel"] as WebApp.Models.PersonAreaModel.ViewModel;
	ViewData["Title"] = ViewData["TitleHeader"];
    ViewData["PageName"] = "personarea";
    ViewData["Heading"] = ViewData["TitleHeader"];
    ViewData["Category1"] = "";
    ViewData["Category2"] = "";
}
<div class="panel panel-form">
	<div class="panel-container">
		<div class="panel-heading">
			<div class="title-header">@ViewData["TitleHeader"]</div>
		</div>
		<div class="panel-content">
			<div class="row">
				<div class="col-lg-12">

                <div id="form_item_id" class="form-item-none">
                    <div class="form-item-label">@ResxHelper.GetValue("ta_person_area", "id")</div>
                    <div class="form-item-separator">:</div>
                    <div id="view_item_id" class="form-item-view">@Html.Raw(fieldModel.id)</div>
                </div>

                <div id="form_item_person_id" class="form-item">
                    <div class="form-item-label">@ResxHelper.GetValue("ta_person_area", "person_id")</div>
                    <div class="form-item-separator">:</div>
                    <div id="view_item_person_id" class="form-item-view">@Html.Raw(fieldModel.person_id_text)</div>
                </div>

                <div id="form_item_ba_id" class="form-item">
                    <div class="form-item-label">@ResxHelper.GetValue("ta_person_area", "ba_id")</div>
                    <div class="form-item-separator">:</div>
                    <div id="view_item_ba_id" class="form-item-view">@Html.Raw(fieldModel.ba_id_text)</div>
                </div>

                <div id="form_item_pa_id" class="form-item">
                    <div class="form-item-label">@ResxHelper.GetValue("ta_person_area", "pa_id")</div>
                    <div class="form-item-separator">:</div>
                    <div id="view_item_pa_id" class="form-item-view">@Html.Raw(fieldModel.pa_id_text)</div>
                </div>

                <div id="form_item_psa_id" class="form-item">
                    <div class="form-item-label">@ResxHelper.GetValue("ta_person_area", "psa_id")</div>
                    <div class="form-item-separator">:</div>
                    <div id="view_item_psa_id" class="form-item-view">@Html.Raw(fieldModel.psa_id_text)</div>
                </div>

                <div id="form_item_status_id" class="form-item">
                    <div class="form-item-label">@ResxHelper.GetValue("ta_person_area", "status_id")</div>
                    <div class="form-item-separator">:</div>
                    <div id="view_item_status_id" class="form-item-view">@Html.Raw(fieldModel.status_id_text)</div>
                </div>

                <div id="form_item_start_date" class="form-item">
                    <div class="form-item-label">@ResxHelper.GetValue("ta_person_area", "start_date")</div>
                    <div class="form-item-separator">:</div>
                    <div id="view_item_start_date" class="form-item-view">@Html.Raw(fieldModel.start_date)</div>
                </div>

                <div id="form_item_end_date" class="form-item">
                    <div class="form-item-label">@ResxHelper.GetValue("ta_person_area", "end_date")</div>
                    <div class="form-item-separator">:</div>
                    <div id="view_item_end_date" class="form-item-view">@Html.Raw(fieldModel.end_date)</div>
                </div>

                <div id="form_item_keterangan" class="form-item">
                    <div class="form-item-label">@ResxHelper.GetValue("ta_person_area", "keterangan")</div>
                    <div class="form-item-separator">:</div>
                    <div id="view_item_keterangan" class="form-item-view">@Html.Raw(fieldModel.keterangan)</div>
                </div>

				</div>
			</div>
		</div>
		<div class="panel-footer">
			<a id="close" class="k-button k-button-icontext" href="#"><i class="far fa-times-circle"></i>&nbsp;<span id="btnCloseText">@ResxHelper.GetValue("Message", "Close", "Tutup")</span></a>
		</div>
	</div>
</div>
<script>
    $("#close").kendoButton();
    $("#close").click(function (e) {
        close_self();
    });
    function onCloseDialog(e) { $('#dialog').html(''); }
    function closeDialog() { $("#dialog").data("kendoWindow").close(); }
    function close_self() { if (window.parent.$("#dialog_ta_person_area").data("kendoWindow")) { window.parent.$("#dialog_ta_person_area").data("kendoWindow").close(); } else { window.parent.$("#dialog").data("kendoWindow").close(); } }
</script>