@using WebApp
@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
    var fieldModel = ViewData["fieldModel"] as WebApp.Models.PerusahaanModel.ViewModel;
    ViewData["Title"] = ViewData["TitleHeader"];
    ViewData["PageName"] = "perusahaan";
    ViewData["Heading"] = ViewData["TitleHeader"];
    ViewData["Category1"] = "";
    ViewData["Category2"] = "";
}

<form id="form_edit" method="post" class="panel-form">
    <div class="panel">
        <div class="panel-heading">
            <div class="title-header">@ViewData["TitleHeader"]</div>
        </div>
		<div class="panel-container">
			<div class="panel-content">
				<div class="row">
					<div class="col-lg-12">
                        <div id="form_item_id" class="form-group-none">
                           <div class="form-item-label">@ResxHelper.GetValue("ref_perusahaan", "id")<span id="label_req_id" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_id" class="form-item-field">
                               <input type="number" id="id" name="id"  min="0" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ref_perusahaan","id"))" style ="width:200px;" />
                               <span class="k-invalid-msg" data-for="id"></span>
                               <input type="hidden" id="id_old" name="id_old" value="@fieldModel.id" />
                               <script>
                                   $("#id").kendoNumericTextBox({ format: "{0:N0}", decimals: 0 });
                                   $(document).ready(function () {$("#id").data('kendoNumericTextBox').value('@fieldModel.id');})
                               </script>
                           </div>
                       </div>

                       <div id="form_item_nama_perusahaan" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ref_perusahaan", "nama_perusahaan")<span id="label_req_nama_perusahaan" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_nama_perusahaan" class="form-item-field">
                               <input type="text" id="nama_perusahaan" name="nama_perusahaan" class="k-textbox" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ref_perusahaan","nama_perusahaan"))"  maxlength="100" style="width:350px;" value="@Html.Raw(fieldModel.nama_perusahaan)" title="@ResxHelper.GetValue("ref_perusahaan", "nama_perusahaan") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                               <span class="k-invalid-msg" data-for="nama_perusahaan"></span>
                           </div>
                       </div>

                       <div id="form_item_alamat" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ref_perusahaan", "alamat")<span id="label_req_alamat" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_alamat" class="form-item-field">
                               <textarea type="text" id="alamat" name="alamat" class="k-textbox" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ref_perusahaan","alamat"))" maxlength="255" style="width:350px;" title="@ResxHelper.GetValue("ref_perusahaan", "alamat") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")">@Html.Raw(fieldModel.alamat)</textarea>
                               <span class="k-invalid-msg" data-for="alamat"></span>
                           </div>
                       </div>

                       <div id="form_item_lb3_usaha_id" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ref_perusahaan", "lb3_usaha_id")<span id="label_req_lb3_usaha_id" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_lb3_usaha_id" class="form-item-field">
                               <input id="lb3_usaha_id_select" name="lb3_usaha_id_select" style="width:350px;" />
                               <span class="k-invalid-msg" data-for="lb3_usaha_id"></span>
                               <input type="hidden" id="lb3_usaha_id" name="lb3_usaha_id" value="@fieldModel.lb3_usaha_id"  required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ref_perusahaan","lb3_usaha_id"))" />
                               <script>
                                   var lb3_usaha_id_param = {item : {value:"id",text:"nama"},parent:[], order:[]};
                                   var lb3_usaha_id_ds = new kendo.data.DataSource({ transport: { read: { url: "@ViewBag.BaseUrl/Ref/Lb3Usaha/LookupData", dataType: "json", data: lb3_usaha_id_param, type: "POST" } } });
                                   var lb3_usaha_id = $("#lb3_usaha_id_select").kendoMultiSelect({ placeholder: "", autoClose: true, filter: 'contains', height: 200, autoBind: false, dataValueField: "value", dataTextField: "text", change: lb3_usaha_id_onChange, autoBind: false, dataSource: lb3_usaha_id_ds });
                                   $(document).ready(function () { $("#lb3_usaha_id_select").data("kendoMultiSelect").value([@fieldModel.lb3_usaha_id]); });
                                   function lb3_usaha_id_onChange() {
                                       var dataItem = $("#lb3_usaha_id_select").data("kendoMultiSelect").dataItems();
                                       var cb_val = '';
                                       var cb_text = '';
                                       for (i = 0; i < dataItem.length; i++) {
                                           cb_val += cb_val != '' ? ',' : ''; cb_val += dataItem[i].value;
                                           cb_text += cb_text != '' ? ',' : ''; cb_text += dataItem[i].text;
                                       }
                                       $("#lb3_usaha_id").val(cb_val);
                                       $("#lb3_usaha_nama").val(cb_text);
                                   }
                               </script>
                           </div>
                       </div>

                       <div id="form_item_lb3_usaha_nama" class="form-group-none">
                           <div class="form-item-label">@ResxHelper.GetValue("ref_perusahaan", "lb3_usaha_nama")</div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_lb3_usaha_nama" class="form-item-field">
                               <input type="text" id="lb3_usaha_nama" name="lb3_usaha_nama" class="k-textbox"  data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ref_perusahaan","lb3_usaha_nama"))"  maxlength="250" style="width:350px;" value="@Html.Raw(fieldModel.lb3_usaha_nama)" title="@ResxHelper.GetValue("ref_perusahaan", "lb3_usaha_nama") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")" />
                               <span class="k-invalid-msg" data-for="lb3_usaha_nama"></span>
                           </div>
                       </div>
                  <div class="form-group"></div>
                    
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<a id="cancel" class="k-button k-button-icontext" href="#"><i class="far fa-times-circle"></i>&nbsp;<span id="btnCancelText">@ResxHelper.GetValue("Message", "Cancel")</span></a>
				<a id="save" class="k-button k-button-icontext" href="#"><i class="fas fa-save"></i>&nbsp;<span id="btnSaveText">@ResxHelper.GetValue("Message", "Save")</span></a>
			</div>
		</div>
    </div>
</form>

<script>
    var form_type = '@ViewData["form_type"]';
    function ShowHideColumn(form_type)
    {
        if(form_type=='Add')
        {
            var hiden_column = [];
            for (i = 0; i < hiden_column.length; i++) {
                $("#form_item_"+hiden_column[i]).hide();
            }
        }
        else if(form_type=='Edit')
        {
            var hiden_column = [];
            for (i = 0; i < hiden_column.length; i++) {
                $("#form_item_"+hiden_column[i]).hide();
            }
        }
    }
    function setReadOnly(form_type,opt)
    {
        if(opt==true)
        {
            if(form_type=='Add')
            {

            }
            else if(form_type=='Edit')
            {

            }
        }
        else
        {
            if(form_type=='Add')
            {

            }
            else if(form_type=='Edit')
            {

            }
        }
    }
    $(document).ready(function () {
        ShowHideColumn(form_type);
        setReadOnly(form_type, true);
    });
    var validatable = $("#form_edit").kendoValidator().data("kendoValidator");
    $("#save").click(function (e) {
		setReadOnly(form_type, false);
        if (validatable.validate() === true) {
            kendo.ui.progress($("#form_edit"), true);
            $.ajax({
                url: '@ViewData["UrlAction"]', data: $('#form_edit').serialize(), type: 'POST',
                success: function (data) {
                    kendo.ui.progress($("#form_edit"), false);
                    if (data.status == 1) {
                        window.parent.notification.show({title: data.title, message: kendo.toString(data.message) }, "success");
                        if (window.parent.Reload_list_ref_perusahaan) {
                            window.parent.Reload_list_ref_perusahaan();
                        }else if (window.parent.reload_ref_perusahaan) {
                            window.parent.reload_ref_perusahaan(data.pk);
                        }
                        close_self();
                    } else if (data.status == 3) {
                        windows.parent.notification.show({ title: data.title, message: data.message }, "error");
                        setReadOnly(form_type, true);
						close_self();
                    } else {
						setReadOnly(form_type, true);
                        notification.show({ title: data.title, message: data.message }, "error");
                    }
                }
            });
        } else {
            kendo.ui.progress($("#form_edit"), false);
        }
		setReadOnly(form_type, true);
    });
    $("#cancel").kendoButton();
    $("#cancel").click(function (e) {
        close_self();
    });
    function close_self() { if (window.parent.$("#dialog_ref_perusahaan").data("kendoWindow")) { window.parent.$("#dialog_ref_perusahaan").data("kendoWindow").close(); } else { window.parent.$("#dialog").data("kendoWindow").close(); } }
</script>