@using WebApp
@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
    var fieldModel = ViewData["fieldModel"] as WebApp.Areas.Sys.Models.ConfigModel.ViewModel;
}
<div class="card">
    <div class="card-header">
        <div class="title-header">@ViewData["TitleHeader"]</div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">

                <div id="form_item_id" class="form-item">
                    <div class="form-item-label">@ResxHelper.GetValue("sys_config", "id")</div>
                    <div class="form-item-separator">:</div>
                    <div id="view_item_id" class="form-item-view">@fieldModel.id</div>
                </div>

                <div id="form_item_category" class="form-item">
                    <div class="form-item-label">@ResxHelper.GetValue("sys_config", "category")</div>
                    <div class="form-item-separator">:</div>
                    <div id="view_item_category" class="form-item-view">@fieldModel.category</div>
                </div>

                <div id="form_item_name" class="form-item">
                    <div class="form-item-label">@ResxHelper.GetValue("sys_config", "name")</div>
                    <div class="form-item-separator">:</div>
                    <div id="view_item_name" class="form-item-view">@fieldModel.name</div>
                </div>

                <div id="form_item_value" class="form-item">
                    <div class="form-item-label">@ResxHelper.GetValue("sys_config", "value")</div>
                    <div class="form-item-separator">:</div>
                    <div id="view_item_value" class="form-item-view">@fieldModel.value</div>
                </div>

                <div id="form_item_ordering" class="form-item">
                    <div class="form-item-label">@ResxHelper.GetValue("sys_config", "ordering")</div>
                    <div class="form-item-separator">:</div>
                    <div id="view_item_ordering" class="form-item-view">@fieldModel.ordering</div>
                </div>

            </div>
        </div>
    </div>
    <div class="card-footer" style="text-align:center">
        <a id="close" class="k-button k-button-icontext" href="#"><i class="far fa-times-circle"></i>&nbsp;<span id="btnCloseText">@ResxHelper.GetValue("Message", "Close", "Tutup")</span></a>
    </div>
</div>
<script>
    $("#close").kendoButton();
    $("#close").click(function (e) {
        close_self();
    });
    function close_self() { if (window.parent.$("#dialog_sys_config").data("kendoWindow")) { window.parent.$("#dialog_sys_config").data("kendoWindow").close(); } else { window.parent.$("#dialog").data("kendoWindow").close(); } }
</script>