@using WebApp
@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
    var fieldModel = ViewData["fieldModel"] as WebApp.Models.FasSpekTpsLb3LayoutModel.ViewModel;
    ViewData["Title"] = ViewData["TitleHeader"];
    ViewData["PageName"] = "fasspektpslb3layout";
    ViewData["Heading"] = ViewData["TitleHeader"];
    ViewData["Category1"] = "";
    ViewData["Category2"] = "";
}

<form id="form_edit" method="post" class="panel-form">
    <div class="panel">
        <div class="panel-heading">
            <div class="title-header">@ViewData["TitleHeader"]</div>
        </div>
		<div class="panel-container">
			<div class="panel-content">
				<div class="row">
					<div class="col-lg-12">
                        <div id="form_item_id" class="form-group-none">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_tps_lb3_layout", "id")<span id="label_req_id" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_id" class="form-item-field">
                               <input type="number" id="id" name="id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_tps_lb3_layout","id"))" style ="width:200px;" />
                               <span class="k-invalid-msg" data-for="id"></span>
                               <input type="hidden" id="id_old" name="id_old" value="@fieldModel.id" />
                               <script>
                                   $("#id").kendoNumericTextBox({ format: "{0:N0}", decimals: 0 });
                                   $(document).ready(function () {$("#id").data('kendoNumericTextBox').value('@fieldModel.id');})
                               </script>
                           </div>
                       </div>

                        <div id="form_item_spek_tps_lb3_id" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_tps_lb3_layout", "spek_tps_lb3_id")<span id="label_req_spek_tps_lb3_id" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_spek_tps_lb3_id" class="form-item-field">
                               <input type="number" id="spek_tps_lb3_id" name="spek_tps_lb3_id" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_tps_lb3_layout","spek_tps_lb3_id"))" style ="width:200px;" />
                               <span class="k-invalid-msg" data-for="spek_tps_lb3_id"></span>
                               <script>
                                   $("#spek_tps_lb3_id").kendoNumericTextBox({ format: "{0:N0}", decimals: 0 });
                                   $(document).ready(function () {$("#spek_tps_lb3_id").data('kendoNumericTextBox').value('@fieldModel.spek_tps_lb3_id');})
                               </script>
                           </div>
                       </div>

                       <div id="form_item_file_name" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_tps_lb3_layout", "file_name")<span id="label_req_file_name" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_file_name" class="form-item-field">
                               <textarea type="text" id="file_name" name="file_name" class="k-textbox" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_tps_lb3_layout","file_name"))" maxlength="255" style="width:350px;" title="@ResxHelper.GetValue("ta_fas_spek_tps_lb3_layout", "file_name") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")">@Html.Raw(fieldModel.file_name)</textarea>
                               <span class="k-invalid-msg" data-for="file_name"></span>
                           </div>
                       </div>

                       <div id="form_item_file_path" class="form-group">
                           <div class="form-item-label">@ResxHelper.GetValue("ta_fas_spek_tps_lb3_layout", "file_path")<span id="label_req_file_path" class="required"> *</span></div>
                           <div class="form-item-separator">:</div>
                           <div id="field_item_file_path" class="form-item-field">
                               <textarea type="text" id="file_path" name="file_path" class="k-textbox" required data-required-msg="@ResxHelper.GetValue("Message","RequiredTextFormat").Replace("{0}",@ResxHelper.GetValue("ta_fas_spek_tps_lb3_layout","file_path"))" maxlength="4000" style="width:350px;" title="@ResxHelper.GetValue("ta_fas_spek_tps_lb3_layout", "file_path") @ResxHelper.GetValue("Message", "IsNotValidCharacter")." pattern="@ConfigHelper.GetValue("AllowInputCharacters")">@Html.Raw(fieldModel.file_path)</textarea>
                               <span class="k-invalid-msg" data-for="file_path"></span>
                           </div>
                       </div>
                  <div class="form-group"></div>
                    
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<a id="cancel" class="k-button k-button-icontext" href="#"><i class="far fa-times-circle"></i>&nbsp;<span id="btnCancelText">@ResxHelper.GetValue("Message", "Cancel")</span></a>
				<a id="save" class="k-button k-button-icontext" href="#"><i class="fas fa-save"></i>&nbsp;<span id="btnSaveText">@ResxHelper.GetValue("Message", "Save")</span></a>
			</div>
		</div>
    </div>
</form>

<script>
    var form_type = '@ViewData["form_type"]';
    function ShowHideColumn(form_type)
    {
        if(form_type=='Add')
        {
            var hiden_column = [];
            for (i = 0; i < hiden_column.length; i++) {
                $("#form_item_"+hiden_column[i]).hide();
            }
        }
        else if(form_type=='Edit')
        {
            var hiden_column = [];
            for (i = 0; i < hiden_column.length; i++) {
                $("#form_item_"+hiden_column[i]).hide();
            }
        }
    }
    function setReadOnly(form_type,opt)
    {
        if(opt==true)
        {
            if(form_type=='Add')
            {

            }
            else if(form_type=='Edit')
            {

            }
        }
        else
        {
            if(form_type=='Add')
            {

            }
            else if(form_type=='Edit')
            {

            }
        }
    }
    $(document).ready(function () {
        ShowHideColumn(form_type);
        setReadOnly(form_type, true);
    });
    var validatable = $("#form_edit").kendoValidator().data("kendoValidator");
    $("#save").click(function (e) {
        if (validatable.validate() === true) {
            kendo.ui.progress($("#form_edit"), true);
            $.ajax({
                url: '@ViewData["UrlAction"]', data: $('#form_edit').serialize(), type: 'POST',
                success: function (data) {
                    kendo.ui.progress($("#form_edit"), false);
                    if (data.status == 1) {
                        window.parent.notification.show({title: data.title, message: kendo.toString(data.message) }, "success");
                        if (window.parent.Reload_list_ta_fas_spek_tps_lb3_layout) {
                            window.parent.Reload_list_ta_fas_spek_tps_lb3_layout();
                        }else if (window.parent.reload_ta_fas_spek_tps_lb3_layout) {
                            window.parent.reload_ta_fas_spek_tps_lb3_layout(data.pk);
                        }
                        if (window.parent.parent.Reload_list_ta_fas) {
                            window.parent.parent.Reload_list_ta_fas();
                        }
                        close_self();
                    } else if (data.status == 3) {
                        windows.parent.notification.show({ title: data.title, message: data.message }, "error");
                        close_self();
                    } else {
                        notification.show({ title: data.title, message: data.message }, "error");
                    }
                }
            });
        } else {
            kendo.ui.progress($("#form_edit"), false);
        }

    });
    $("#cancel").kendoButton();
    $("#cancel").click(function (e) {
        close_self();
    });
    function close_self() { if (window.parent.$("#dialog_ta_fas_spek_tps_lb3_layout").data("kendoWindow")) { window.parent.$("#dialog_ta_fas_spek_tps_lb3_layout").data("kendoWindow").close(); } else { window.parent.$("#dialog").data("kendoWindow").close(); } }
</script>